.about-page{
	.carousel{
		margin-top: 2rem;
		position: relative;
		.item{
			display: flex;
			height: 525px;
			position: relative;
			&__body{
				@include perspective(12px, #ee1746, #9d0329);
				background-color: $color7;
				color: $color2;
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				height: 513px;
				justify-content: center;
				padding-left: 160px;
				padding-right: 100px;
				width: 640px;
			}

			img{
				align-self: flex-end;
				vertical-align: top;
			}

			&__title{
				line-height: 1.3;
				font-size: 3.6rem;
				text-transform: uppercase;
				b, strong{
					font-weight: 700;
				}
			}
			&__text{
				font-weight: 100;
				font-size: 1.7rem;
				line-height: 1.5;
				padding-top: 2rem;
			}
		}
	}


	// about
	.about{
		background: url(../images/about-bg.jpg) no-repeat right 72px bottom;
		font-size: 1.7rem;
		margin-top: 7rem;
		min-height: 650px;
		color: $color20;
		padding-right: 700px;
		.heading{
			font-size: 3.6rem;
			padding-bottom: 1.8rem;
		}
		p{
			line-height: 1.5;
		}

		.advantages{
			@include perspective(7px, #dcdcde, #bdbec1);
			background: $color59;
			font-size: 1.5rem;
			margin-top: 2rem;
			padding: 2.3rem 2.8rem 0;
			.point{
				margin-bottom: 2rem;
			}
			.column{
				&:first-child{
					width: 350px;					
				}
			}
		}

		&__video{
			margin-top: 3.5rem;
			font-size: 1.7rem;
			font-weight: 500;
			color: $color1;
			justify-content: space-between;
			width: 100%;
			.video{
				&__item{
					width: 251px;
					img{
						transition: .2s;
						display: block;
						position: relative;
						z-index: 2;
						max-width: 100%;
						height: auto;
					}
				}
				&__link{
					display: block;
					text-decoration: none;
					.pic{
						position: relative;
						&:before,
						&:after
						{
							background: url(../images/play.png) no-repeat;
							@extend .before;
							$s: 80px;
							height: $s;
							width: $s;
							z-index: 3;
							left: 50%;
							top: 50%;
							margin-left: -$s/2;
							margin-top: -$s/2;
						}
						
						&:before{
							background-position: left top;
						}

						&:after{
							background-position: left bottom;
							opacity: 0;
							@include transition-param;
						}


						&__wrapper{
							overflow: hidden;
							&:after{
								@extend .before;
								background: #e6e9ea;
								bottom: -10px;
								height: 100%;
								right: -10px;
								width: 100%;
							}
						}
					}
					&:hover{
						color: $color7;
						img{
							transform: scale(1.2)
						}
						.pic{
							&:after{
								opacity: 1;
							}	
						}
					}
					.title{
						font-weight: 700;
						padding-top: 2.8rem;
					}
				}
			}
		}
	}


	// scheme
	.scheme{
		background:#086e42 url(../images/bg-3.jpg) no-repeat center top / cover;
		color: $color2;
		font-size: 1.7rem;
		line-height: 1.5;
		overflow: hidden;
		padding: 11.3rem 0;
		.title{
			font-size: 3.6rem;
			font-weight: 700;
			padding-bottom: 2.5rem;
			text-transform: uppercase;
		}

		.steps{
			font-size: 2rem;
			font-weight: 700;
			justify-content: center;
			margin-top: 5rem;
			text-align: left;
		}
		.step{
			@extend .flex-cv;
			padding-right: 130px;
			position: relative;
			&:before,
			&:after{
				@extend .before;
			}
			&:after{
				background: url(../images/dots.png) no-repeat right top;
				height: 12px;
				width: 52px;
				top: 44%;
				right: 35px;
			}

			&:before{
				background: url(../images/arrow.png) no-repeat right top;
				bottom: -35px;
				height: 80px;
				right: -60px;
				width: 204px;
			}

			&:last-child{
				padding-right: 0;
				&:after,
				&:before
				{
					display: none;
				}
			}
			p{
				margin-left: 3.5rem;
			}
		}
	}

	.filter{
		padding-top: 5.3rem;
		.flexbox{
			justify-content: space-between;
			align-items: center;
		}
		.title{
			font-size: 3.6rem;
			font-weight: 700;
			padding-bottom: 3.5rem;
			text-transform: uppercase;
		}
		.showflat{
			padding-left: 73px;
			height: 95px;
			&:before{
				left: 27px;
				top: 30px;
			}
		}
		.objects-select__wrap{
			width: 25.5rem;
		}
	}

	#map{
		height: 610px;
	}

	.calculator{
		background: url(../images/calculator.png) no-repeat 180px center;
		padding: 10rem 0 10rem 748px;
		flex-grow: 1;
		.calc-bottom{
			@extend .flex-cv;
			@include perspective(7px, $color57, $color58);
			justify-content: space-between;
			margin-top: 7px;
			width: 685px;
		}
	}


	// report
	.report{
		padding: 7.5rem 0 7rem;
		.list_construction{
			margin-top: 3.5rem;
		}
	}

	// documents
	.documents{
		color: $color50;
		font-size: 1.7rem;
		padding: 8rem 0 10rem;
		.heading{
			padding-bottom: 4.5rem;
		}
		.row{
			flex-wrap: nowrap;
		}
		&__content{
			line-height: 1.5;
			flex-grow: 1;
			padding-right: 16rem;
			a{
				line-height: normal;
				color: $color51;
				@extend .tdu;
			}
		}


		.doclist{
			display: flex;
			margin-bottom: 4rem;
			.column{
				flex: 0 0 50%;
			}
		}

		.doclist__item{
			a{
				color: #4c4c4c;
				display: block;
				font-size: 1.8rem;
				margin-bottom: 2.6rem;
				min-height: 42px;
				position: relative;
				text-decoration: none;
				.meta{
					color: $color52;
					font-size: 1.3rem;
					margin-top: .8rem;
				}
				&:hover{
					color: $color7;
				}

				@extend .icon-doc;
			}
		}

		.callback{
			align-self: flex-start;
			margin-right: 12px;
			width: 320px;
		}
	}
}