.popover {
	box-shadow: 0 5px 20px rgba(73,82,95,.5);
	$w: 430px;
	width: $w;
    display: block;
    background: #fff;
    position: absolute;
    img{
    	display: block;
    }
	.close {
	    position: absolute;
	    right: 5px;
	    top: 1px;
	}
	&-inner{
		width: $w;
	}
	&-container{
		background: #fff;
		width: $w;	
	}

	&-description{
		padding: 10px 17px 8px 17px;
		flex-grow: 1;
	}

	&-title{
		font-size: 19px;
		font-weight: 500;
		margin-bottom: 7px;
	}

	&-content{
		display: flex;
		align-items: center;
	}
	.diagram{
		$s: 56px;
		@extend .flex-center;
		background-repeat: no-repeat;
		background: none !important;
		font-weight: 500;
		position: relative;
		border-radius: $s;
		height: $s;
		width: $s;
		.num{
			position: absolute;
			text-align: center;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@extend .flex-center;
		}
	}

	.left{
		.name{
			color: #000;
			font-size: 15px;
			font-weight: 500;
		}
		color: #575757;
	}

	.right{
		margin-left: 10px;
	}

	&-bottom{
		@extend .flex-cv;
		border-top: 1px solid #d7dce1;
		margin-top: 8px;	
		padding-top: 11px;
		&-right {
			margin-left: 1.4rem;

		}
	}


	&-link{
		font-weight: 500;
		border-bottom: 2px solid #c20831;
		text-decoration: none;
		position: relative;
		overflow: hidden;
		display: block;
		span{
			padding-left: 2px;
			padding-right: 2px;
			position: relative;
			white-space: nowrap;
		}
		&:hover{
			color: $color2;
			&:before{
				transform: translateX(0)
			}
		}

		&:before{
			transition: .3s transform;
			@extend .before;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: #c20831;
			transform: translateX(-100%)
		}
	}

	.close{
		font-weight: 100;
		position: absolute;
		right: 2px;
		text-decoration: none;
		top: -3px;
	}
} 

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}


.popover .arrow {
    border-width: 11px;
}

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #fff;
    border-top-width: 0;
}



.circle {
    display: block;
    float: left;
}
circle {
  fill: rgba(0,0,0,0);
  stroke: #eee;
  stroke-width: 10;
  stroke-dasharray: 144px 144px;
}
circle:nth-child(2n) {
  fill: rgba(0,0,0,0);
  stroke: #b7da50;
  stroke-width: 10;
}
