/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label, dt, dd{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	position: relative;
	font-family: 'museo_sans_cyrl', Arial;
	font-weight: 300;
	@include font-size(1.4);
	font-display: swap;
	height: 100vh;
}

.body{
	perspective: 1000px;
	@include flexbox;
	flex-flow: column;
	height: 100vh;	
	opacity: 0;
	// position: relative;
}

html, body, .body{
	height: 100%
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}


input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper,
.footer{
	transition: .3s transform ease-out;
	transform-origin: 0 50%;
	
}

.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

.flexbox{
	display: flex;
}

/*** standart classes *****/
a{color:#020000; transition: .3s color;}
h1{font-size:4rem; font-weight: 700;}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}

strong,
b{
	font-weight: 900
}

input,
button,
textarea{
	font-family: 'museo_sans_cyrl';
}


.submit,
input[type="submit"]{
	cursor: pointer;
}

.flex-cv{
	display: flex;
	align-items: center;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.transition-bg-color{
	transition: .3s background-color, color ease-out;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		outline: 0;
		border-color: $color7;
		// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}

button{
	cursor: pointer;
}
.btn{
	&-more{
		border: none;
		@extend .flex-cv;
		$h: 4rem;
		border-radius: $h;
		height: $h;
		padding: 0 2rem;
		font-weight: 500;
		font-size: 1.5rem;
	}
	&-white{
		color: #010101;
		background-color: white;
		transition: .3s background-color, color ease-out;
		&:hover{
			background-color: $color7;
			color: $color2;
		}
	}

	&-red{
		border: none;
		$s: 4rem;
		align-items: center;
		background-color: $color7;
		border-radius: $s;
		color: $color2;
		display: inline-flex;
		font-weight: 500;
		font-size: 1.5rem;
		height: $s;
		padding: 0 1.8rem 0 4.6rem;
		text-decoration: none;
		transition: .3s background-color, color ease-out;
		position: relative;
		&:hover{
			background-color: $color8;
			color: $color2;
		}
		&:before{
			@extend .before;
		}
	}

	&-faq,
	&-review{
		// @extend .green-gradient;
		background: $color8new;
		@extend .flex-center;
		color: $color2;
		font-size: 2rem;
		font-weight: 600;
		height: 8rem;
		text-decoration: none;
		width: 100%;
		position: relative;
		span{
			position: relative;
			z-index: 2;
			&:before{
				@extend .before;
							
				left: -42px;
				top: -3px;
			}
		}
		&:after{
			@extend .before;
			background: $color7;
			bottom: 0;
			left: 0;
			opacity: 0;
			right: 0;
			top: 0;
			transition: .3s opacity;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}

	&-faq{
		span{
			&:before{
				@include sprite($icon-question);
			}
		}
	}

	&-review{
		span{
			&:before{
				@include sprite($icon-pencil);
			}
		}
	}
}



.btn-animate{
	background: #00874d;
	border: none;
	color: $color2;
	cursor: pointer;
	font-size: 1.6rem;
	padding: 1.8rem 1.6rem;
	position: relative;
	@include transition-param(background-color);
	span{
		position: relative;
		z-index: 1;
	}
	&:before{
		@extend .before;
		border-bottom: 5px solid $color7;
		bottom: -8px;
		left: 0;
		width: 100%;
	}

	&:after{
		@extend .before;
		transition: .3s height cubic-bezier(0, 0, 0, 1);
		background: $color7;
		bottom: -3px;
		height: 0;
		left: 0;
		width: 100%;
	}
	&:hover{
		&:after{
			height: calc(100% + 3px);
		}
	}
}


.btn-callback{
	background: none;
	$color: $color8;
	color: $color;
	border-radius: 4rem;
	border: 2px solid $color;
	cursor: pointer;
	font-size: 1.5rem;
	height: 4rem;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	transition: .3s background-color, color ease-out;
	white-space: nowrap;
	&:hover{
		color: $color2;
		background: $color8;
	}
}


form{
	$pl: 27px;
	.input-field{
		position: relative;	
		&:before{
			bottom: 15px;
		}	
		label{
			-moz-user-select: none;
			color: $color2;
			font-weight: 300;
			cursor: text;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			padding-left: $pl;
			text-overflow: ellipsis;
			top: 7px;
			transform-origin: left top 0;
			transform: translate3d(0, 9px, 0px);
			transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			white-space: nowrap;
			width: calc(96% - 10px);	
		}	
		.name-field{
			opacity: 0;
			color: #8bab9d;
		}

		.helper-field{
		}
	}

	.is-focused{
		label{
			@include transform(translate3d(0,-7px,0) scale(.8));
		}
		.name-field{
			opacity: 1;
		}
		.helper-field{
			opacity: 0;
		}
	}

	.input-field.is-charged:not(.is-focused) > label.name-field{
		@include transform(translate3d(0px, -7px, 0px) scale(0.8));
	}

	.is-charged{
		label{
			opacity: 0;
		}
		.helper-field{
			opacity: 0
		}
	}

	.form-control{
		background: none;
		height: 40px;
		border: none;
		border-bottom: 2px solid #fff;
		color: #fff;
		padding-left: $pl;
	}
}


.contacts{
	&__cell{
		p{
			font-size: 1.5rem;
			margin-bottom: .4rem;
		}

		a{
			color: $color2;
			font-size: 20px;
			font-weight: 700;
			text-decoration: none;
			margin-left: .2rem;
			.code{
				font-weight: 100;
			}
		}
	}
}


.fill-effect{
	border-bottom: 2px solid $color7;
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	&:before{
		@extend .before;
		top: 0;
		left: 0;
		background-color: $color7;
		transform: translateX(-110%);
		height: 100%;
		width: 100%;
		transition: .3s transform ease-out;
	}
	&:hover{
		&:before{
			transform: translateX(0);
		}
		span{
			color: $color2;			
		}
	}
	span{
		transition: .3s color;
		position: relative;
		z-index: 2;
	}
}


@for $i from 1 to 6 {
	.fade-#{$i}{
		opacity: 0;
		transition: 1.5s opacity;
	}
}	

/* =header
---------------------------*/
.header{
	background: $color2;
	.flexbox{
		height: 10rem;
		flex-wrap: nowrap;
	}

	.btn-callback{
		margin-top: .4rem;
	}

	.logo{
		padding-top: 2.4rem;
	}

	.wishlist{
		margin-left: 0;
	}

	.wishlist-button{
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
	}

	&__top{
		display: none;
		background: #ececec;
		.row{
			@extend .flex-cv;			
			height: 5rem;
			justify-content: space-between;
			.left{
				display: flex;
				flex-grow: 1;
			}
			.contacts__cell{
				&:first-child{
					margin-right: 6rem;					
				}
				a{
					font-size: 1.8rem;
				}
			}
		}
		.btn-callback{
			font-size: 1.4rem;
			height: 3.5rem;
		}
	}
}

.wishlist{

}

.header,
.fixed-header,
.apanel
{
	.wishlist{
		display: flex;
		justify-content: center;		
		padding-top: 1rem;
		width: 65px;
		i{
			font-style: normal;
			@include transition-param(color);
		}
		&__link{
			height: 31px;
			font-size: 1.5rem;
			display: block;
			padding-left: 34px;
			position: relative;
			text-decoration: none;
			&:before,
			&:after{
				@extend .before;
				left: 0;
				top: -5px;
			}

			&:after{
				@include transition-param();
				opacity: 0;
			}
			&:hover{
				&:after{
					opacity: 1;
				}
				i{
					color: $color2;
					position: relative;
					z-index: 3;
				}

				.fill-effect{
					&:before{
						transform: translateX(0);
					}
				}
			}
		}
		.count{
			border-bottom: 2px solid $color7;
			padding: 2px 2px 0;
			text-align: center;
		}
	}
}


.header,
.fixed-header{
	.wishlist{
		&__link{
			&:before{
				@include sprite($icon-star);
			}
			&:after{
				@include sprite($icon-starfill);
			}			
		}
	}
	.flexbox{
		align-items: center;
		justify-content: space-between;
	}
	.contacts{
		&__cell{
			color: $color10;
			margin-left: 2rem;
			a{
				font-weight: 900;
				color: $color1;
			}
			span{
				color: $color9;
			}
		}
	}
}


.fixed-header{
	background: $color2;
	box-shadow: 0 10px 10px rgba(0,0,0,.2);
	position: fixed;
	top: 0;
	transform: translateY(-140%);
	transition: .6s;
	width: 100%;
	z-index: -10;
	
	.flexbox{
		height: 7rem;		
	}

	.btn-callback{
		margin-right: -1rem;
	}
	.contacts{
		&__cell{
			margin-left: 3.5rem;
			p{
				display: inline-block;
				margin-right: .9rem;
			}
		}
	}

	.qfilter{
		flex-grow: 1;
		padding-left: 5rem;
		font-weight: 600;
		font-size: 1.5rem;
		i{
			font-style: normal;
			position: relative;
			z-index: 3;
		}
		a{
			position: relative;
			text-decoration: none;
			padding-left: 55px;
			&:before{
				@extend .before;
				@include sprite($icon-filter);
				left: 0;
			}
			span{
				border-bottom: 2px solid $color7;
			}
		}
	}

	.wishlist{
		margin-left: 2.2rem;
	}

	&.sticky{
		transform: translateY(0);
		z-index: 99;
	}
}



.line-animate{
	display: inline-block;
	position: relative;
	text-decoration: none;
	span{
		@include transition-param(color);
		border-bottom: 2px solid $color7;
		display: inline-block;
		margin-top: 3px;
		overflow: hidden;
		position: relative;
		z-index: 2;
		&:after{
			@include transition-param(transform);
			@extend .before;
			background-color: $color7;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			transform: translateX(-100%)
		}
	}
	&:hover{
		span{
			color: $color2;
			&:after{
				transform: translateX(0)
			}
		}
	}
}


.extra-toggle{
	background-color: $color8;
	border: none;
	cursor: pointer;
	$s: 50px;
	width: $s;
	height: $s;
	display: block;
	margin-left: 1rem;
	margin-top: -.9rem;
	position: relative;
	padding: 0 15px; 
	.icon-bar{
		background: #fff;
		display: block;
		height: 2px;
		margin: 5px 0;
		position: relative;
		z-index: 5;
		transition: .15s margin ease-out;
		&-full{
			width: 20px;
		}
		&-left{
			margin-right: 5px;
		}
		&-right{
			margin-left: 5px;
		}
	}

	&:hover{
		.icon-bar-right{
			margin-left: 0;
		}
		.icon-bar-left{
			margin-right: 0;
		}
		&:after{
			height: calc(100% + 8px);
		}
	}

	&:after{
		@extend .before;
		border-bottom: 5px solid $color7;
		bottom: -8px;
		left: 0;
		width: 100%;
	}
}

.mainnav{
	display: flex;
	flex-grow: 1;
	margin-left: 2.8rem;
	// padding-top: .8rem;
	width: 600px;
	a{
		display: block;
		text-decoration: none;		
	}
	& > ul > li{
		font-weight: 500;
		height: 100%;
		position: relative;
		& > a{
			align-items: center;
			display: flex;
			font-size: 1.6rem;
			height: 100%;
			padding-left: 1.3rem;
			padding-right: 1.3rem;
			transition: .3s background-color ease-out;
			span{
				border-bottom: 3px solid $color7;
			}
		}

		&:hover{
			& > a,
			& > span{
				background: $color7;
				color: $color2;
			}
			ul{
				opacity: 1;
				z-index: 100;
				display: block;
			}
		}

		ul{ //2-level
			// display: none;
			z-index: -10;
			opacity: 0;
			background: $color7;
			position: absolute;
			padding-top: .8rem;
			z-index: 10;
			width: 30rem;
			@include transition-param();
			li{
				a{
					color: $color2;
					display: block;
					font-size: 1.5rem;
					font-weight: normal;
					padding: 1.4rem 2.6rem;
					transition: .3s background-color ease-out;
					&:hover{
						background-color: $color11;
					}
				}
				&.active{
					a, span{
						background-color: $color11;
					}
				}
			}
		}
	}
}
/* =header
---------------------------*/


.green-gradient{
	@include gradient-vertical(#008e54, #0d6640);	
}


.perspective{
	position: relative;
	&:after,
	&:before
	{
		@extend .before;
	}
	&:after{
		background: #00a664;
		height: 100%;
		right: -12px;
		top: 6px;
		transform: skewY(45deg);
		width: 12px;
	}
	&:before{
		background: #007948;
		bottom: -12px;
		height: 12px;
		left: 6px;
		transform: skewX(45deg);
		width: 100%;
	}
}

.perspective-gray{
	@extend .perspective;
	&:after{
		background: #dcdcde;
	}
	&:before{
		background: #bdbec1;
	}
}

/* =callback
---------------------------*/
.callback,
.resume{
	background-color: $color8new;
	color: $color2;
	flex-shrink: 0;
	padding: 3.5rem 4rem;
	width: 30.4rem;
	position: relative;
	
	// @extend .perspective;

	&__title{
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__text{
		font-size: 1.6rem;
		font-weight: 100;
		line-height: 1.5;
		margin-top: 2.5rem;
	}

	.call{
		display: block;
		margin-top: 3.1rem;
		a{
			color: inherit;
			display: inline-block;
			font-size: 2rem;
			font-weight: 700;
			height: 41px;
			line-height: 41px;
			padding-left: 48px;
			text-decoration: none;
		}
		&:before{
			@extend .before;
			@include sprite($icon-tel);
		}
	}

	&__form{
		margin-top: .6rem;
	}

	.input-field{
		margin-top: 1.4rem;
		&:before{
			bottom: 13px;
		}
	}

	.form-control{
		width: 100%;
	}

	.submit{
		display: block;
		font-size: 1.6rem;
		font-weight: 100;
		height: 5.5rem;
		margin-top: 3rem;
		text-align: center;
		width: 185px;
		padding: 0;
		&:hover{
			background-color: $color2;
			color: $color1;
			font-weight: 500;
		}
	}
}

.callback{
	height: 535px;
	margin-right: 0;
	// width: 100%;
}
/* =/callback
---------------------------*/


/* =resume
---------------------------*/
.resume{
	background-color: $color28;
	background-image: none;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	padding-top: 2.3rem;
	
	&__title{
		color: $color1;
		padding-left: 66px;
		&:before{
			left: 0;
			top: 8px;
		}
	}

	&__text{
		color: $color33;
		line-height: 1.6;
		margin-top: 1.5rem;
	}

	.input-field{
		$color: $color34;		
		label{
			color: $color;
			font-size: 1.4rem;
		}
		.form-control{
			color: $color;
			border-bottom-color: $color8;
			&:focus,
			&:active
			{
				border-bottom-color: $color7
			}
		}
	}

	.textarea-field{
		margin-top: 2.2rem;
		label{
			top: 0;
		}
	}

	textarea{
		background: url('data:image/gif;base64,R0lGODlhAQAeAIABAACHTQAAACH5BAEAAAEALAAAAAABAB4AAAIFjI+pC1AAOw==');
		border: none;
		height: 90px;
		line-height: 30px;
		overflow: hidden;
		padding-top: 3px;
		resize: none;
		width: 100%;
		&:focus,
		&:active{
			background:url('data:image/gif;base64,R0lGODlhAQAeAIABAMIIMQAAACH5BAEAAAEALAAAAAABAB4AAAIFjI+pC1AAOw==');
		}
	}

	.submit{
		font-weight: 600;
		padding-left: 3rem;
		padding-right: 3rem;
		width: auto;
	}
	.file-upload{
		color: #9c9c9c;
		span{
			color: #3c3c3c;
		}		
	}
}


.file-upload{
	display: inline-block;
	margin-top: 25px;
	padding-left: 27px;
	&:before{
		left: 0;
	}
	span{
		cursor: pointer;
		@extend .tdu;
		margin-right: .7rem;
	}
	input[type="file"]{
		display: none;
	}

	.file-name{
		margin-top: .3rem;
	}
}
/* =resume
---------------------------*/




.social{
	display: flex;
	flex-grow: 1;
	a{
		$s: 40px;
		align-items: center;
		border-radius: 50%;
		border: 1px solid #fff;
		display: flex;
		height: $s;
		justify-content: center;
		margin-left: .8rem;
		width: $s;
		transition: .3s background, border-color ease-out;
		&:hover{
			$color: $color8;
			background: $color;
			border-color: $color;
		}
	}
}


.modal-menu,
.apanel{
	.close-modal,
	.close-menu
	{
		background: #fff;
		border: none;
		height: 50px;
		position: absolute;
		right: 0;
		top: 20px;
		width: 50px;
		@extend .flex-center;
		svg{
			@include transition-param(transform);			
		}
		&:after{
			@extend .before;
			bottom: -7px;
			width: 100%;
			left: 0;
			border-bottom: 5px solid #c20831;
		}
		&:hover{
			svg{
				@include rotation(90deg);	
			}
		}

		line{
			stroke:black;
			stroke-width:2
		}
	}
}


.modal-menu
{
	background: $color55;
	// @extend .green-gradient;
	left: 0;
	opacity: 0;
	padding: 0 0 10rem;
	position: fixed;
	top: 0;
	transform: translateY(-100%);
	transition: .5s all;
	width: 100%;
	z-index: 9999;

	height: 82%;
	// min-height: 765px;
	.inner{
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}

	.container{
		padding-top: 9.6rem;
		position: relative;
	}
	.row{
		flex-wrap: nowrap;
	}
	.menu{
		color: $color2;
		padding-right: 160px;
		width: 1280px;
		a{
			@extend .tdu;
			color: $color2;
			font-size: 1.5rem;
			font-weight: 100;
		}

		.title,
		dt{
			font-size: 2.2rem;
			position: relative;
			margin-bottom: 25px;
			font-weight: 500;
			&:after{
				@extend .before;
				border-bottom: 2px solid $color7;
				bottom: -8px;
				width: 42px;
			}
		}

		.subtitle{
			font-size: 1.7rem;
			font-weight: 500;
			margin-bottom: 1.6rem !important;
		}

		.columns{
			.column{
				flex: 1 0 50%;
				a{
					width: 100%;
				}
			}
		}

		&__top{
			.flexbox{
				justify-content: space-between;
			}
			.cell{
				p{
					margin-bottom: 1.2rem;
				}
				&-flat{
					flex-grow: 1;
				}
				&-commerce{
					flex: 0 1 320px;
				}
				&-others{
					flex: 0 1 160px;
					p{
						margin-bottom: 3rem;
						&:last-child{
							margin-bottom: 0;
						}
					}
					a{
						font-size: 2.2rem;
						font-weight: 500;

					}
				}
			}
		}

		&__bottom{
			border-top: 2px solid rgba(255,255,255,.2);
			display: flex;
			justify-content: space-between;
			margin-top: 2rem;
			padding-top: 3.5rem;
			dd{
				margin: 1.2rem 0;
			}
		}
	}

	.contacts{
		background: rgba(0,0,0,.2);
		color: $color2;
		padding: 3rem 3.4rem;
		font-size: 1.5rem;
		width: 320px;
		flex-shrink: 0;
		&__cell{
			margin-bottom: 2rem;
			p{
				font-size: 1.8rem;
				font-weight: 500;
			}
		}
		.title{
			font-size: 1.8rem;
			font-weight: 500;
			margin: 1.8rem 0;
			position: relative;
			&:after{
				@extend .before;
				border-bottom: 2px solid $color7;
				bottom: -8px;
				width: 30px;
			}
		}
	}

	.social{
		margin-top: 2.6rem;
		a{
			margin-left: 0;
			margin-right: .9rem;
		}
	}

	.btn-callback{
		border-color: $color2;
		color: $color2;
		margin-top: .8rem;
	}

	.address{
		line-height: 1.4;
		margin-top: 3.3rem;

		b, strong{
			font-weight: 700;
		}
	}


	&.open{
		transform: translateY(0);
		opacity: 1;
	}
}

/* =footer
---------------------------*/
.footer{
	background: $color3 url(../images/footer-bg.png) no-repeat right top;
	color: $color4;
	line-height: 1.4;
	margin-top: auto;
	min-height: 543px;
	padding: 5rem 0;
	img{vertical-align: top;}
	.ao{
		color: $color2;
	}

	&__logo{
		margin-top: .5rem;
	}

	&__content{
		padding-left: 78px;
		padding-right: 78px;
	}

	&__contacts{
		padding-bottom: 3rem;
		border-bottom: 3px solid $color54;
	}

	.contacts{
		&__cell{
			margin-right: 8rem;
			p{
				margin-bottom: .1rem;
			}
		}
	}

	&__menu{
		padding-top: 3.5rem;
		justify-content: space-between;
		a{
			color: $color4;
			@extend .tdu;
		}
		dl{
			margin-bottom: 3.5rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		dd{
			margin-left: 0;
			a{
				&:hover{
					color: $color2;
				}
			}
		}

		dt{
			color: $color2;
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: 1.8rem;
			padding-bottom: 1.5rem;
			position: relative;
			&:after{
				@extend .before;
				border-bottom: 3px solid $color7;
				width: 42px;
				bottom: 0;
				left: 0;
			}
		}

		dd{
			margin: 1rem 0;
		}
	}

	.copyright{
		p{
			margin: 2.5rem 0 1.3rem;
		}
	}

	.idealpromo{
		line-height: 1.5;
		a{
			color: $color5;
			@extend .tdu;
			background: url(../images/idealpromo.png) no-repeat left 5px;
			padding-left: 30px;
		}
	}


	// subscribe
	.subscribe{
		color: $color2;
		margin-top: .7rem;
		.title{
			font-size: 2.4rem;
			font-weight: 700;
		}

		p:not(.title){
			font-size: 1.5rem;
			padding: 2.5rem 0 0.5rem;
		}

		.form-control{
			position: relative;
			width: 24rem;
		}

		.submit{
			margin-top: 2rem;
		}
	}

	.social{
		justify-content: flex-end;
		text-align: right;
	}
}
/* =/footer
---------------------------*/




.carousel-image{
	display: block;
	transition: .3s transform ease-out;
	width: 100%;
}


.visual{
	// margin: 7.2rem auto;
	margin: 7.2rem 0;
	.title{
		font-weight: 500;
		font-size: 3.4rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto
}


.owl{
	&-nav{
		position: absolute;
	}
}


// filter
.filter{
	color: $color1;
	flex-grow: 1;
	padding: 3.5rem 0 3.2rem;
	position: relative;
	z-index: 20;
	.nav{
		flex-shrink: 0;
		width: 160px;
		.btn{
			border: 2px solid #c8d1dc;
			color: $color62;
			display: block;
			font-size: 1.7rem;
			font-weight: 700;
			height: 50px;
			line-height: 50px;
			padding-left: 1.8rem;
			text-decoration: none;
			@include transition-param(border);
			&:hover:not(.active){
				border-color: $color1;
			}
			&:last-child{
				margin-top: -2px;
			}

			&.active{
				border-color: $color8;
				border-right: none;
				color: $color1;
				position: relative;
				&:after{
					@extend .before;
					background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAzBAMAAACUBW49AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAh03///8Ah00Ah00Ah00Ah00Ah00Ah03///+vCw10AAAAB3RSTlMAAHhLdU43VK7zVQAAAAFiS0dEAf8CLd4AAAAHdElNRQfiAhgQDSDq08HMAAAAoUlEQVQoz33SMQ7DIBBEUSxfIFbkPj4FdU7h1mdAlvb6WVgMM1OE7uk3wG4qqZ1lq+eV7EPMhbhGftjzYOTByJMtT7YMrBlYM9Iz0jNxtQPpmdjzw54HIw9Gnmx5csk3cbcvcjtvomekZ+JuFzIXrG87kH4voEe6VflzZ36RvJd/Q/6Kf1L+macgM+IJynx5+rIbvDmyV7x1spOysbLPvO0/ydExditOQqgAAAAASUVORK5CYII=") no-repeat right center;
					right: -26px;
					top: -2px;
					height: 50px;
		
					width: 27px;
				}		
			}
		}
	}
	&__body{
		flex-grow: 1;
	}

	.tab-content{
		flex-grow: 1;
		padding-left: 6.5rem;
		.flexbox{
			justify-content: space-between;
			width: 100%;
		}
	}

	.room{
		&__group{
			display: flex;
		}
		&__checkbox{
			margin-right: 5px;
			width: 40px;

			.checkbox {
				position: absolute;
				z-index: -1;
				opacity: 0;
				margin: 10px 0 0 20px;
			}
			.checkbox + label:hover {
				background: #cfd4da;
				border-color: #cfd4da;
				box-shadow: 0 2px 4px rgba(0,0,0,.2);
			}
			.checkbox + label {
				background: #fff;
				border-radius: 50%;
				border:2px solid #c8d1dc;
				cursor: pointer;
				display: block;
				font-size: 1.7rem;
				font-weight: 700;
				height: 40px;
				position: relative;
				transition: .2s;
				width: 40px;
				z-index: 20;
				text-align: center;
				line-height: 40px;
			}


			.checkbox:checked + label {
				border-color: $color8new;
				background: $color8new;
				color: $color2;
			}
		}
	}


	.cell{
		&__title{
			font-size: 1.6rem;
			font-weight: 700;
		}
	}


	.objects-select__wrap{
		margin-top: .9rem;
		width: 21.5rem;
	}

	.showflat{
		background: $color8new;
		color: $color2;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		font-weight: 500;
		height: 60px;
		justify-content: center;
		padding-left: 55px;
		position: relative;
		text-decoration: none;
		transition: .3s background-color ease-out;
		width: 180px;
		&:hover{
			background-color: $color7;
		}
		&:before{
			@extend .before;
			@include sprite($icon-house2);
			left: 11px;
			top: 11px;
		}
	}

	.showmap{
		background-color: $color7;
		border: none;
		color: $color2;
		display: block;
		font-weight: 500;
		height: 37px;
		margin-top: 3px;
		padding-left: 47px;
		text-align: left;
		transition: .3s background-color ease-out;
		width: 100%;
		position: relative;
		&:hover{
			background-color: $color8;
		}
		&:before{
			@extend .before;
			@include sprite($icon-label);
			left: 20px;
			top: 9px;
		}
	}


	input{
		@include placeholder($color1);
	}

	.selectize-control.multi .selectize-input [data-value]{
		display: none;
		&:first-child{
			display: inline;
		}
	}
	.selectize-dropdown .selected,
	.selectize-dropdown .selected.active{
		background-color: #e9ecf0;
		color: $color1;
	}

	.selectize-dropdown .selected:hover{
		background-color: #00874d;
		color: $color2;
	}


	.selectize-remove-option {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	.selectize-dropdown .option{
		position: relative;
	}

	.selectize-input .item, .selectize-control.single .selectize-input .item {
  	  pointer-events: none;
	}


	.slider{
		margin-top: 2.1rem;
	}

	.slider_controls{
		padding-top: 1rem;
		.separate{
			color: #888f97;
			padding: 0 .5rem;
			text-align: center;
		}	
	}
	.param_control{
		border: none;
		color: $color45;
		border-bottom: 2px solid #00874d;
		height: 4rem;
	}

	.tab-pane{
		min-height: 10rem
	}

	&-inner{
		.showflat{
			padding-left: 70px;
			height: 100%;
			&:before{
				left: 25px;
				margin-top: -20px;
				top: 50%;
			}
		}
	}
}

.installment{
	margin-top: 1.3rem; //homepage.html
	&__container{
		display: flex;
		cursor: pointer;
	}
	&__tooltip{
		$color: $color16;
		$s: 20px;
		border-radius: 50%;
		border: 1px solid $color;
		height: $s;
		margin-left: 18px;
		margin-top: 10px;
		width: $s;
		position: relative;
		&:before{
			display: block;
			content: "?";
			color: $color;
			text-align: center;
			width: 18px;
			line-height: 20px;
			font-size: 1.2rem;
		}

		&_content{
			background: $color2;
			box-shadow: 0 0 20px rgba(112, 121, 133, .25);
			color: #3f3f3f;
			left: calc(100% + 12px);
			line-height: 1.5;
			opacity: 0;
			padding: 1.5rem;
			position: absolute;
			top: -20px;
			transform: translateX(-10px);
			transition: .3s all ease-out;
			visibility: hidden;
			width: 24.5rem;
			z-index: 2;
			&:before{
				@extend .before;
				top: 22px;
				left: -7px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 7px 7px 0;
				border-color: transparent #fff transparent transparent;
			}
		}
		&:hover .installment__tooltip_content{
			opacity: 1;
			transform: translateX(0);
			visibility: visible;
			z-index: 30;
		}
	}
}


.installment,
.panel
{

	$color_1: #00874d;
	$color_2: #c20831;

	// checkbox
	.checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 10px 0 0 20px;
	}
	.checkbox + label {
		color: #363636;
		cursor: pointer;
		// display: block;
		font-size: 1.4rem;
		padding: 0 0 0 35px;
		position: relative;
		min-height: 25px;
		@extend .flex-cv;
	}
	.checkbox + label:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		background: #fff;
		transition: .2s;
		border: 2px solid $color_1;
	}

	.checkbox+ label:hover:before {
		border-color: $color_2;
	}
	
	.checkbox + label:after{
		content: "";
		display: block;
		position: absolute;
		width: 16px;
		height: 12px;
		top: 0;
		z-index: 2;
		left: 0;		
	}

	.checkbox:checked + label:before {
		background: $color_1;
	}

	.checkbox:checked + label:after {
		left: 5px;
		top: 6px;
		background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAQAAADB7vUKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAwEVAiEM9h7bAAAAX0lEQVQY033QwQnAIAxG4X+GTCJ0MEdyhXotdIOu4gyvB1FLo5Lj9yAkQosJXBhacwEebMdQCHs+6opIWjESEaAnP0YiQU8c1xUtyZ7bmS1xPP5wznkERpnx95PG7Rm986n4r0p1BmsAAAAASUVORK5CYII=") no-repeat center;
	}

	.checkbox:checked + label:hover:before {
		border-color: $color_1;
	}
}



.sidemodal{
	background: rgba(0,121,72,.97);
	color: $color2;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 480px;
	z-index: 505;
	transform: translateX(100%);
	transition: .3s transform ease-out;

	&.open{
		transform: translateX(0);		
	}

	.callback__form{
		margin-top: 1.2rem;
	}

	.inner{
		padding: 12.5rem 0 0 3.7rem;
		position: absolute;
		width: 31rem;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-y: auto;
	}
	.title{
		font-weight: 700;
		font-size: 2.5rem;
		text-transform: uppercase;
	}
	.text{
		font-size: 1.6rem;
		line-height: 1.6;
		padding-top: 2.2rem;
		padding-right: 2rem;
	}

	.input-field{
		margin-top: 1.3rem;
		label{
			font-size: 1.4rem;
		}
	}

	.submit{
		margin-top: 4.5rem;
	}

	.form-control{
		width: 100%;
	}

}

.close-modal{
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	right: 0px;
	top: 35px;
	z-index: 99;
	svg{
		@include transition-param(transform)
	}
	line{
		stroke:white;
		stroke-width:2
	}
	&:hover{
		svg{
			@include rotation(90deg)
		}
	}
}


.m-modal-open{
	.outerwrapper,
	.footer{
		transform: rotateY(14.6deg);
	}
}



.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}


body.modal-open,
.modal-open-my{
	overflow: hidden;
	width: 100%;
	.outerwrapper,
	footer,
	.fixed-header{
		filter: blur(3px);
	}
}

.text-center{
	text-align: center;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


.rur{
	position: relative;
	&:after{
		content:"\20BD"; 
		font-weight: bold;
	}
}


.bg-gray{
	background: #f3f3f4;

}

.bg-white{
	background-color: $color2;
}



.square-checkbox{
	// checkbox
	.checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 10px 0 0 20px;
	}
	.checkbox + label {
		color: #363636;
		cursor: pointer;
		display: block;
		font-size: 1.4rem;
		padding: 0 0 0 35px;
		position: relative;
	}
	.checkbox + label:before {
		background: #fff;
		border: 2px solid #00874d;
		content: '';
		height: 25px;
		left: 0;
		position: absolute;
		top: 0;
		transition: .2s;
		width: 25px;
	}

	.checkbox+ label:hover:before {
		border-color: #c20831;
	}
	
	.checkbox + label:after{
		content: "";
		display: block;
		height: 12px;
		left: 0;
		position: absolute;
		top: 0;
		width: 16px;
		z-index: 2;
	}

	.checkbox:checked + label:before {
		background: #00874d;
	}

	.checkbox:checked + label:after {
		left: 5px;
		top: 6px;
		background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAQAAADB7vUKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAwEVAiEM9h7bAAAAX0lEQVQY033QwQnAIAxG4X+GTCJ0MEdyhXotdIOu4gyvB1FLo5Lj9yAkQosJXBhacwEebMdQCHs+6opIWjESEaAnP0YiQU8c1xUtyZ7bmS1xPP5wznkERpnx95PG7Rm986n4r0p1BmsAAAAASUVORK5CYII=") no-repeat center;
	}

	.checkbox:checked + label:hover:before {
		border-color: #00874d;
	}
}


.hide{
	display: none;
}