/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	font-family: 'proxima', Arial;
	font-weight: 400;
	@include flexbox;
	@include font-size(1.4);
	flex-flow: column;
	font-display: swap;
	height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}


input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

.flexbox{
	display: flex;
}

/*** standart classes *****/
a{color:#020000; transition: .3s color ease-out;}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}

input,
button,
textarea{
	font-family: 'proxima';
}


.flex-cv{
	display: flex;
	align-items: center;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.transition-bg-color{
	transition: .3s background-color, color ease-out;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		outline: 0;
		border-color: $color7;
		// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.btn-animate{
	background: #00874d;
	border: none;
	color: $color2;
	cursor: pointer;
	font-size: 1.6rem;
	padding: 1.8rem 1.6rem;
	position: relative;
	@include transition-param(background-color);
	span{
		position: relative;
		z-index: 1;
	}
	&:before{
		@extend .before;
		border-bottom: 5px solid $color7;
		bottom: -8px;
		left: 0;
		width: 100%;
	}

	&:after{
		@extend .before;
		transition: .3s height cubic-bezier(0, 0, 0, 1);
		background: $color7;
		bottom: -3px;
		height: 0;
		left: 0;
		width: 100%;
	}
	&:hover{
		&:after{
			height: calc(100% + 3px);
		}
	}
}


.btn-callback{
	background: none;
	$color: $color8;
	color: $color;
	border-radius: 4rem;
	border: 2px solid $color;
	cursor: pointer;
	font-size: 1.5rem;
	height: 4rem;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	transition: .3s background-color, color ease-out;
	white-space: nowrap;
	&:hover{
		color: $color2;
		background: $color8;
	}
}


form{
	$pl: 27px;
	.input-field{
		position: relative;	
		&:before{
			bottom: 15px;
		}	
		label{
			-moz-user-select: none;
			@include font-size(1.6);
			color: $color2;
			font-weight: normal;
			cursor: text;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			padding-left: $pl;
			text-overflow: ellipsis;
			top: 7px;
			transform-origin: left top 0;
			transform: translate3d(0, 9px, 0px);
			transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			white-space: nowrap;
			width: calc(96% - 10px);	
		}	
		.name-field{
			opacity: 0;
			color: #8bab9d;
		}

		.helper-field{
		}
	}

	.is-focused{
		label{
			@include transform(translate3d(0,-7px,0) scale(.8));
		}
		.name-field{
			opacity: 1;
		}
		.helper-field{
			opacity: 0;
		}
	}

	.input-field.is-charged:not(.is-focused) > label.name-field{
		@include transform(translate3d(0px, -7px, 0px) scale(0.8));
	}

	.is-charged{
		label{
			opacity: 0;
		}
		.helper-field{
			opacity: 0
		}
	}

	.form-control{
		background: none;
		height: 40px;
		border: none;
		border-bottom: 2px solid #fff;
		color: #fff;
		padding-left: $pl;
		&:focused{
		}
	}
}



.contacts{
	&__cell{
		p{
			font-size: 1.5rem;
			margin-bottom: .4rem;
		}

		a{
			color: $color2;
			font-size: 20px;
			font-weight: 500;
			text-decoration: none;
			margin-left: .2rem;
			.code{
				font-weight: 100;
			}
		}
	}
}


.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				// @include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}


.fill-effect{
	display: block;
	position: relative;
	overflow: hidden;
	&:before{
		@extend .before;
		top: 0;
		left: 0;
		background-color: $color7;
		transform: translateX(-110%);
		height: 100%;
		width: 100%;
		transition: .3s transform ease-out;
	}
	&:hover{
		&:before{
			transform: translateX(0);
		}
	}
}


/* =header
---------------------------*/
.header{
	.flexbox{
		height: 10rem;
		align-items: center;
		justify-content: space-between;
	}
	.contacts{
		&__cell{
			color: $color10;
			margin-left: 2rem;
			a{
				font-weight: 700;
				color: $color1;
			}
			span{
				color: $color9;
			}
		}
	}

	.btn-callback{
		margin-left: 1.5rem;
		margin-top: .4rem;
	}

	.wishlist{
		display: flex;
		margin-left: 2.2rem;
		padding-top: 1rem;
		width: 65px;
		justify-content: center;
		i{
			font-style: normal;
			@include transition-param(color);
		}
		&__link{
			height: 31px;
			font-size: 1.5rem;
			font-weight: 400;
			display: block;
			padding-left: 34px;
			position: relative;
			text-decoration: none;
			&:before,
			&:after{
				@extend .before;
				left: 0;
				top: -5px;
			}
			&:before{
				@include sprite($icon-star);
			}
			&:after{
				@include sprite($icon-starfill);
				@include transition-param();
				opacity: 0;
			}
			&:hover{
				&:after{
					opacity: 1;
				}
				i{
					color: $color2;
					position: relative;
					z-index: 3;
				}

				.fill-effect{
					&:before{
						transform: translateX(0);
					}
				}
			}
		}
		.count{
			border-bottom: 2px solid $color7;
			padding-left: 2px;
			padding-right: 2px;
			text-align: center;
		}
	}
}

.extra-toggle{
	background-color: $color8;
	border: none;
	cursor: pointer;
	$s: 50px;
	width: $s;
	height: $s;
	display: block;
	margin-left: 1rem;
	margin-top: -.9rem;
	position: relative;
	padding: 0 15px; 
	.icon-bar{
		background: #fff;
		display: block;
		height: 2px;
		margin: 5px 0;
		position: relative;
		z-index: 5;
		transition: .15s margin ease-out;
		&-full{
			width: 20px;
		}
		&-left{
			margin-right: 5px;
		}
		&-right{
			margin-left: 5px;
		}
	}

	&:hover{
		.icon-bar-right{
			margin-left: 0;
		}
		.icon-bar-left{
			margin-right: 0;
		}
		&:after{
			height: calc(100% + 8px);
		}
	}

	&:after{
		@extend .before;
		border-bottom: 5px solid $color7;
		bottom: -8px;
		left: 0;
		width: 100%;
	}
}

.mainnav{
	flex-grow: 1;
	display: flex;
	margin-left: 2.8rem;
	.nav{
		padding-top: .6rem;
	}
	a{
		display: block;
		text-decoration: none;		
	}
	& > ul > li{
		font-weight: 600;
		height: 100%;
		position: relative;
		& > a{
			height: 100%;
			padding-left: 1.2rem;
			padding-right: 1.2rem;
			font-size: 1.6rem;
			display: flex;
			align-items: center;
			transition: .3s background-color ease-out;
			span{
				border-bottom: 3px solid $color7;
			}
			&:hover{
				// padding-left: 1.3rem;
				// padding-right: 1.3rem;
				// font-weight: normal;
				background: $color7;
				color: $color2;
			}
		}

		&:hover{
			ul{
				opacity: 1;
				z-index: 100;
				display: block;
			}
		}

		ul{ //2-level
			// display: none;
			z-index: -10;
			opacity: 0;
			background: $color7;
			position: absolute;
			padding-top: .8rem;
			z-index: 10;
			width: 30rem;
			@include transition-param();
			li{
				a{
					color: $color2;
					display: block;
					font-size: 1.5rem;
					font-weight: normal;
					padding: 1.4rem 2.6rem;
					transition: .3s background-color ease-out;
					&:hover{
						background-color: $color11;
					}
				}
				&.active{
					a, span{
						background-color: $color11;
					}
				}
			}
		}
	}
}
/* =header
---------------------------*/








/* =footer
---------------------------*/
.footer{
	background: $color3;
	margin-top: auto;
	color: $color4;
	padding: 5rem 0;
	a{

	}
	.ao{
		color: $color2;
	}

	&__content{
		padding-left: 78px;
		padding-right: 78px;
	}

	&__contacts{
		padding-bottom: 3rem;
		border-bottom: 3px solid $color6;
	}

	.contacts{
		&__cell{
			margin-right: 8rem;		
		}
	}

	&__social{
		display: flex;
		flex-grow: 1;
		text-align: right;
		justify-content: flex-end;
		a{
			$s: 40px;
			align-items: center;
			border-radius: 50%;
			border: 1px solid #fff;
			display: flex;
			height: $s;
			justify-content: center;
			margin-left: .8rem;
			width: $s;
			transition: .3s background, border-color ease-out;
			&:hover{
				$color: $color8;
				background: $color;
				border-color: $color;
			}
		}
	}

	&__menu{
		padding-top: 3.5rem;
		justify-content: space-between;
		a{
			color: $color4;
			@extend .tdu;
		}
		dl{
			margin-bottom: 3.5rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		dd{
			margin-left: 0;
			a{
				&:hover{
					color: $color2;
				}
			}
		}

		dt{
			font-size: 1.6rem;
			color: $color2;
			padding-bottom: 1.5rem;
			position: relative;
			margin-bottom: 1.8rem;
			&:after{
				@extend .before;
				border-bottom: 3px solid $color7;
				width: 42px;
				bottom: 0;
				left: 0;
			}
		}

		dd{
			margin: 1rem 0;
		}
	}

	.copyright{
		p{
			margin: 2.5rem 0;
		}
	}

	.idealpromo{
		line-height: 1.5;
		a{
			color: $color5;
			@extend .tdu;
			background: url(../images/idealpromo.png) no-repeat left 5px;
			padding-left: 30px;
		}
	}


	// subscribe
	.subscribe{
		width: 90%;
		.title{
			color: $color2;
			font-size: 2.4rem;
			font-weight: 500;
		}

		p:not(.title){
			padding: 2.5rem 0;
		}

		.form-control{
			position: relative;
			width: 24rem;
		}

		.submit{
			margin-top: 2rem;
		}
	}
}


.icon-people{
	&:before{
		@extend .before;
		@include sprite($icon-people);
	}
}