::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .calculator-page .main aside .box.colors .radio+label{
	margin-right: 1rem;
	white-space: nowrap;
}


// edge
@supports (-ms-ime-align:auto) {
	.sidebar .active:after{
		display: none;
	}
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html,
	body,
	.body{
		display: block;
		height: auto;
	}

	.body{
		perspective: 0
	}

	.m-modal-open .footer, .m-modal-open .outerwrapper{
		transform: rotateY(0)
	}

	.about-page .carousel .owl-nav,
	.feature .promo .owl-nav{
		margin-top: -140px;
		top: 50%;
	}

	.intro{
		&__left{
			flex-shrink: 0
		}
	}

	.subscribe{
		.submit{
			width: 170px;
		}
	}


	.pagination{
		.prev,
		.next{
			&:before{
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAMAAACKJ8VmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEWntcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcb///+kZQ3uAAAAM3RSTlMAS2MCROr9aEXm8FtC4/JW5O1X7t9HkT9J6f70+fr7WOv1/OWSTE/d51TsU+9aRmpNZQPrV+6mAAAAAWJLR0Q0qbHp/QAAAAd0SU1FB+IDEQ8ZDKG3+A0AAACESURBVBjTZY/bDoIwEAUXReQmBbSIKIIKKN4Qzv//mybYxK3ztJnsZFuiL8ZkSgxzZs2ZsB243q/wFwgES0JEsZYshZasJNsIgWSdKgwSG2TY7nLFnooSwCE/KiwieQIqv1Y04+2zzX8gL4haTTm43rj6vCBo/8L7g6tnmXXc0KsfxuENHzsOdNIv3ksAAAAASUVORK5CYII=") no-repeat left top;		
			}
			&:hover:before{
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAMAAACKJ8VmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEXCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDH///9etyp/AAAAM3RSTlMAS2MCROr9aEXm8FtC4/JW5O1X7t9HkT9J6f70+fr7WOv1/OWSTE/d51TsU+9aRmpNZQPrV+6mAAAAAWJLR0Q0qbHp/QAAAAd0SU1FB+IDAhMoH7TEHAQAAACESURBVBjTZY/bDoIwEAUXReQmBbSIKIIKKN4Qzv//mybYxK3ztJnsZFuiL8ZkSgxzZs2ZsB243q/wFwgES0JEsZYshZasJNsIgWSdKgwSG2TY7nLFnooSwCE/KiwieQIqv1Y04+2zzX8gL4haTTm43rj6vCBo/8L7g6tnmXXc0KsfxuENHzsOdNIv3ksAAAAASUVORK5CYII=") no-repeat;
			}
		}
	}
	.callback{
		width: 360px;
	}

	
	.sidebar .active:after{
		display: none;
	}

	.condo-page .subtitle a{
		margin-left: 10px;
	}

	.card_flat{
		.row{
			flex-wrap: nowrap;
		}
		.flat-page .card__description{
			flex-basis: 595px;
		}
	}


	.installmentbox{
		.row{
			flex-wrap: nowrap;
		}
		&__left{
			flex-basis: 800px;
		}
	}


	.gbi-page .menu li{
		white-space: nowrap;
	}


	.complex-page .about{
		main{
			flex-basis: 640px;
		}
	}


	.list_construction{
		display: block;
		.place__item{
			display: inline-block;
			margin-right: 20px;
			vertical-align: top;
		}
	}

	.listgk-page .main{
		.complex__description{
			width: 858px;
		}
		.listgk-inner{
			padding-right: 0;
		}
	}


	.installment .checkbox+label, .panel .checkbox+label{
		padding-top: 5px;
	}

	.contact__plate{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin-right: 3%;
	}

	.contacts-page .flexbox.main{
		display: block;
	}
}