$color1:#000;
$color2:#fff;
$color3:#052517;
$color4:#adb4be;
$color5:#ff4157;
$color6:#253628;
$color7:#c20831;
$color8:#00874d;
$color9:#009257;
$color10:#353d3f;
$color11:#980928;
$color12:#eaedf0;
$color13:#010101;
$color14:#038650;
$color15:#3d4044;
$color16:#5f6b79;
$color17:#085634;
$color18:#fefefe;
$color19:#80ccac;
$color20:#3b3b3b;
$color21:#e6e9ec;
$color22:#7c8896;
$color23:#575757;
$color24:#a8a8a8;
$color25:#e20c3c;
$color26:#eceff2;
$color27:#7d7d7d;
$color28:#ebeef1;
$color29:#ebeef1;
$color30:#0d6740;
$color31:#515151;
$color32:#717171;
$color33:#4c545b;
$color34:#3c3c3c;
$color35:#424242;
$color36:#f1f3f5;
$color37:#6f6f6f;
$color38:#7e858b;