// =subnav
.subnav{
	a{
		@extend .flex-cv;
		transition: .2s background-color;
		color: $color2;
		font-size: 1.8rem;
		text-decoration: none;
		padding: 0 2rem;
		&:hover{
			background-color: $color25;
		}
		&.active{
			background-color: $color25;
		}
	}
	ul{
		background-color: $color7;
		display: flex;
		li{
			margin-right: 2rem;
		}
	}
}
// =/subnav




.complex-page{
	.breadcrumbs{
		border-top: 1px solid #f3f3f3;
		margin-right: 0;
		color: #a5a5a5;
		a{
			color: currentColor;
		}
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.main{
		padding-top: 0;
		padding-bottom: 0;
	}
	// =main
	.complex{
		&__left{
			color: $color2;
			min-height: 635px;
			position: relative;
			padding-left: 160px;
			padding-right: 160px;
			width: 1120px;
			&:before{
				@extend .before;
				background-color: rgba(0, 116, 66, .9);
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
			}
		}
		
		&__right{
			width: 480px;
			.tab-content{
				padding-left: 3rem;
				padding-right: 3rem;
				padding-bottom: 1.5rem;
				table{
					border-top: none;
					th{
						padding-bottom: 1.2rem;
					}
					td{
						border-top: none;
						border-bottom: 2px solid #eaedf1;
						padding-top: .9rem;
						padding-bottom: .9rem;
					}

					b, strong{
						font-weight: 700;
					}

					tr:last-child td{
						border-bottom: none;
					}
				}
			}
		}


		// panel
		&__panel{
			position: absolute;
			left: 0;
			bottom: 0;
			height: 23.2rem;
			padding-right: 10px;
			.video{
				border-top: 10px solid $color2;
				font-size: 1.8rem;
				position: relative;
				width: 320px;

				.bg{
					&:before,
					&:after{
						@extend .before;
						@include transition-param;
						background: url(../images/play.png) no-repeat left top;
						height: 80px;
						left: 50%;
						margin-left: -36px;
						margin-top: -54px;
						top: 50%;
						width: 80px;
						z-index: 2;
					}

					&:after{
						background-position: left bottom;
						opacity: 0;
					}
				}


				a{
					display: block;
					color: $color2;
					text-decoration: none;
					&:after{
						@extend .before;
					}
					&:after{
						background: rgba(0,0,0,.5);
						bottom: 0;
						left: 0;
						right: 0;
						top: 0;
					}
					span{
						bottom: 53px;
						display: block;
						position: absolute;
						text-align: center;
						width: 100%;
						z-index: 2;
						&:after{
							@extend .before;

						}
					}

					&:hover{
						&:before{
							background-position: left bottom;
						}

						.bg{
							&:before{
								opacity: 0;
							}
							&:after{
								opacity: 1;
							}
						}
					}
				}

				img{
					display: block;
					height: auto;
					width: 100%;
				}
			}

			.slick-track{
				background: $color2;
				border-top: 10px solid $color2;
			}

			.slick-arrow{
				position: absolute;
			}


			.complex__grouphouse{
				width: 640px;
				.slick{
					&-arrow{
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAMAAAAS21dbAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEWOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqD///+dbN54AAAAM3RSTlMAYyZ50Sx4/K0Cd94V3xP+2hLZ3XrFC/35P2b3TmfnIQN95Bt8tAQBe8kHCMbKCZ7ULigGZ8R1AAAAAWJLR0Q0qbHp/QAAAAd0SU1FB+IDEA4UMfUPxwMAAACTSURBVBjTXZDXFsIwDEPNpmUWUkaZZaUJG/3/v2EeqN34TfaVohMimVqd9DTQbCnZ7gDdqJQxy15fwcBgKPAIGCcVeJJUoqYCxz+vXA1709lfRWYOLJblNWN4tZZaG9bbneh9zvbDURU/MXG+iLYFL5xXhOE+7qoWBb+Z+iDj5oOMe2hxjyD0aZUlx+ut/9dmH6Iv2XISX36tdF4AAAAASUVORK5CYII=") no-repeat left top;
						border: none;
						height: 24px;
						position: absolute;
						top: 50%;
						margin-top: -12px;
						width: 15px;
						z-index: 10;
					}
					&-prev{
						left: 12px;
					}
					&-next{
						right: 12px;
						transform: rotate(180deg);
					}
				}
			}

			.house{
				color: $color1;
				font-size: 1.5rem;
				margin-bottom: 0;
				height: 222px;
				padding-top: 1rem;
				width: 160px;
				position: relative;
				&__title{
					font-weight: 700;
					font-size: 1.7rem;
				}
				.diagram{
					margin-top: 1rem;
					margin-bottom: .2rem;
				}
				.circle{
					float: none;
					.num{
						position: absolute;				
					}
				}
				.final{
					font-weight: 700;
					font-size: 1.4rem;
					span{
						color: $color8;
						font-weight: 400;
					}
				}

				&:after{
					@extend .before;
					border-right: 1px solid #d7dce1;
					height: 188px;
					top: 10px;
					right: 0;
					border-bottom: none;
				}
			}
		}

		&__place{
			display: flex;
			font-size: 1.8rem;
			font-weight: 600;
			position: relative;
			text-transform: uppercase;
			border-bottom: 2px solid rgba(255,255,255,.3);
			.cell{
				@extend .flex-cv;
				height: 6rem;
				margin: 1.8rem 0;
				padding-right: 35px;
				width: 250px;
				img{
					margin-right: 1rem;
				}
			}
		}

		&__text{
			font-size: 1.6rem;
			line-height: 1.7;
			margin-top: 2.5rem;
			position: relative;
		}

		.object{
			&__meta{
				background: none;
				border-bottom: 2px solid rgba(255,255,255,.3);
				align-items: flex-end;
				padding: 9.5rem 0 2rem;
			}
			&__info{
				margin-left: 0;
			}
			&__title{
				font-size: 4rem;
				font-weight: 900;
				line-height: 1;
			}
		}


		&__map{
			position: relative;
			img{
				display: block;
			}
			.btn{
				bottom: 30px;
				font-weight: 400;
				left: 28px;
				padding-left: 40px;
				position: absolute;
				z-index: 2;
			}
		}

		&__navhouses{
			@extend .flex-cv;
			background: #ebeef1;
			font-size: 1.5rem;
			height: 6rem;
			font-weight: 700;
			.title{
				flex-shrink: 0;
				width: 160px;
				text-align: center;
			}
			.nav{
				width: 290px;
				.btn{
					@extend .flex-center;
					color: $color49;
					height: 6rem;
					text-decoration: none;
					text-align: center;
					width: 80px;
					&.active{
						background-color: $color2;
						color: $color1;
						font-weight: 700;
					}
					&:hover{
						color: $color7;
					}
				}
				.tab{
					width: 160px;
				}

				.slick{
					&-arrow{
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPBAMAAAArJJMAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEWOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqCOlqD///87587zAAAACHRSTlMAJGb8WmmUp2FVeAkAAAABYktHRAnx2aXsAAAAB3RJTUUH4gMQEQcqCf+rMAAAACxJREFUCNdjYGBgEABiJhMgodEKZHQEIDEigAyGjAIGKAssBpZFYYL0MggAAFigCTsH+MK7AAAAAElFTkSuQmCC") no-repeat left top;
						border: none;
						height: 15px;
						margin-top: -7px;
						position: absolute;
						top: 50%;
						width: 8px;
					}

					&-prev{
						left: -10px;
					}

					&-next{
						transform: rotate(180deg);
						right: -20px;
					}
				}
			}
		}


	}
	// =/main


 	// =subnav
	.subnav{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		a{
			height: 9rem;
		}
	}
	// =/subnav

 	// params
	.params{
		display: flex;
		justify-content: space-between;
		margin-top: 5.5rem;
		width: 100%;
		text-align: center;
		&__cell{
			border: 2px solid #ebeef1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 190px;
			width: 230px;
		}

		&__pic{
			height: 65px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__title{
			color: $color47;
			font-size: 1.6rem;
			margin-top: 1.2rem;
		}
		&__value{
			color: $color46;
			font-size: 2rem;
			font-weight: 700;
			padding-top: .5rem;
		}
	}


 	// main
	.about{
		margin-top: 4.9rem;
		margin-bottom: 0;
		padding-bottom: 0;
		main{
			.heading{
				line-height: 1.3;
				position: relative;
				margin-bottom: 3rem;
				&:after{
					@extend .before;
					bottom: 0;
					border-top: 4px solid $color7;
					width: 97px;
				}
			}
			.head{
				margin-bottom: 4rem;
				&:after{
					@extend .before;
					border-top: 4px solid $color7;
					left: 0;
					bottom: 0;
					width: 97px;
				}
			}

			p{
				font-size: 1.7rem;
			}
		}

		.carousel{
			position: relative;
			width: 800px;

			.item{
				position: relative;
			}

			&:before,
			&:after{
				@extend .before;
				background-color: rgba(91, 123, 146, .1);
				width: 100%;
			}

			&:before{
				left: -10px;
				top: 10px;
				height: calc(100% - 25px);
			}
			&:after{
				left: -20px;
				top: 20px;
				height: calc(100% - 44px);
			}

			.manage{
				@extend .flex-cv;
				background-color: $color2;
				bottom: 0;
				height: 60px;
				left: 0;
				position: absolute;
				width: 235px;
				z-index: 2;
				.photos{
					margin-top: 3px;
					a{
						border-bottom-width: 1px;
						font-weight: 600;
						text-decoration: none;
					}
					i{
						font-style: normal;
					}
				}
				.owl{
					$h: 24px;
					&-nav{
						height: $h;
						margin-right: 14px;
						position: relative;
						width: 115px;
					}
					&-prev,
					&-next
					{
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAYCAMAAAAmopZHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAtFBMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah03///8pTrJRAAAAOnRSTlMAJWIDHcWFCCDEUR7BoxQbv6QNHMIPH6ELvgz6jCHGqpuePcD+PiPJ+66gw4qfCscOohNSyIkJJ2UEC85ViQAAAAFiS0dEOzkO9GwAAAAHdElNRQfiAwUMNBhGeggOAAAAsElEQVQoz22RyRaCMAxF44CiiIqiIoiI4oTzrPn/D7PpQg9N3qY996WZCvBXqVwBQVULa3WO7QYiNhl2Wgq7bRN3ugp7PRP3fcIDEw8pt8uiHYoeBSzJmHDIsOokmrAG46mKjpJZWhDMF4hZhqZg6aMkgNVaHZtt7hVE+9qp/HthkXo1acANPe7hyI34RIb0wqKRz8JnUY1LyA39XflVqEH7uAnt2nd8PAUOr/fnd/8CZlUhG2xnrrkAAAAASUVORK5CYII=") no-repeat left top;
						cursor: pointer;
						filter: grayscale(1) brightness(1.5);
						height: $h;
						position: absolute;
						top: 4px;
						width: 33px;
						transition: .3s;
						&:hover{
							filter: grayscale(0) brightness(1);							
						}
					}
					&-prev{
						left: 15px;
						&:hover{
							left: 5px;
						}
					}
					&-next{
						@include rotation(180deg);
						right: 18px;
						&:hover{
							right: 8px;
						}
					}
				}
			}


			.label{
				$h: 43px;
				@extend .flex-center;
				border-radius: 50%;
				border: 2px solid $color2;
				color: $color2;
				font-size: 1.5rem;
				font-weight: 500;
				height: $h;
				position: absolute;
				width: $h;
				z-index: 50;
				&-red{
					background-color: #e20c3c;
				}
				&-green{
					transition: .3s background-color;
					background-color: #00874d;
					&:hover{
						background-color: #e20c3c;						
					}
				}

				&:hover{
					.popover{
						opacity: 1;
						visibility: visible;
						top: calc(100%);
					}
				}
			}

			.popover{
				box-shadow: none;
				transition: .3s ;
				left: -78px;
				padding-top: 22px;
				width: 195px;
				background-color: transparent;
				opacity: 0;
				visibility: hidden;
				top: 15px;
				.arrow{
					top: 11px;
					z-index: 10;
				}
			}

			.popover-container{
				box-shadow: 0 8px 15px rgba(0,0,0,.75);
				color: $color1;
				position: absolute;
				width: 195px;
				.left{
					color: #575757;
					font-size: 1.4rem;
					font-weight: 400;
					margin-right: 1.4rem;
					.name{
						font-weight: 500;
						font-size: 2rem;
						color: $color1;
					}
				}
				.popover-bottom-right{
					.popover-link{
						display: inline;
						font-size: 1.4rem;
						&:before{
							display: none;
						}
						span{
							white-space: normal;
						}
						&:hover{
							background-color: $color7;
						}
					}
				}
			}
		}
	}

 	// houses
	.houses{
		margin: 9rem 0 9.5rem;
		width: 100%;
		.flexbox{
			justify-content: space-between;
		}
		.house{
			&__footer{
				display: none;
			}
			&__item{
				@include transition-param(box-shadow);
				display: flex;
				justify-content: space-between;
				margin-top: .5rem;
				width: 775px;
				&:hover{
					box-shadow: 0 5px 30px rgba(83, 99, 121, .5);
					.house__pic{
						img{
							transform: scale(1.15);
						}
					}
				}
			}
			&__pic{
				overflow: hidden;
				img{
					@include transition-param(transform);
					display: block;
				}
			}

			&__info,
			&__footer
			{
				.btn{
					padding-left: 52px;
					font-weight: 400;
					&:before{
						left: 18px;
						top: 9px;
					}
				}
			}
			&__info{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&__desc{
				border: 1px solid #ebeef1;
				border-left: none;
				padding-left: 3rem;
				padding-right: 2.4rem;
				padding-top: 2rem;
				flex-grow: 1;
			}

			&__top{
				display: flex;
				align-items: center;
				.left{
					color: $color23;
					font-weight: 400;
					font-size: 1.4rem;
					.name{
						font-size: 2rem;
						font-weight: 700;
						color: $color1;
					}
				}
				.right{
					margin-left: 10px;
					.diagram{
						height: 56px;
						position: relative;
						width: 56px;
						.num{
							@extend .flex-center;
							font-weight: 700;
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							text-align: center;
						}
					}
				}
			}
		}
	}


	.house__body{
		.table{
		border-top: 2px solid #eaedf1;
		border-collapse: collapse;
		margin-top: 1.5rem;
		width: 100%;
		font-size: 1.5rem;
		th{
			font-weight: normal;
			text-align: left;
			td{
				border-top: none;
			}
		}
		td{
			border-top: 1px solid #eaedf1;
			padding-top: 5px;
			padding-bottom: 5px;
			a{
				font-size: 1.4rem;
				@extend .tdu;
				text-decoration-color: $color7;
			}
			b, strong{
				font-weight: 700;
			}
		}

		.num{
			$s: 30px;
			@extend .flex-center;
			height: $s;
			background-color: $color8;
			border-radius: 50%;
			color: $color2;
			font-weight: 600;
			width: $s;
		}
		}
	}


 	// list_construction
	.list_construction{
		background-color: $color28;
		padding: 7.5rem 0 8.8rem;
		.container{
			padding: 0;
		}
		.place{
			&__item{
				background: $color2;
				margin-bottom: 0;
			}
			&__wrapper{
				padding-top: 3rem;
				margin-bottom: 0;
				min-height: 420px;
				margin-bottom: 2rem;
			}

			&__pic{
				margin-top: 0;
			}

			&__photos{
				i{
					font-style: normal;
				}
			}
		}

		.construction__meta{
			margin-top: -8px;
			display: flex;
			font-size: 1.5rem;
			font-weight: 500;
			.nav{
				display: flex;
				margin-left: 2.5rem;
				.btn{
					@extend .flex-cv;
					border: 2px solid #c8d1dc;
					color: $color48;
					height: 50px;
					margin-left: -2px;
					padding: 0 2.5rem;
					text-decoration: none;
					&.active{
						border-color: $color8;
						color: $color1;
						position: relative;
						z-index: 2;
						&:after{
							@extend .before;
							background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALBAMAAACAOcA3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAh003n3TW5eLr7vFbr43Y5uMpmWoGiVGezLugzb2jzr+r0sX///+Bkpf0AAAAAWJLR0QMgbNRYwAAAAd0SU1FB+IDBREyCvdn7uMAAABOSURBVAjXY2BUNgYDBwYGITDDhIEhDCLoUMFgmgASNGFvZjAGCzpUGjMYgwRN2CcDWSBBoBCIZZogAhQCsYzDGKqMISzT9MVQlnE0iAAATVkVWQW9mX0AAAAASUVORK5CYII=") no-repeat;
							bottom: -11px;
							height: 11px;
							left: 50%;
							margin-left: -9px;
							width: 18px;
						}
					}
				}
			}

			.month-select.selectize-control {
				margin-left: 47px;
				width: 215px;
				input{
					@include placeholder($color1)
				}
				.selectize-input.full{
					background: transparent;
				}
				.selectize-input:after{
					right: 6px;
				}
			}

			.left{
				@extend .flex-cv;
				flex-grow: 1;
			}

			.right{
				margin-right: 3rem;
			}
		}

		.translation{
			&__link{
				display: inline-block;
				font-size: 2.4rem;
				text-decoration: none;
			}
			.text{
				color: $color41;
				font-weight: 400;
				font-size: 1.4rem;
			}
		}
		.tab-content{
			margin-top: 2.7rem;
			.owl-carousel{
				margin-top: 2.7rem;
			}
		}
 	}


 	// list_reviews
 	.list_reviews{
		padding-top: 6rem;
		header{
			display: flex;
			justify-content: space-between;
			padding-bottom: 1.6rem;
			.left{
				flex-grow: 1;
			}
			.right{
				padding-top: 1rem;
			}
			.sortbox{
				display: flex;
			}
			.more{
				font-weight: 500;
				font-size: 1.5rem;
			}
			.btn{
				margin-top: 2rem;
			}
		}

		.review{
			&__body{
				padding-top: 0;
				margin-top: 2.7rem;
			}
			&__item{
				margin-bottom: 5.3rem;
			}
		}

		&-bottom{
			display: none;
		}
 	}

	#map{
		height: 635px;
	}
	.map{
		position: relative;
		&__info{
			background: $color2;
			border-bottom: 6px solid #c20831;
			font-size: 1.7rem;
			left: 160px;
			padding: 3.5rem 3.5rem 2.2rem;
			position: absolute;
			top: 60px;
			width: 320px;
			z-index: 2;
			img{
				position: absolute;
				left: -54px;
				top: 5px;
			}
			ul{
				padding-left: 54px;
				padding-top: 1.6rem;
			}
			li{
				border-bottom: 1px solid #e0e3e6;
				position: relative;
				height: 5rem;
				@extend .flex-cv;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		.title{
			font-size: 2.4rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		$w: 58px;
		.myicon{
			width: $w;
			height: 60px;
			position: absolute;
			top: -60px;
			left: -$w/2;
			img{
				display: block;
			}
		}
		.iconcontent{
			font-size: 1.5rem;
			font-weight: 500;
			left: 0;
			position: absolute;
			text-align: center;
			top: 21px;
			width: $w;
		}
	}

	.label-sm{
		display: none;
	}
	.translation__bottom{
		display: none;
	}
}


.fixed-navbar{
 	background-color: $color7;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transform: translateY(-140%);
	transition: .55s;
	z-index: -10;
	.subnav{
		a{
			height: 6rem;
			margin-right: 2rem;
		}
	}

	&.sticky{
		transform: translateY(70px);
		z-index: 99;
	}
}