 .complex-page{
 	// =subnav
 	.subnav{
 		.container{
 			padding-left: 0;
 			padding-right: 0;
 		}
 		a{
 			@extend .flex-cv;
 			transition: .2s background-color;
	 		color: $color2;
	 		font-size: 1.8rem;
	 		text-decoration: none;
 			height: 9rem;
 			padding: 0 2rem;
 			&:hover{
	 			background-color: $color25; 				
 			}
 		}
 		ul{
	 		background-color: $color7;
	 		display: flex;
	 		li{
	 			margin-right: 2rem;
	 		}
 		}
 	}

 	// params
 	.params{
 		border: 2px solid #ebeef1;
 		display: flex;
 		justify-content: space-between;
 		margin-top: 5.5rem;
 		width: 100%;
 		text-align: center;
 		&__cell{
 			display: flex;
 			justify-content: center;
 			flex-direction: column;
 			border-right: 2px solid #ebeef1;
 			height: 190px;
 			width: 230px;
 			&:last-child{
 				border-right: none;
 			}
 		}

 		&__pic{
 			height: 65px;
 		}

 		&__title{
 			color: $color47;
 			font-size: 1.6rem;
 			margin-top: 1.2rem;
 		}
 		&__value{
 			color: $color46;
 			font-size: 2rem;
 			font-weight: 500;
 			padding-top: .5rem;
 		}
 	}


 	// main
	.main{
		margin-top: 4.9rem;
		main{
			.head{
				margin-bottom: 4rem;
				&:after{
					@extend .before;
					border-top: 4px solid $color7;
					left: 0;
					bottom: 0;
					width: 97px;
				}
			}

			p{
				font-size: 1.7rem;
			} 			
		}

		.carousel{
			position: relative;
			width: 800px;

			.item{
				position: relative;
			}

			&:before,
			&:after{
				@extend .before;
				background-color: rgba(91, 123, 146, .1);
			}

			&:before{
				left: -10px;
				top: 10px;
				height: 581px;
				width: 798px;
			}
			&:after{
				left: -20px;
				top: 20px;
				height: 562px;
				width: 798px;
			}

			.manage{
				@extend .flex-cv;
				background-color: $color2;
				bottom: 0;
				height: 60px;
				left: 0;
				position: absolute;
				width: 235px;
				z-index: 2;
				.photos{
					margin-top: 3px;
					a{
						border-bottom-width: 1px;
						font-weight: 600;
						text-decoration: none;
					}
				}
				.owl{
					$h: 24px;
					&-nav{
						height: $h;
						margin-right: 14px;
						position: relative;
						width: 115px;
					}
					&-prev,
					&-next
					{
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAYCAMAAAAmopZHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAtFBMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah03///8pTrJRAAAAOnRSTlMAJWIDHcWFCCDEUR7BoxQbv6QNHMIPH6ELvgz6jCHGqpuePcD+PiPJ+66gw4qfCscOohNSyIkJJ2UEC85ViQAAAAFiS0dEOzkO9GwAAAAHdElNRQfiAwUMNBhGeggOAAAAsElEQVQoz22RyRaCMAxF44CiiIqiIoiI4oTzrPn/D7PpQg9N3qY996WZCvBXqVwBQVULa3WO7QYiNhl2Wgq7bRN3ugp7PRP3fcIDEw8pt8uiHYoeBSzJmHDIsOokmrAG46mKjpJZWhDMF4hZhqZg6aMkgNVaHZtt7hVE+9qp/HthkXo1acANPe7hyI34RIb0wqKRz8JnUY1LyA39XflVqEH7uAnt2nd8PAUOr/fnd/8CZlUhG2xnrrkAAAAASUVORK5CYII=") no-repeat left top;
						cursor: pointer;
						filter: grayscale(1) brightness(1.5);
						height: $h;
						position: absolute;
						top: 4px;
						width: 33px;
						transition: .3s;
						&:hover{
							filter: grayscale(0) brightness(1);							
						}
					}
					&-prev{
						left: 15px;
						&:hover{
							left: 5px;
						}
					}
					&-next{
						@include rotation(180deg);
						right: 18px;
						&:hover{
							right: 8px;
						}
					}
				}
			}


			.label{
				$h: 43px;
				@extend .flex-center;
				border-radius: 50%;
				border: 2px solid $color2;
				color: $color2;
				font-size: 1.5rem;
				font-weight: 500;
				height: $h;
				position: absolute;
				width: $h;
				z-index: 50;
				&-red{
					background-color: #e20c3c;
				}
				&-green{
					background-color: #00874d;
				}

				&:hover{
 					.popover{
 						opacity: 1;
 						visibility: visible;
						top: calc(100%);
 					}
 				}
 			}

 			.popover{
 				box-shadow: none;
				transition: .3s ;
				left: -78px;
				padding-top: 22px;
				width: 195px;
				background-color: transparent;
				opacity: 0;
				visibility: hidden;
				top: 15px;
				.arrow{
					top: 11px;
					z-index: 10;
				}
 			}

 			.popover-container{
 				box-shadow: 0 5px 15px rgba(0,0,0,.75);
				color: $color1;
				position: absolute;
				width: 195px;
				.left{
 					color: #575757;
 					font-size: 1.4rem;
 					font-weight: 400;
 					margin-right: 1.4rem;
 					.name{
 						font-weight: 500;
 						font-size: 2rem;
 						color: $color1;
 					}
				}
				.popover-bottom-right{
					.popover-link{
						display: inline;
 						font-size: 1.4rem;
 						&:before{
 							display: none;
 						}
 						span{
 							white-space: normal;
 						}
 						&:hover{
 							background-color: $color7;
 						}
					}
				}
 			}
 		}
	}

 	// houses
	.houses{
 		margin: 4.5rem 0 9.5rem;
 		width: 100%;
 		.flexbox{
 			justify-content: space-between;
 		}
 		.house{
 			&__item{
 				justify-content: space-between;
 				display: flex;
 				margin-top: .5rem;
 				width: 775px;
 				@include transition-param(box-shadow);
 				&:hover{
 					box-shadow: 0 5px 30px rgba(83, 99, 121, .5);
 					.house__pic{
 						img{
 							transform: scale(1.15);
 						}
 					}
 				}
 			}
 			&__pic{
 				overflow: hidden;
 				img{
 					@include transition-param(transform);
 					display: block;
 				}
 			}

 			&__info{
 				display: flex;
 				align-items: center;
 				justify-content: space-between;
 				.btn{
 					padding-left: 52px;
 					font-weight: 400;
 					&:before{
 						left: 18px;
 						top: 9px;
 					}
 				}
 			}

 			&__desc{
 				border: 1px solid #ebeef1;
 				border-left: none;
 				padding-left: 3rem;
 				padding-right: 2.4rem;
 				padding-top: 2rem;
 				flex-grow: 1;
 			}

 			&__top{
 				display: flex;
 				align-items: center;
 				.left{
 					color: $color23;
 					font-weight: 400;
 					font-size: 1.4rem;
 					.name{
 						font-size: 2rem;
 						font-weight: 500;
 						color: $color1;
 					}
 				}
 				.right{
 					margin-left: 10px;
 					.diagram{
 						height: 56px;
 						position: relative;
 						width: 56px;
 						.num{
 						@extend .flex-center;
 							font-weight: 500;
 							position: absolute;
 							left: 0;
 							top: 0;
 							right: 0;
 							bottom: 0;
 							text-align: center;
 						}
 					}
 				}
 			}


 			&__body{
 				.table{
					border-top: 2px solid #eaedf1;
					border-collapse: collapse;
					margin-top: 1.5rem;
 					width: 100%;
 					font-size: 1.5rem;
 					td{
 						border-top: 1px solid #eaedf1;
 						padding-top: 5px;
 						padding-bottom: 5px;
 						a{
 							font-size: 1.4rem;
 							@extend .tdu;
 							text-decoration-color: $color7;
 						}
 					}

 					.num{
 						$s: 30px;
 						@extend .flex-center;
 						height: $s;
 						background-color: $color8;
 						border-radius: 50%;
 						color: $color2;
 						font-weight: 600;
 						width: $s;
 					}

 				}
 			}
 		}
	}


 	// list_construction
	.list_construction{
		background-color: $color28;
		padding: 7.5rem 0 8.8rem;
		.place{
 			&__item{
	 			background: $color2;
	 			margin-bottom: 0;
	 		}
	 		&__wrapper{
	 			padding-top: 3rem;
	 			margin-bottom: 0;
	 			min-height: 420px;
	 			margin-bottom: 2rem;
	 		}

	 		&__pic{
	 			margin-top: 0;
	 		}
		}

		.construction__meta{
			margin-top: -8px;
			display: flex;
			font-size: 1.5rem;
			font-weight: 500;
			.nav{
 				display: flex;
 				margin-left: 2.5rem;
 				.btn{
	 				@extend .flex-cv;
 					border: 2px solid #c8d1dc;
 					color: $color48;
 					height: 50px;
 					margin-left: -2px;
 					padding: 0 2.5rem;
 					text-decoration: none;
 					&.active{
 						border-color: $color8;
 						color: $color1;
 						position: relative;
 						z-index: 2;
 						&:after{
 							@extend .before;
							background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALBAMAAACAOcA3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAh003n3TW5eLr7vFbr43Y5uMpmWoGiVGezLugzb2jzr+r0sX///+Bkpf0AAAAAWJLR0QMgbNRYwAAAAd0SU1FB+IDBREyCvdn7uMAAABOSURBVAjXY2BUNgYDBwYGITDDhIEhDCLoUMFgmgASNGFvZjAGCzpUGjMYgwRN2CcDWSBBoBCIZZogAhQCsYzDGKqMISzT9MVQlnE0iAAATVkVWQW9mX0AAAAASUVORK5CYII=") no-repeat;
							bottom: -11px;
							height: 11px;
							left: 50%;
							margin-left: -9px;
							width: 18px;
 						}
 					}
 				}
			}

			.month-select.selectize-control {
				margin-left: 47px;
				width: 215px;
				input{
					@include placeholder($color1)
				}
				.selectize-input.full{
					background: transparent;
				}
				.selectize-input:after{
					right: 6px;
				}
			}

			.left{
				@extend .flex-cv;
				flex-grow: 1;
			}
		}

		.translation{
			&__link{
				display: inline-block;
				font-size: 2.4rem;
				text-decoration: none;
			}
			.text{
				color: $color41;
				font-weight: 400;
				font-size: 1.4rem;
			}
		}
		.tab-content{
			margin-top: 2.7rem;
			.owl-carousel{
				margin-top: 2.7rem;
			}
		}
 	}


 	// list_reviews
 	.list_reviews{
 		padding-top: 6rem;
 		header{
 			display: flex;
 			justify-content: space-between;
 			padding-bottom: 1.6rem;
 			.left{
 				flex-grow: 1;
 			}
 			.right{
 				padding-top: 1rem;
 			}
 			.sortbox{
 				display: flex;
 			}
 			.more{
 				font-weight: 500;
 				font-size: 1.5rem;
 			}
 			.btn{
 				margin-top: 2rem;
 			}
 		}

 		.review{
 			&__body{
	 			padding-top: 0;
	 			margin-top: 2.7rem;
	 		}
	 		&__item{
	 			margin-bottom: 5.3rem;
	 		}
 		}
 	}
 }