#consultation{
	color: $color1;
	font-size: 1.6rem;
	.modal-dialog{
		width: 69rem;		
	}
	.modal-content{
		background-color: $color2;
		box-shadow: 0 5px 30px rgba(0,0,0,.5);
		padding: 4.2rem 5rem 0;
	}

	.title{
		font-size: 3rem;
		font-weight: 900;
		text-transform: uppercase;
	}	


	.calcinfo{
		background-color: #f1f4f6;
		font-size: 1.8rem;
		margin: 1.5rem 0 2rem;
		padding: 2rem 3rem .3rem;

		.row{
			border-bottom: 2px solid #fff;
			margin-left: 0;
			margin-right: 0;
			padding: 1rem 0;
			.field{
				width: 58%;
			}
		}

		.final{
			border-bottom: none;
			font-size: 2.4rem;
			padding-top: 1.5rem;
			.value{
				color: $color8;
				font-size: 3rem;
			}
		}
	}

	.inputs{
		margin-top: 1rem;
	}

	p{
		line-height: 1.6;
	}

	.value{
		font-weight: bold;
	}


	.form-control{
		border-bottom-color: $color8;
		color: $color1;
		width: 245px;
	}

	form .input-field label{
		color: $color1;
	}


	.box-submit{
		background: #f1f4f6	;
		margin-left: -5rem;
		margin-right: -5rem;
		margin-top: 3rem;
		padding: 2.5rem 6rem 2.5rem 0;
		display: flex;
		justify-content: flex-end;
		.btn{
			font-size: 2rem;
			height: auto;
			padding: 2rem 2.5rem;
		}
	}

	.close{
		top: 45px;
		line{
			stroke: #929292;
		}
	}

	.thank{
		padding: 2rem 0 4rem;
	}
}


@media (max-width: 750px){
	#consultation{
		font-size: 1.5rem;
		.modal-dialog{
			width: 95%;
		}
		.calcinfo{
			font-size: 1.6rem;
			padding: 1.8rem 2.2rem .3rem;
			.final{
				font-size: 2.2rem;
				.value{
					font-size: 2.8rem;
				}
			}
		}
	}
}


@media (max-width: 650px){
	#consultation{
		.calcinfo{
			.row{
				flex-wrap: nowrap;
				.field{
					min-width: 250px;
				}
			}
		}
		.modal-content{
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		.inputs{
			display: block;
			.input-field{
				margin-top: 1.5rem;
			}
			 .form-control{
			 	width: 100%;
			 }
		}
		.box-submit{
			justify-content: center;
			margin-left: -2.5rem;
			margin-right: -2.5rem;
			padding-right: 0;
			.btn{
				padding: 1.5rem 2rem;
			}
		}
	}
}



@media (max-width: 600px){
	#consultation{
		.close{
			top: 15px;
			right: 12px;
		}
		.title{
			font-size: 2.6rem;
			text-align: center;
		}
		.calcinfo .row{
			display: block;
			text-align: center;
			.field{
				margin-bottom: 1rem;
				width: 100%;
			}
		}
		.thank{
			text-align: center;
		}
	}			
}



@media (max-width: 380px){
	#consultation{
		.modal-content{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.box-submit{
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}
		.calcinfo{
			padding-left: .5rem;
			padding-right: .5rem;
		}

		.box-submit .btn{
			font-size: 1.8rem;
		}		
	}
}