.condo-page{
	.row{
		display: block;
	}

	.subtitle{
		@extend .flex-cv;
		font-size: 2.4rem;
		font-weight: 700;
		margin-bottom: 2rem;
		a{
			color: $color8;
			margin-left: 5px;
			&:hover{
				color: $color7;
			}
		}

		.group{
			margin-left: 2.5rem;
			label{
				font-size: 1.4rem;
				font-weight: 400;
				padding-top: 4px;				
			}
		}

		@extend .square-checkbox;
	}
	.pagination{
		margin-bottom: 0;
		margin-top: 4rem;
	}
	.map{
		height: 400px;
	}
	#map{
		height: 400px;
	}


	.object__meta{
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}


.house{
	margin-bottom: 3rem;
	&__bottom{
		background-color: $color21;
		border-bottom: 5px solid $color7;
		padding: 1.4rem 2.6rem 1.1rem;
		position: relative;
		z-index: 20;
		.btn{
			transition: .3s;
			$h: 4rem;
			background-color: $color8;
			border-radius: $h;
			color: $color2;
			display: inline-block;
			font-size: 1.5rem;
			height: $h;
			padding-left: 57px;
			padding-right: 3.5rem;
			line-height: $h;
			text-decoration: none;
			&:hover{
				background-color: $color2;
				color: $color1;
				&:before{
					transition: .3s filter;
					filter: invert(1)
				}
			}

			&:before{
				left: 20px;
				top: 11px;
			}
		}
	}
}