.favorite-page{
	background: $color36;
	.main{
		padding-top: 5.5rem;
	}
	.head{
		.title{
			font-size: 4rem;
		}
	}
}

.favorite{
	&__item{
		background: $color2;
		margin-bottom: 4.5rem;
		position: relative;
		width: calc(100% - 12px);
		
		// object


		.btn-order{
			$h: 40px;
			background: $color8;
			border-radius: $h;
			border: none;
			color: $color2;
			font-size: 1.5rem;
			height: $h;
			padding-left: 44px;
			// padding-right: 18px;
			width: 180px;
			@extend .flex-cv;
			@include transition-param(background-color);
			&:before{
				left: 15px;
				top: 9px;
			}
			&:hover{
				background-color: $color7;
			}
		}

		.delete{
			background: none;
			border: none;
			line{
				stroke: #c6183f;
				stroke-width:2;
			}
			svg{
				@include transition-param(transform)
			}
			&:hover{
				svg{
					@include rotation(90deg)					
				}
			}
		}

		&:after{
			@extend .before;
			border-bottom: 5px solid $color7;
			bottom: 0;
			left: 12px;
			width: 100%;
			bottom: -17px;
		}
	}

	&__top{
		position: relative;
		z-index: 30;
	}
}


.object__meta{
	align-items: center;
	background-color: $color2;
	padding: 2.5rem 2.3rem;
	position: relative;
	z-index: 30;

	.object{
		&__section {
			// align-items: center;
		}
		&__right{
			display: flex;
			align-items: center;
			.flats-price{
				display: flex;
				align-items: center;
				display: contents;
			}
		}
		&__pic{
			img{
				vertical-align: top;
			}
		}
		&__info{
			margin-left: 3rem;
			p:not(.object__title){
				font-size: 1.5rem;
			}
		}
		&__title{
			font-size: 3rem;
			font-weight: 800;
			margin-top: .7rem;
			text-transform: uppercase;
			a{
				text-decoration: none;
				span{
					border-bottom-width: 3px;
				}
			}
		}
		&__composition{
			margin-left: 2.1rem;
			margin-right: .5rem;
			.btn{
				font-size: 1.5rem;
				@extend .flex-cv;
				background: #ebeef1;
				$h: 4rem;
				height: $h;
				border-radius: $h;
				padding-right: 22px;
				padding-left: 47px;
				text-decoration: none;
				@include transition-param(background);
				&:hover{
					background: #d8dde2;
				}
			}
		}
		&__address{
			.btn{
				padding-left: 37px;
				font-weight: 100;
			}
		}


		&__flats{
			font-size: 1.6rem;
			margin-left: 3rem;
			.num{
				color: $color8;
				font-weight: 700;
			}	
		}
		&__price{
			font-size: 2rem;
			font-weight: 700;
			margin-left: 1.5rem;
		}
	}
}


div.table-flats{
	.tr{
		display: flex;
		&-head{
			font-size: 1.4rem;
			color: $color40;
			font-weight: 300;
			position: relative;
			z-index: 30;
			background: #e6e9ec;
		}
		.th{
			padding: 2.5rem 1.5rem;
		}
	}
	.td{
		flex-shrink: 0
	}
	.cell{
		&-1{
			text-align: center;
			width: 11%;
		}
		&-2{
			width: 23%;
		}
		&-3{
			width: 9%;
		}
		&-4{
			width: 12%;
		}
		&-5{
			width: 13%;
			text-align: center;
		}
		&-6{
			width: 14%;
		}
		&-7{
			width: 9%;
		}
		&-8{
			width: 13%;

		}
		&-9{
			width: 7%;
			text-align: center;
		}
	}
	.grow{
		@extend .flex-cv;
		width: 88%;
	}
	.tbody{
		.tr{
			align-items: center;
			cursor: pointer;
			transition: .3s;
			border-bottom: 1px solid #ebeef1;
			&:hover{
				box-shadow: 0 0 20px rgba(83,99,121,.4);
			}
		}


		.td{
			font-size: 1.7rem;
			font-weight: 500;
			padding: 1.5rem;
			position: relative;
			z-index: 10;
			strong, b{
				font-weight: 700;			
			}
			.flat{
				a{
					text-decoration: none;
					&:hover{
						color: $color7;
					}
				}
			}
			.place{
				margin-top: .3rem;
				font-size: 1.4rem;
				font-weight: 100;
				a{
					color: $color8;
					@extend .tdu;
					&:hover{
						color: $color7;
					}
				}
			}
			.address{
				margin-top: .3rem;
				color: $color37;
				font-weight: 400;
				font-size: 1.4rem;
			}

			&.has_plan{
				z-index: 1;
				.plan{
					@include transition-param();
					box-shadow: 0 4px 20px rgba(104, 144, 187, 0.4);
					left: 50px;
					opacity: 0;
					position: absolute;
					top: 40px;
					visibility: hidden;
					width: 320px;
					img{
						max-width: 100%;	
					}
				}
				&:hover{
					z-index: 100;
					.plan{
						opacity: 1;
						visibility: visible;
					}
				}
			}

		}
	}
	.sort{
		text-decoration: none;
		position: relative;
		padding-right: 19px;		
		&:hover{
			color: $color8;
			&:after{
				filter: grayscale(0)
			}
		}
		&:after{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHBAMAAAAsQKpuAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah03////g9wgqAAAAB3RSTlMABgz9aqhxNl0TgwAAAAFiS0dECIbelXoAAAAHdElNRQfiAwITMQHVy4h/AAAAK0lEQVQI12NgZGBgAGJlBwYGZwUGFhMQAjIdnIECDCymIA4DQ3oCmGICYgBU7AN1ywxzCwAAAABJRU5ErkJggg==") no-repeat right top;
			height: 6px;
			width: 10px;
			right: 0;
			top: 5px;
			filter: grayscale(1)
		}

		&-asc{
			&:after{
				transform: rotate(180deg)
			}
		}
	}
}

table.table-flats{
	border-collapse: collapse;
	padding: 0;
	width: 100%;
	th{
		background: #e6e9ec;
		color: $color40;
		font-size: 1.4rem;
		font-weight: 300;
		padding: 2.5rem 1.5rem;
		position: relative;
		z-index: 30;
	}

	tbody{
		tr{
			cursor: pointer;
			transition: .3s;
			&:hover{
				box-shadow: 0 0 20px rgba(83,99,121,.4);
			}
		}
	}

	tr.remove{
		td{
			background-color: red;
		}
	}

	td{
		border-bottom: 1px solid #ebeef1;
		font-size: 1.7rem;
		font-weight: 500;
		padding: 1.5rem;
		position: relative;
		z-index: 10;
		strong, b{
			font-weight: 700;			
		}
		.flat{
			a{
				text-decoration: none;
				&:hover{
					color: $color7;
				}
			}
		}
		.place{
			margin-top: .3rem;
			font-size: 1.4rem;
			font-weight: 100;
			a{
				color: $color8;
				@extend .tdu;
				&:hover{
					color: $color7;
				}
			}
		}
		.address{
			margin-top: .3rem;
			color: $color37;
			font-weight: 400;
			font-size: 1.4rem;
		}

		&.has_plan{
			z-index: 1;
			.plan{
				@include transition-param();
				box-shadow: 0 4px 20px rgba(104, 144, 187, 0.4);
				left: 50px;
				opacity: 0;
				position: absolute;
				top: 40px;
				visibility: hidden;
				width: 320px;
				img{
					max-width: 100%;	
				}
			}
			&:hover{
				z-index: 100;
				.plan{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.sort{
		text-decoration: none;
		position: relative;
		padding-right: 19px;		
		&:hover{
			color: $color8;
			&:after{
				filter: grayscale(0)
			}
		}
		&:after{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHBAMAAAAsQKpuAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah03////g9wgqAAAAB3RSTlMABgz9aqhxNl0TgwAAAAFiS0dECIbelXoAAAAHdElNRQfiAwITMQHVy4h/AAAAK0lEQVQI12NgZGBgAGJlBwYGZwUGFhMQAjIdnIECDCymIA4DQ3oCmGICYgBU7AN1ywxzCwAAAABJRU5ErkJggg==") no-repeat right top;
			height: 6px;
			width: 10px;
			right: 0;
			top: 5px;
			filter: grayscale(1)
		}

		&-asc{
			&:after{
				transform: rotate(180deg)
			}
		}
	}
}