// mortgate
.mortgage{
	padding-bottom: 7.3rem;
	padding-top: 5rem;
	.heading{
		padding-bottom: 1.2rem;
	}
	&__item{
		margin-bottom: 2.8rem;
		padding-left: 1.5rem;
		padding-right: 1.3rem;
		a{
			display: block;
			transition: .3s box-shadow;
			img{
				display: block;
				max-width: 100%;
			}
			&:hover{
				box-shadow: 0 5px 30px rgba(83,99,121,.5);
			}
		}
	}
}

.flat-page{
	// main
	.main{
	background: #ebeef1;
		padding: 5.5rem 0;
	}

	.card__description{
		padding-left: 88px;
		.description{
			position: relative;
			&__body{
				background: $color2;
				padding: 3.4rem 4.5rem 3.2rem;

				.title{
					margin-bottom: 2.7rem;
					font-size: 4rem;
					font-weight: 500;
					text-transform: uppercase;
				}

				.object{
					display: flex;
					margin-bottom: 2.2rem;
				}

				.info{
					width: 220px;
					padding-right: 20px;
				}

				.place{
					font-size: 2rem;
					font-weight: 500;
				}

				.address{
					color: $color37;
				}

				.more{
					$h: 35px;
					background: $color7;
					margin-top: .3rem;
					color: $color2;
					font-weight: 600;
					height: $h;
					line-height: $h;
					padding-left: 35px;
					padding-right: 27px;
					position: relative;
					&:before{
						@extend .before;
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAQAAABjX+2PAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAwQOKjgSbaQSAAAAtklEQVQY022RQQqCUBCG/5ftIzW6R9AlapkQhEWL6Bh1lDpDqUk36QjRMg3c+LXQ4CVvhreZj3kzfCNk5YwToV2x4ZgHkDB04x57SiAjcGEhtnyA6++HLhYxBZDhu7FY8gIu+MgwEbIDVYp0lKdca8O7GWJFrVoDeZJuffU6UDLtk4xh2ulGlRY6yNNdsWu1iCeQELg2X1EAeaOmCzeUQPrz9i9113aGLqnNSdLGl0vqnDMju/IFTrboTx+TTc8AAAAASUVORK5CYII=") no-repeat left top;
						height: 16px;
						left: 11px;
						top: 10px;
						width: 15px;
					}
					&:hover{
						background-color: $color8
					}
				}

				.showmap{
					display: inline-block;
					font-weight: 600;
					padding-left: 24px;
					text-decoration: none;
				}

			}
			&__bottom{
				background: $color8;
				color: $color2;
				padding: 2.2rem 4.5rem 2.2rem 5.5rem;
				&:hover{
					&:after{
						border-bottom: 112px solid $color7;
					}
				}
				.flexbox{
					align-items: center;
					justify-content: space-between;
					position: relative;
					z-index: 20;
				}
				.left{
					.price{
						font-size: 3rem;
						font-weight: 500;
					}
				}
				.right{
					.btn{
						$h: 60px;
						border: none;
						background: $color2;
						font-size: 1.7rem;
						height: $h;
						border-radius: $h;
						padding-right: 40px;
						padding-left: 53px;
						transition: .3s;
						&:before{
							transition: .3s;
							left: 19px;
							top: 15px;
						}
						&:hover{
							background: $color8;
							color: $color2;
							&:before{
								filter: invert(1);
							}
						}
					}
				}
				&:after{
					@extend .before;
					border-bottom: 5px solid $color7;
					transition: .3s border-bottom;
					left: 0;
					bottom: -8px;
					width: 100%;
				}
			}
		}
	}

	.visual{
		// margin: 0rem 0;
	}
}


// characteristic
.characteristic{
	display: flex;
	margin-top: 1rem;
	width: 100%;
	&__column{
		flex-grow: 1;
		&:first-child{
			flex: 0 0 180px;
		}
	}
	&__row{
		display: flex;
		margin: 1rem 0;
	}
	&__title{
		color: $color40;
		flex-basis: 80px;
	}
	&__field{
		font-weight: 500;
		font-size: 1.5rem;
	}
}
// /characteristic



// =offer
.offer{
	padding-top: 3.2rem;
	align-items: center;
	.title{
		font-size: 2.2rem;
		font-weight: 500;
		padding-bottom: .5rem;
	}

	&__left{
		padding-right: 12.5rem;
	}

	a{
		display: inline-block;
	}
}
// =/offer


.similar_product{
	.title{
		font-size: 3.4rem;
		font-weight: 500;
		text-transform: uppercase;
	}
}

.additional_info{
	border-top: 2px solid $color28;
	padding-top: 8.5rem;
	.heading{
		padding-bottom: 0;
	}
	.table-flats{
		border: 2px solid $color28;
		margin-top: 1.5em;

		.name{
			color: $color40;
			padding-bottom: .7rem;
			font-weight: 400;
			font-size: 1.4rem;
		}
	}

	td{
		border-bottom: 2px solid $color28
	}
}



.installmentbox{
	@include gradient-vertical(#00864d, #0d6640);
	padding: 8rem 0 9.3rem;
	&__left{
		@extend .flex-cv;
		background: url(../images/bg-2.jpg) no-repeat 85px center $color2;
		border-bottom: 11px solid $color7;
		color: #50525d;
		font-size: 1.5rem;
		min-height: 400px;
		padding-left: 480px;
		.category{
			color: $color7;
			font-size: 1.8rem;
			font-weight: 500;
		}
		.title{
			margin: 2rem 0;
			color: $color1;
			font-size: 3.4rem;
			font-weight: 500;
		}

		.btn{
			align-items: center;
			border: 2px solid #ebeef1;
			display: inline-flex;
			font-size: 1.8rem;
			font-weight: 500;
			height: 6.6rem;
			margin-right: 2rem;
			margin-top: .5rem;
			padding-left: 40px;
			padding-right: 30px;
			position: relative;
			text-decoration: none;
			transition: .3s;
			span{
				border-bottom: 2px solid $color7;
				transition: .3s border-bottom;
			}
			&:hover{
				color: $color2;
				background-color: $color8;
				border-color: $color8;
				span{
					border-bottom-color: rgba(0,0,0,0);
				}
				&:before{
					filter: grayscale(1) invert(1) brightness(3);
				}
			}

			&.more{
				&:before{
					@extend .before;
					background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAt1BMVEXCCTLCCDHCCDHCCDHCCDHCCDHCCDHCCTLCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCTLCCDHCCDHCCDHCCDHCCDHCCDHCCTLCCDHCCDHCCDHCCDHCCTLCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCTLCCTLCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCDHCCTL///+DcEUpAAAAOnRSTlMAAEqfFBfZtBECZvW2E2D2sxFc9BJX67IyMTApffy38/Lx7+389fT9NTQzMit+uRVU6bRauF61ZEugyWZY4AAAAAFiS0dEPKdqYc8AAAAHdElNRQfiAwMWDhfHtrKcAAAAkElEQVQI103P5xKCQAxG0Xy6FmTXBnZFRMQuVtTw/u8lZVy4v3ImM5kJEdIqVQGkI2Wu1bnRLNlomSxVYaDd4W6vZPQtlnbJGAx5ZIPGk7zpbL5gR9DSXeV5az+OJW2CwMpyvS2zQ7v9Iet4Ovt8CfU5XG98V9B+WPxU0H6ZHCn8bbyTrYB28k9kozA+3zAffr9dDx+5Qyd+AAAAAElFTkSuQmCC") no-repeat;
					height: 16px;
					left: 14px;
					top: 22px;
					width: 15px;
					z-index: 2;
					transition: .3s filter;
				}
			}

			&.icon-scheme-green{
				padding-left: 70px;
				&:before{
					left: 15px;
					top: 17px;
				}
			}
		}
		

		.flexbox{
			width: 700px;
		}
		.column{
			padding-right: 20px;
			width: 50%;
			.point{
				margin-bottom: 2.1rem;
			}
			&:last-child{
				padding-right: 0;
			}
		}
	}

	&__right{
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-left: 40px;

		.title{
			color: $color2;
			font-size: 3rem;
			font-weight: 500;
			padding-bottom: 1.7rem;
			text-transform: uppercase;
		}

		.btn{
			display: block;
			font-size: 2rem;
			height: 5.8rem;
			margin-top: 1rem;
			padding: 0;
			text-align: center;
			width: 270px;
		}

		.variant{
			@extend .flex-cv;
			color: $color2;
			&__cifr{
				font-size: 5rem;
				font-weight: 500;
				flex: 0 0 80px;
			}
		}
	}
}



.card_flat{
	.carousel{
		text-align: center;
		width: 780px;
		.owl-carousel{
			.owl-prev{
				left: -10px;
				&:hover{
					left: 0;
				}
			}
			.owl-next{
				right: -10px;
				&:hover{
					right: 0;
				}
			}
		}


		&_tab{
			color: $color43;
			font-size: 1.7rem;
			font-weight: 500;
			li{
				$h: 51px;
				border: 2px solid $color44;
				height: $h;
				line-height: $h;
				position: relative;
				width: 140px;
				margin-top: -2px;
				text-align: center;
				cursor: pointer;
				transition: .3s border-color, color;
				&:hover{
					color: $color1;
					border-color: $color1;
					z-index: 2;
				}
				&.current{
					color: $color1;
					border-color: $color8;
					border-left: none;
					z-index: 10;
					&:before{
						@extend .before;
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAzBAMAAACUBW49AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEX///8Ah00Ah00Ah00Ah00Ah00Ah00Ah03///9PqUGtAAAAB3RSTlMAAHhLdU43VK7zVQAAAAFiS0dEAIgFHUgAAAAHdElNRQfiAwQNDCjOQokLAAAAo0lEQVQoz13Syw3DIBBFUWS5AEMTbJMqsk4V2UayItrPMPwe17ujK8uYmRDaE+uTvkGZN6byUOb7EqbyVOY7Ci0qLQprFNa46HHR4+ThcbLFwR4He+wcsXPExhkbZ3SeMzpfvyg8y1sp0ajR+JFoXB9t766vOjVf26Gcx34qnJl/hP/lbeCueJO4Z04BM+IEMV9OH7vBzcFeceuwk9xY7LNt+x/CnDeGSYEaXgAAAABJRU5ErkJggg==") no-repeat left top;
						height: 51px;
						width: 27px;
						left: -27px;
						top: -2px;
					}
				}
			}
		}
	}
	.additional{
		width: 160px;
		margin-top: .4rem;
	}
	.documents{
		font-size: 1.3rem;
		margin-top: 3.7rem;
		text-align: center;
		a[href$=".pdf"]{
			background: url(../images/pdf.png) no-repeat center top;
			display: inline-block;
			line-height: 1.5;
			padding-top: 40px;
			text-decoration: none;
			&:hover{
				color: $color25;
			}
		}
	}

	.btn-fav{
		background: none;
		color: $color8;
		display: inline-block;
		font-size: 1.3rem;
		margin-top: 2.8rem;
		padding-top: 33px;
		text-align: center;
		text-decoration: none;
		width: auto;
		@extend .icon-starsmall;
		&:before{
			top: 0;
			left: 50%;
			margin-left: -13px;
		}
		&-in{
			@extend .icon-starsmallfill;
		}
	}
}

.card__visual{
	.flexbox{
		justify-content: space-between
	}
}


// modal calc
.calc-bottom{
	background: #f1f4f6;
	padding: 3.5rem 4.5rem 3rem;
	.flexbox{
		align-items: center;
	}
	p{
		font-size: 2.4rem;
		font-weight: 600;
	}
	.cifr{
		color: $color8;
		font-size: 3rem;
		font-weight: 500;
		margin-top: 1rem;
	}
	.btn{
		$h: 6rem;
		border-radius: $h;
		font-size: 2rem;
		height: $h;
		padding: 0 2.8rem;
	}
}


#calc-gnk-form
{
	.row{
		display: block;
		margin: 0 0 3rem;
		.title{
			font-size: 2rem;
			font-weight: 500;
			padding-bottom: .6rem;
		}
		.flexbox{
			justify-content: flex-start;
		}

		.radio+label{
			margin-top: 1rem;
			margin-right: 3.7rem;
		}

		.form-control{
			border: none;
			border-bottom: 2px solid $color8;
			color: $color45;
			font-size: 1.5rem;
			margin-top: 0;
			padding-left: 0;
			width: 13rem;
			text-align: left !important;
		}

		.slider{
			margin-left: 10rem;
			margin-top: 2.7rem;
			position: relative;
			width: 272px;
			&_start{
				left: -25px;
			}
			&_end{
				left: calc(100% + 18px);
			}
			&_start,
			&_end{
				color: #3e3e3e;
				font-size: 1.5rem;
				position: absolute;
				top: -7px;
				white-space: nowrap;
			}
		}
	}
}

#calc-gnk{
	color: $color1;
	line{
		stroke: #929292;
		stroke-width:2;
	}
	.modal{
		&-content{
			background: $color2;
			box-shadow: 0 5px 30px rgba(0,0,0,.5);
			padding: 4.4rem 0 0 ;
			width: 740px;
		}
		&-body{
			padding: 3rem 4.5rem 1rem 5rem;
		}

		&-title{
			color: $color1;
			font-size: 3.4rem;
			padding-left: 5rem;
		}


	}

	.close{
		right: 37px;
		top: 48px;
	}
}