.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.col-1{flex: 0 0 10%;}
.col-2{flex: 0 0 20%;}
.col-3{flex: 0 0 30%;}
.col-4{flex: 0 0 40%;}
.col-5{flex: 0 0 50%;}
.col-6{flex: 0 0 60%;}
.col-7{flex: 0 0 70%;}
.col-8{flex: 0 0 80%;}
.col-9{flex: 0 0 90%;}
.col-10{flex: 0 0 100%;}


.offset-col-1{
	margin-left: 10%;
}

@media (max-width: 767px) {
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media (min-width: 480px) {
	.container{
		// width: 440px;
	}
}



@media (min-width: 600px) {
	.container{
		width: 100%;
	}
}


@media (max-width: 767px) {
	.row{
		margin-left: 0;
		margin-right: 0;
	}	
}

@media (min-width: 768px) {
	.container{
		width: 740px;
	}
}



@media (min-width: 992px) {
	.container {
		width: 940px;
	}
}


@media (min-width: 1150px) {
	.container {
		width: 1120px;
	}
}



@media (min-width: 1281px) {
	.container {
		width: 1250px;
	}
}


@media (min-width: 1400px) {
	.container {
		width: 1350px;
	}
}


@media (min-width: 1650px) {
	.container {
		width: 1600px;
	}
}



@media screen and (max-width: 1149px) {
	.table-responsive {
		overflow-x: auto;
		min-height: 0.01%;
		width: 100%;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
		& > table{
			margin-bottom: 15px;
			tr{
				th, td{
					white-space: nowrap;
					
				}
			}
		}
	}
}


@media (max-width: 1199px) {
	.col-md-3{flex: 0 0 30%;}
	.col-md-7{flex: 0 0 70%;}
}