.feature{
	position: relative;
	z-index: 20;
	overflow: hidden;

	&__left{
		flex-grow: 1;
	}

	&__right{
		flex: 0 0 638px;			
	}

	// =service
	.service{
		$color_1: #980929;
		$color_2: #c20831;
		@include gradient-vertical($color_1, $color_2);
		background-color: #a7092c;
		align-items: center;
		margin-top: 5px;
		&__cell{
			flex: 1 0 50%;
			height: 125px;
			position: relative;
			img{
				left: 35px;
				margin-top: -30px;
				position: absolute;
				top: 50%;
				z-index: 2;
				transition: .25s transform ease-out;
			}
			&:first-child(){
				&:before{
					@extend .before;
					height: 70px;
					border-left: 2px solid $color2;
					top: 50%;
					margin-top: -35px;
					right: 0;
				}
			}
		}
		&__link{
			color: $color2;
			display: flex;
			flex-direction: column;
			font-size: 1.6rem;
			height: 100%;
			justify-content: center;
			padding-left: 120px;
			text-decoration: none;
			&:after,
			&:before{
				@extend .before;
				background-color: #e20c3c;
				top: 0;
				left: 0;
				height: calc(100% + 5px);
				width: 100%;
				z-index: 1;
			}
			
			&:after{
				opacity: 0;
				transition-duration: .1s, .3s;
				transition-property: opacity, top;
			}
			&:before{
				transition: .3s top ease-out;
				z-index: -1;
				display: none;
			}
			&:hover{
				&:before{
					z-index: 1;
					top: -5px;
				}
				&:after{
					top: -5px;
					opacity: 1;
					// height: calc(100% + 5px);
				}
				img{
					transform: translateY(-10px)
				}
			}

			p{
				position: relative;
				z-index: 2;
			}
		}

		&__title{
			font-size: 2.4rem;
			font-weight: 500;
			&-middle{
				font-size: 2rem;
			}
		}
	}
	// =/service


	// =news
	.news{
		&__cell{
			flex-basis: 50%;
			position: relative;
			img{
				display: block;
				transition: .3s transform ease-out;
			}
			&:hover{
				img{
					transform: scale(1.15)
				}
				.news{
					&__meta{
						bottom: 95px;
						span{
							background-color: $color7;
							color: $color2;
						}
					}
					&__desc{
						opacity: 1;
					}		
				}
			}
		}
		&__link{
			overflow: hidden;
			display: block;
			position: relative;
			&:before{
				$color_1: rgba(0,0,0,.3);
				$color_2: rgba(0,0,0,.8);
				@extend .before;
				@include gradient-vertical($color_1, $color_2);
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				z-index: 2;
			}
		}
		&__top{
			display: flex;
			justify-content: space-between;
			position: absolute;
			top: 0;
			width: 100%;
			padding: 2.8rem 3rem 0;
			color: $color2;
			z-index: 2;
			a{
				color: inherit;
			}
		}
		.date{
			@extend .flex-cv;
			.num{
				@extend .flex-center;
				font-size: 2.2rem;
				$s: 4rem;
				height: $s;
				width: $s;
				border: 2px solid $color2;
			}
			.my{
				font-size: 1.3rem;
				font-weight: 100;
				padding-left: .9rem;
			}
		}
		.cat{
			&__link{
				@extend .flex-cv;
				@extend .transition-bg-color;
				background-color: $color8;
				border-radius: 3rem;
				font-size: 1.3rem;
				height: 3rem;
				padding: 0 1rem ;
				text-decoration: none;
				&:hover{
					background-color: $color2;
					color: $color1;
				}
			}
		}

		&__meta{
			position: absolute;
			z-index: 2;			
			bottom: 30px;
			margin: 0 2.5rem 0 3rem;
			transition: .3s bottom ease-out;
		}

		&__title{
			display: inline-block;
			font-size: 1.8rem;
			font-weight: 500;
			color: $color2;
			// position: absolute;
			// z-index: 2;
			line-height: 1.5;
			span{
				border-bottom: 2px solid $color7;
				padding-left: 2px;
				padding-right: 5px;			
			}
		}
		&__desc{
			bottom: -70px;
			color: $color2;
			font-size: 1.5rem;
			line-height: 1.4;
			opacity: 0;
			position: absolute;
			transition: .3s opacity ease-out;
		}
	}
	// =/news
}