.feature,
.topnews{
	.news,
	.about{
		&__cell{
			position: relative;
			img{
				display: block;
				transition: .3s transform ease-out;
			}
			&:hover{
				img{
					transform: scale(1.15)
				}
			}
		}
		&__link{
			overflow: hidden;
			display: block;
			position: relative;
		}

		&__meta{
			position: absolute;
			z-index: 2;			
			margin: 0 2.5rem 0 3rem;
			transition: .3s bottom ease-out;
		}
	}

	.news{
		&__cell{
			&:hover{
				.news{
					&__meta{
						bottom: 85px;
						span{
							background-color: $color7;
							color: $color2;
						}
					}
					&__desc{
						opacity: 1;
					}		
				}
			}
		}
		&__link{
			&:before{
				$color_1: rgba(0,0,0,.3);
				$color_2: rgba(0,0,0,.8);
				@extend .before;
				@include gradient-vertical($color_1, $color_2);
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				z-index: 2;
			}
		}
		&__top{
			color: $color2;
			display: flex;
			justify-content: space-between;
			padding: 2.8rem 3rem 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
			a{
				color: inherit;
			}
		}
		.date{
			@extend .flex-cv;
			.num{
				@extend .flex-center;
				$s: 4rem;
				border: 2px solid $color2;
				font-size: 2.2rem;
				height: $s;
				width: $s;
			}
			.my{
				font-size: 1.3rem;
				font-weight: 100;
				padding-left: .9rem;
			}
		}
		.cat{
			&__link{
				@extend .flex-cv;
				@extend .transition-bg-color;
				background-color: $color8;
				border-radius: 3rem;
				font-size: 1.3rem;
				height: 3rem;
				padding: 0 1rem ;
				text-decoration: none;
				&:hover{
					background-color: $color2;
					color: $color1;
				}
			}
		}

		&__meta{
			bottom: 20px;
		}

		&__title{
			display: inline-block;
			font-size: 1.8rem;
			font-weight: 500;
			color: $color2;
			line-height: 1.5;
			span{
				border-bottom: 2px solid $color7;
				padding-left: 2px;
				padding-right: 5px;			
			}
		}
		&__desc{
			bottom: -70px;
			color: $color2;
			font-size: 1.5rem;
			line-height: 1.4;
			opacity: 0;
			position: absolute;
			transition: .3s opacity ease-out;
		}
	}
}



.feature .promo,
.about-page .carousel
{
	.owl{
		&-dot{
			$s: 18px;
			border: 4px solid rgba(0,0,0,0);
			cursor: pointer;
			margin: 1.2rem 0;
			position: relative;
			transition: .3s border-color ease-out;
			height: $s; 
			width: $s;
			&:before{
				$s: 10px;
				@extend .before;
				background-color: rgba(0,0,0,.5);
				transition: .3s background-color ease-out;
				width: $s;
				height: $s;
			}
			&.active{
				border-color: white;
				&:before{
					background-color: transparent;
				}
			}
			&:hover{
				&:before{
					background-color: $color2;
				}
			}
		}
		&-nav{
			height: 280px;
			left: -7px;
			position: absolute;
		}

		&-prev,
		&-next{
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAQAAADc8cciAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAhYUBDtWomyGAAAAo0lEQVQ4y+3UwQ3CMBBE0QkuC1dikfJSCl0l+RxCgsGeRYgjzN7sfbK0WnlAQc6SrsE9vi6srFx8R0yBiDtaWNizUD7BhZk6c5/HdIn5+1cD7ulcMcM9LQcujnuqA8txT2tseI+O97Mai7Hlnr7iDve0xQ0X2dAefuZZJKYu7eMHn0hi4y11eOMTaR9YInd23GGRSQgNRP/ElsE1nPRF/vg38A08osA3ejzecgAAAABJRU5ErkJggg==") no-repeat center top;
			cursor: pointer;
			height: 28px;
			opacity: .5;
			padding-top: 40px;
			position: absolute;
			transition: .3s background-position, opacity ease-out;
			width: 30px;
			&:hover{
				opacity: 1;
			}
		}
		&-prev{
			background-position: center top 10px;
			top: -4px;
			&:hover{
				background-position: center top 0
			}
		}
		&-next{
			@include rotation(180deg);
			background-position: center bottom 0px;
			bottom: 0;
			&:hover{
				background-position: center bottom 10px;
			}
		}
	}

	.owl-carousel{
		.owl-controls{
			position: absolute;
			width: 100%;
			top: 115px;
			.owl-buttons{
				.owl-prev,
				.owl-next{
					background: url(../images/prevnext.png) no-repeat left top;
					width: 65px;
					height: 65px;
					position: absolute;
				}
				.owl-prev{
					left: -110px;
				}
				.owl-next{
					right: -110px;
				}
			}
		}
	}

	.manage{
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 60px;
		position: absolute;
		top: 0;
		z-index: 2;
		&.dark{
			.owl{
				&-dot{
					&.active{
						border-color: #00874d;
					}
				}
				&-prev,
				&-next{
					background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcBAMAAACE1hKaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah03////aJsU0AAAAC3RSTlMAO1z+Wv38XTwDpUVmpWcAAAABYktHRAyBs1FjAAAAB3RJTUUH4gIWFQcCI0jdegAAAJFJREFUGNNjYIAAQQYUwGSsgMJX3m2EzGWJ3r3VAYnvtnv37hQk6ezd0bu3OaBIIykASmfv3oZQ4LZ7m/fuLdkwBUDpFO7dG9xgCkAMIJ8FqgBIpzMA+QxlEAVA6QIwnx2sACwN5kMUtIGkIXygggyGWSBpCB+oYCUD57ICOJ89awIDwwwGOJ+hE+ZkKJ9h0PEBtpNQYd3SyhIAAAAASUVORK5CYII=");
				}
			}
		}
	}
}


.feature{
	position: relative;
	z-index: 20;
	overflow: hidden;

	.row{
		flex-wrap: nowrap;
	}

	&__left{
		width: 958px;
	}

	&__right{
		flex: 0 0 638px;
		display: flex;
		flex-direction: column;
	}

	// =carousel
	.promo{
		height: 562px;
		position: relative;
		.description{
			display: flex;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			padding-left: 16%;
			padding-right: 16%;
		}
		.type-1{
			.title{
				font-size: 4rem;
				font-weight: 500;
				color: $color2;
				text-transform: uppercase;
				padding-bottom: 1rem;
			}

			.statistic{
				color: $color2;
				margin-top: 3rem;
				&__cell{
					background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABAAgMAAADT8klwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEX////CCDHCCDH///+XNdF4AAAAAnRSTlMAAHaTzTgAAAABYktHRACIBR1IAAAAB3RJTUUH4gIWERUYodf8DwAAADBJREFUOMtjYJjAgAaYGtBFuDBEtDBEVo2KjIqMigxXETSwAEOkAUMEQ9cKDJEFDADxBXiBgCfHjQAAAABJRU5ErkJggg==") no-repeat left bottom;
					padding-left: 28px;
					padding-bottom: 10px;
					margin-right: 4rem;
					p:not(.num){
						font-size: 1.5rem;
						text-transform: uppercase;
						padding-bottom: 5px;
					}
					.num{
						font-weight: 700;
						font-size: 45px;
					}
				}
			}
		}

		.type-2,
		.type-3{
			.more{
				transition: .3s background-color, color ease-out;
				@extend .flex-center;
				$h: 60px;
				background-color: $color8;
				border-radius: $h;
				color: $color2;
				font-size: 2rem;
				height: $h;
				max-width: 250px;
				margin-top: 4rem;
				padding-left: 2.5rem;
				padding-right: 2.5rem;
				text-decoration: none;
				white-space: nowrap;
				&:hover{
					background-color: $color7;
				}
			}
		}
		.type-2{
			.title{
				font-size: 4.5rem;
				font-weight: 700;
				text-transform: uppercase;
				color: $color8;
			}
		}

		.type-3{
			.title{
				font-size: 4.5rem;
				font-weight: 700;
				text-transform: uppercase;
				color: $color8;
				max-width: 450px;text-shadow: -5px 0 #fff,0 5px #fff,5px 0 #fff,0 -5px #fff;
				text-shadow: 0 0 5px #fff;
				.red{
					color: $color7;
				}
			}
		}
	}
	// =/carousel


	.news,
	.about{
		&__cell{
			// flex-basis: 50%;
			width: 320px;
			// flex-shrink: 0;
		}
	}

	// =service
	.service{
		$color_1: #980929;
		$color_2: #c20831;
		@include gradient-vertical($color_1, $color_2);
		background-color: #a7092c;
		align-items: center;
		margin-top: 5px;
		&__cell{
			flex: 1 0 50%;
			height: 127px;
			position: relative;
			img{
				left: 35px;
				margin-top: -30px;
				position: absolute;
				top: 50%;
				z-index: 2;
				transition: .25s transform ease-out;
			}
			&:first-child(){
				&:before{
					@extend .before;
					height: 70px;
					border-left: 2px solid $color2;
					top: 50%;
					margin-top: -35px;
					right: 0;
				}
			}
		}
		&__link{
			color: $color2;
			display: flex;
			flex-direction: column;
			font-size: 1.6rem;
			height: 100%;
			justify-content: center;
			padding-left: 120px;
			text-decoration: none;
			&:after,
			&:before{
				@extend .before;
				background-color: #e20c3c;
				top: 0;
				left: 0;
				height: calc(100% + 5px);
				width: 100%;
				z-index: 1;
			}
			
			&:after{
				opacity: 0;
				transition-duration: .2s, .2s;
				transition-property: opacity, top;
			}
			&:before{
				transition: .3s top ease-out;
				z-index: -1;
				display: none;
			}
			&:hover{
				&:before{
					z-index: 1;
					top: -5px;
				}
				&:after{
					top: -5px;
					opacity: 1;
					// height: calc(100% + 5px);
				}
				img{
					transform: translateY(-10px)
				}
			}

			p{
				position: relative;
				z-index: 2;
			}
		}

		&__title{
			font-size: 2.4rem;
			font-weight: 500;
			&-middle{
				font-size: 2rem;
			}
		}
	}
	// =/service

	// =about
	.about{
		flex-grow: 1;
		// display: flex;
		&__cell{
			display: flex;
			// flex-basis: 50%;
			// flex-basis: 320px;
			img{
				display: block;
				height: 100%;
			}
			p{
				font-size: 1.5rem;
				line-height: 1.6;
			}
			.title{
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 1.4;
				padding-bottom: 2rem;
				padding-right: 7rem;
				text-decoration: none;
			}
			&-right{
				.title{
					color: $color2;
				}
				p:not(.more){
					color: $color2;					
				}
			}
		}
		.tocat{
			font-size: 2rem;
			font-weight: 500;
		}
		&__meta{
			top: 4rem;
		}
		&__link{
			text-decoration: none;
		}

		.more{
			display: inline-flex;
			font-weight: 500;
			margin-top: 1.4rem;
		}
	}
	// =/about
}




// =objects
.objects-callback{
	width: 100%;
	.side{
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
	}
}

.objects-intro{
	background: url(../images/bg-1.jpg) no-repeat center #ebeef1 /cover;
	padding: 3.5rem 0 8rem;
	.intro{
		padding-top: 11.7rem;
	}
}


.card_flat .carousel,
.objects,
.intro__carousel,
.list_construction .tab-content,
.related .carousel
{
	.owl-carousel{
		.owl{
			&-prev,
			&-next
			{
				&:before{
					@extend .before;
					transition: .3s all ease-out;
					background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAYCAMAAAAmopZHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAqFBMVEUAh00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah00Ah03////LzDCzAAAANnRSTlMAYyZ50Sx4/LEGd+NFAeQ9/t873jziesojAv3Nlp6PZvdn9gN9z5uklHzJIXvhOdzdOELULiiNp6GjAAAAAWJLR0Q3MLi4RwAAAAd0SU1FB+ICFxEtB4P8KmQAAACiSURBVCjPdZFHFsIwDERFh4AoCTGdUEIJxHR0/6Mhr/KMlNl5Rv7jAlCoUgVNNao3FLvZImp3hB2w3e2hhBD1BxIyJBqFKiQaq5WxhASOLacNsyfTf3dm5jy+WK48rSFh1yW+NrAlTTvYp4ynw/Hk6cwNGfuXq3wwzDmwN+UpDd/LhkqQ84nu2g7X8XiWdMRlKPtCGRj9HwFTen8UEGDyLRY/EnAekAPc1nQAAAAASUVORK5CYII=") no-repeat center;
					filter: grayscale(1);
					height: 24px;
					width: 23px;
				}
				&:hover{
					&:before{
						filter: grayscale(0);
					}
				}
			}
			&-next{
				&:before{
					@include rotation(180deg);
				}
			}
		}
	}
}


.card_flat .carousel,
.objects,
.list_construction .tab-content,
.related .carousel
{
	.owl-carousel{
		margin-top: 4.2rem;
		.owl{
			&-nav{
				margin-top: -45px;
				position: absolute;
				top: 50%;
				width: 100%;
			}
			&-prev,
			&-next
			{
				height: 90px;
				position: absolute;
				top: 0;
				width: 50px;
				&:before{
					left: 50%;
					margin-top: -12px;
					top: 50%;
					z-index: 2;
				}
				&:after{
					@extend .before;
					background: white;
					height: 90px;
					top: 0;
					width: 40px;
				}

			}
			&-prev{
				left: -50px;
				@include transition-param(left);
				&:before{
					margin-left: -6px;
				}
				&:after{
					right: 0;
				}
				&:hover{
					left: -40px;
				}
			}
			&-next{
				@include transition-param(right);
				right: -30px;
				&:before{
					left: 10px;
				}
				&:after{
					right: 10px;
				}
				&:hover{
					right: -20px;
				}
			}
		}
	}	
}

.objects{
	width: 1185px;
	.flexbox{
		align-items: center;
	}
	.more{
		flex-grow: 1;
		margin-right: 50px;
		text-align: right;
		&__link{
			&:before{
				@include transition-param(left);
				@include sprite($icon-list);
				left: 19px;
			}
			&:hover{
				&:before{
					left: 24px;
				}
			}
		}
	}

	&__carousel{
		width: 1185px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -15px;
	}

	&__info{
		font-size: 1.5rem;
		font-weight: 100;
		margin-left: 3rem;
		padding-left: 3rem;
		position: relative;
		&:before{
			@extend .before;
			border-left: 5px solid $color8;
			height: 28px;
			left: 0;
			top: 4px;			
		}
	}
}

.object{
	&__item{
		$d: 8px;
		padding-bottom: $d;
		position: relative;
		width: 365px;

		&:after{
			@extend .before;
			border-bottom: 5px solid $color7;
			bottom: 0;
			z-index: 10;
			width: 100%;
			transition: .2s border-bottom ease-out;
		}
		&:hover{
			.carousel-image{
				transform: scale(1.15);
			}
			.btn-more{
				background-color: $color7;
				color: $color2;
			}

			&:after{
				border-bottom-width: 8px;
			}
		}
	}
	&__link{
		display: block;
		overflow: hidden;
		position: relative;
	}

	&__description{
		bottom: 0;
		display: flex;
		flex-direction: column;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	&__top{
		flex-grow: 1;
		padding: 4rem 40px 0 55px;
		color: $color2;
		p:not(.name){
			font-size: 1.5rem;
			font-weight: 100;
		}
		.name{
			font-size: 30px;
			font-weight: 800;
			padding-bottom: 3px;
			position: relative;
			text-transform: uppercase;
			&:after{
				@extend .before;
				border-bottom: 3px solid $color7;
				width: 180px;
				bottom: 0;
			}
		}
	}
	&__bottom{
		background: url(../images/object-bg.png) no-repeat left top;
		height: 123px;
		color: $color2;
		padding: 50px 40px 0 55px;
		display: flex;
		justify-content: space-between;
		p:not(.price){
			font-size: 1.6rem;
			font-weight: 100;
		}
		.price{
			padding-top: .5rem;
			font-size: 2rem;
			font-weight: 500;
		}
		.btn-more{
			$h: 44px;
			align-items: center;
			background: white;
			border-radius: $h;
			color: $color13;
			display: inline-flex;
			font-size: 1.5rem !important;
			font-weight: 600;
			height: $h;
			padding: 0 1.8rem;
			transition: .3s background-color, color ease-out;
		}
	}

	&__labels{
		margin-top: 1.5rem;
	}
}
// =/objects


// =intro
.intro,
.about-partners
{
	.link_groups{
		display: flex;
		margin-top: 4rem;
		font-size: 2.4rem;
		a{
			padding-left: 97px;
			position: relative;
			margin-right: 7.5rem;
			text-decoration: none;
			line-height: 1.4;
			span{
				border-bottom: 2px solid $color7;
			}
			&:before{
				@extend .before;
				transition: .3s left ease-out;
			}
			&:hover{
				&:before{
					left: -10px;
				}
				span{
					border-bottom: none;
				}
			}
		}
	}
}
.intro{
	align-items: center;
	&__left{
		flex-basis: 650px;
	}
	&__right{
		flex-grow: 1;
		font-size: 1.7rem;
		line-height: 1.4;
		padding-left: 160px;
		padding-right: 140px;
		h1{
			margin-bottom: 1rem;
		}
		p{
			color: $color15;
			line-height: 1.7;
		}
	}
	&__carousel{
		position: relative;
		width: 640px;
		img{
			position: relative;
			z-index: 2;
		}
		&:before,
		&:after{
			background: rgba(31, 45, 39, .1);
			@extend .before;
		}

		&:before{
			left: 10px;
			top: 10px;
			width: 640px;
			height: 460px;
		}
		&:after{
			left: 20px;
			top: 20px;
			width: 640px;
			height: 440px;
		}

		.owl{
			&-nav{
				background: #fff;
				right: 0;
				bottom: 0;
				width: 120px;
				height: 60px;
			}
			&-next,
			&-prev{
				position: absolute;
				opacity: .5;
				bottom: 0;
				top: 18px;
				&:hover{
					opacity: 1;
				}
			}
			&-prev{
				padding-left: 40px;
				left: 0;
				&:before{
					right: 0;
				}
				&:hover{
					&:before{
						right: 5px;
					}
				}
			}

			&-next{
				padding-right: 40px;
				right: 0;
				&:before{
					left: 0;
				}
				&:hover{
					&:before{
						left: 5px;
					}					
				}
			}
		}
	}

	.link_calc{
		&:before{
			@include sprite($icon-sett);
		}
	}

	.link_groups{
		a:before{
			left: 0;
			top: 0;
		}
	}
}
// =/intro


// =about-partners
.about-partners{
	padding-bottom: 117px;
	.about,
	.partners{
		flex: 1 0 50%;
	}
	.about{
		padding-right: 70px;
		&__left{
			p{
				font-size: 3rem;
				font-weight: 500;
				margin-top: 2rem;
			}
		}
		&__right{
			padding-left: 5rem;
			.subtitle{
				color: $color16;
				font-size: 1.5rem;
				text-transform: uppercase;
			}
			.title{
				font-size: 4rem;
				font-weight: 500;
				padding-top: 10px;
				text-transform: uppercase;
				position: relative;
				&:after{
					bottom: -20px;
					@extend .before;
					border-top: 3px solid $color7;
					width: 130px;
				}
			}
			.text{
				color: $color15;
				font-size: 1.7rem;
				margin-top: 4.5rem;
				line-height: 1.5;
			}
		}
		.more__link{
			background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAQAAABjX+2PAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAhcUKhROyD+WAAAAtklEQVQY022RQQqCUBCG/5ftIzW6R9AlapkQhEWL6Bh1lDpDqUk36QjRMg3c+LXQ4CVvhreZj3kzfCNk5YwToV2x4ZgHkDB04x57SiAjcGEhtnyA6++HLhYxBZDhu7FY8gIu+MgwEbIDVYp0lKdca8O7GWJFrVoDeZJuffU6UDLtk4xh2ulGlRY6yNNdsWu1iCeQELg2X1EAeaOmCzeUQPrz9i9113aGLqnNSdLGl0vqnDMju/IFTrboTx+TTc8AAAAASUVORK5CYII=");
			background-position: 18px center;
			background-repeat: no-repeat;
			font-size: 1.6rem;
			font-weight: 100;
			height: 5rem;
			margin-top: 3.5rem;
			transition: .3s background ease-out;
			&:hover{
				background-position: 23px center;
			}
		}
	}
	.partners{
		@extend .green-gradient;
		color: $color2;
		padding: 4.5rem 4rem;
		font-size: 1.7rem;
		.title{
			font-size: 4rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		.text{
			line-height: 1.6;
			margin-top: 1.5rem;
		}

		a{
			color: $color2;
			text-transform: none;
			font-size: 2.4rem;
		}
	}

	.link_groups{
		margin-top: 3.5rem;
		font-weight: 400;
		a{
			margin-right: 7rem;
			&:hover{
				&:before{
					left: -5px;
				}
			}
		}
		.icon-house{
			padding-left: 84px;
		}
	}
}
// =/about-partners

.big-icon{
	margin-bottom: 2.5rem;
	margin-top: .2rem;
	padding-left: 96px;
	position: relative;
	&:before{
		@extend .before;		
		transition: .3s left ease-out;
	}
	span{
		border-bottom: 2px solid $color7;
	}
	&:hover{
		&:before{
			left: -10px;
		}
		span{
			border-bottom: none;
		}
	}
}


.modal-map{
	background: #fff;
	left: 0;
	position: absolute;
	top: 10rem;	
	width: 100%;
	transition: .3s;
	opacity: 0;
	z-index: -10;
	&.open{
		display: block;
		opacity: 1;
		z-index: 10;
	}
	.container{
		box-shadow: 0 0 10px rgba(0,0,0,.5);
		padding-left: 0;
		padding-right: 0;
		position: relative;
	}
	.head{
		$h: 114px;
		font-size: 3rem;
		font-weight: 500;
		height: $h;
		line-height: $h;
		padding-left: 4rem;
		text-transform: uppercase;
	}
	#map{
		height: 585px;
	}

	.close-modal{
		right: 35px;
		top: 43px;
	}
}

