.icon-catalog{
	&:before{
		@extend .before;
		@include sprite($icon-catalog);
		left: 0;
		top: 0;
		// @media (max-width: 1650px){
		// 	@include sprite($icon-catalog-sm);
		// 	top: 7px;
		// }
		// @media (max-width: 991px){
		// 	@include sprite($icon-catalog-xsm);
		// 	top: 0;
		// }
	}
}


.icon-sett{
	&:before{
		@extend .before;
		@include sprite($icon-sett);
		left: 0;
		top: 0;
	}
}


.icon-pricelist{
	&:before{
		@extend .before;
		@include sprite($icon-pricelist);
		left: 0;
		top: 0;
	}
}


.icon-people{
	&:before{
		@extend .before;
		@include sprite($icon-people);
	}
}

.icon-people-gray{
	&:before{
		@extend .before;
		@include sprite($icon-people-gray);
	}
}


.icon-people-dark{
	&:before{
		@extend .before;
		@include sprite($icon-people-dark);
	}
}


.icon-tel{
	&:before{
		@extend .before;
		@include sprite($icon-telsmall);
	}
}


.icon-tel-dark{
	&:before{
		@extend .before;
		@include sprite($icon-tel-dark);
	}
}

.icon-bulldozer{
	&:before{
		@extend .before;
		@include sprite($icon-bulldozer);
		top: 8px;
		left: 0;
	}
}

.icon-house{
	&:before{
		@extend .before;
		@include sprite($icon-house);
		top: -4px;
		left: 0;
	}
}

.icon-clock{
	padding-left: 25px;
	&:before{
		@extend .before;
		@include sprite($icon-clock);
		left: 0;
		top: 0;
	}	
}


.icon-darkclock{
	padding-left: 25px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-clock-dark);
		left: 0;
		top: 0;
	}	
}


.icon-back{
	&:before{
		@extend .before;
		@include sprite($icon-back);
		left: 0;
		top: 0;
	}
}

.icon-letter{
	&:before{
		@extend .before;
		@include sprite($icon-letter);
		left: 0;
	}
}

.icon-comment{
	&:before{
		@extend .before;
		@include sprite($icon-comment);
		left: 0;
		top: 10px;
	}
}


.icon-comment-dark{
	&:before{
		@extend .before;
		@include sprite($icon-comment-dark);
		left: 0;
		top: 10px;
	}
}


.icon-resume{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-resume);
	}
}


.icon-attach-dark{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-attach-dark);
	}
}

.icon-attach-white{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-attach-white);
	}
}


.icon-pencil{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-pencil);
	}
}


.icon-pencil-small{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-pencil-small);
	}
}

.icon-label{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-label);
		left: 12px;
	}
}

.icon-labelred{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-labelred);
		left: 0;
	}
}



.icon-house-dark{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-house-dark);
		left: 12px;
	}
}



.icon-camera{
	position: relative;
	padding-left: 33px;
	&:before{
		@extend .before;
		@include sprite($icon-camera);
		left: 0;
		top: -2px;
	}
}

.icon-camerabig{
	position: relative;
	padding-left: 64px;
	&:before{
		@extend .before;
		@include sprite($icon-camerabig);
		left: 0;
		top: -2px;
	}
}

.icon-photo{
	padding-left: 30px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-photo);
		left: 0;
		top: -1px;
	}
}



.icon-scheme{
	padding-left: 30px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-scheme);
		left: 0;
		top: -1px;
	}
}


.icon-schemebig{
	padding-left: 30px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-schemebig);
		left: 0;
		top: -1px;
	}
}

.icon-check{
	padding-left: 30px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-check);
		left: 0;
		top: 0;
	}
}


.icon-starsmall{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-starsmall);
		left: 0;
		top: 0;
	}
}

.icon-starsmallfill{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-starsmallfill);
		left: 0;
		top: 0;
	}
}



.icon-pencil-dark{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-pencil-dark);
		left: 0;
		top: 0;
	}
}


.icon-scheme-green{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-scheme-green);
		left: 0;
		top: 0;
	}
}


.icon-ruller{
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-ruller);
		left: 0;
		top: 0;
	}
}




.icon-doc{
	padding-left: 57px;
	position: relative;
	&:before{
		@extend .before;
		@include sprite($icon-doc);
		left: 0;
		top: 0;
		transition: .3s left;
	}
	&:hover{
		&:before{
			left: -5px;
		}
	}
}