.main{
	padding: 3rem 0 5rem;
	position: relative;
	z-index: 20;
	width: 100%;
}

.side{
	&-inner{
		top: -30px;
		margin-top: -70px;
		position: relative;
	}

	.resume{
		margin-top: -10rem;
	}
}

// =neck
.neck{
	background: #0a6a41 url(../images/neck-bg.jpg) no-repeat center / cover;
	color: $color2;
	position: relative;
	z-index: 21;

	p{
		font-size: 2rem;
		line-height: 1.6;
		a{
			@extend .tdn;
			color: $color2;
			font-weight: 500;
		}
	}
	.row{
		flex-wrap: nowrap;
		display: block;
	}

	.title{
		font-size: 4rem;
		font-weight: 500;
		text-transform: uppercase;
		&-sm{
			font-size: 3rem;
		}
	}

	.head{
		display: flex;
		padding: 3.5rem 0;
	}

	.back{
		@extend .flex-cv;
		$h: 35px;
		border-radius: $h;
		border: 2px solid;
		color: $color2;
		height: $h;
		padding-left: 36px;
		text-decoration: none;
		width: 95px;
		font-weight: 500;
		position: relative;
		&:before{
			left: 9px;
			top: 6px;
		}
	}

	.date{
		font-size: 1.5rem;
		margin-top: 2rem;
		position: relative;
	}

	.tabs{
		margin-left: 3.5rem;
		font-size: 1.7rem;
		font-weight: 500;
		display: flex;
		.tab{
			height: 5rem;

			border: 2px solid $color19;
			@extend .flex-cv;
			margin-left: -2px;
			@include transition-param(border-color);
			a{
				color: $color19;
				text-decoration: none;	
				padding-left: 2rem;
				padding-right: 2rem;
				height: 5rem;
				@extend .flex-cv;
				&:hover{
					color: $color2;
				}
			}
			&.active{
				border-color: $color2;
				cursor: default;
				padding-left: 2rem;
				padding-right: 2rem;
				position: relative;
				&:after{
					@extend .before;
					width: 0;
					height: 0;
					border-left: 9px solid transparent;
					border-right: 9px solid transparent;
					border-top: 8px solid $color2;
					bottom: -8px;
					left: 50%;
					margin-left: -5px;
				}
			}
			&:hover{
				border-color: $color2;
			}
		}
	}
}
// =/neck

// =breadcrumbs
.breadcrumbs{
	font-size: 1.3rem;
	border-bottom: 1px solid $color17;
	@extend .flex-cv;
	color: $color18;
		height: 48px;
	ul{
		li{
			display: inline-block;
			a{
				color: $color18;
				@extend .tdn;
			}
		}
	}
}
// =/breadcrumbs

// =pagination
.pagination{
	$s: 40px;
	@extend .flex-center;
	
	font-size: 1.7rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
	padding: 2rem 0;
	a, span{
		@extend .flex-center;
		text-align: center;
	}
	a{
		margin-left: 6px;
		margin-right: 6px;
		text-decoration: none;
	}
	a:not([class]),
	span:not(.separator){
		background: $color2;
		border-radius: 50%;
		color: $color22;
		height: $s;
		transition: .3s color, background-color;
		width: $s;
		&:hover{
			color: $color2;
			background-color: $color22;
		}
	}

	.separator{
		margin-left: 18px;
		margin-right: 18px;
	}

	.current{
		background-color: $color22 !important;
		color: $color2 !important;
		cursor: default;
	}

	.prev,
	.next{
		@extend .tdu;
		border-bottom: 1px solid;
		color: $color22;
		margin-right: 0;
		position: relative;
		text-decoration: none;
		&:hover{
			border-bottom: none;
		}
		&:before{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAMAAACKJ8VmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEWntcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcb///+kZQ3uAAAAM3RSTlMAS2MCROr9aEXm8FtC4/JW5O1X7t9HkT9J6f70+fr7WOv1/OWSTE/d51TsU+9aRmpNZQPrV+6mAAAAAWJLR0Q0qbHp/QAAAAd0SU1FB+ICGg4xMDgm7qYAAACESURBVBjTZY/bDoIwEAUXReQmBbSIKIIKKN4Qzv//mybYxK3ztJnsZFuiL8ZkSgxzZs2ZsB243q/wFwgES0JEsZYshZasJNsIgWSdKgwSG2TY7nLFnooSwCE/KiwieQIqv1Y04+2zzX8gL4haTTm43rj6vCBo/8L7g6tnmXXc0KsfxuENHzsOdNIv3ksAAAAASUVORK5CYII=") no-repeat left top;
			height: 18px;
			width: 17px;
			top: 3px;
		}
	}
	.prev{
		margin-right: 4rem;
		&:before{
			left: -32px;
		}
	}
	.next{
		margin-left: 4rem;
		&:before{
			right: -32px;
			@include rotation(180deg);
		}
	}

	&-gray{
		background: $color21;
	}
}
// =/pagination

// =picking
.picking{
	margin-top: 3.7rem;
	overflow-y: hidden;
	overflow: hidden;
	position: relative;
	transition: .3s all;
	width: 320px;
	img{
		@include transition-param(transform);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	&__link{
		@extend .flex-cv;
		color: $color2;
		font-size: 1.7rem;
		height: 135px;
		padding-left: 9rem;
		text-decoration: none;
		position: relative;
		z-index: 2;
		span{
			position: relative;
			&:before{
				@extend .before;
				@include sprite($icon-filter-white);
				left: -72px;
				top: 17px;
			}
		}
	}
	&:hover{
		box-shadow: 0 5px 20px rgba(83,99,121,.5);
		img{
			transform: scale(1.15)
		}
		span{
			text-decoration: underline;
		}
	}
}
// =/picking


.content-bottom{
	background: #f1f3f5;
	padding: 0.01rem 0 6.5rem;
	.row{
		display: block;
	}
	.subscribe{
		// margin: 5rem 0;
		margin-top: 5rem;
		// display: flex;
		width: 100%;
		background: $color2;
		padding: 4rem 5.5rem;

		&__text{
			line-height: 1.5;
			font-size: 2.2rem;
			padding-right: 120px;
		}
		.color{
			color: $color8;
		}

		&__form{
			flex:1 0 750px;
		}

		.input-field{
			width: 100%;
			.name-field,
			label{
				color: $color23;
				font-size: 1.4rem;
				top: 16px;
			}
			.form-control{
				border-bottom-color: #00874d;
				color: $color23;
				font-size: 1.4rem;
				height: 50px;
				width: calc(100% - 40px);
			}
		}
	}
}


// marerials
.materials{
	margin: 7rem 0;
	width: 100%;
	.title{
		font-size: 3rem;
		font-weight: 500;
		// margin: 3.8rem 0 2.6rem;
		padding-bottom: 2.6rem;
		text-transform: uppercase;
	}

	.flexbox{
		justify-content: space-between;
	}
}

.material{
	&__item{
		position: relative;
		a{
			text-decoration: none;
		}
		width: 335px;
		img{
			transition: .3s transform;
		}
		&:hover{
			.material__pic{
				img{
					transform: scale(1.3)
				}
			}
		}

		&:hover{
			.material__title span{
				background-color: $color7;
				color: $color2;
			}
		}
	}
	&__pic{
		overflow: hidden;
		position: relative;
	}

	&__title{
		font-size: 1.8rem;
		font-weight: 500;
		padding-top: 2rem;
		a, span{
			border-bottom: 2px solid $color7;
			line-height: 1.5;
			text-decoration: none;
		}
	}
	&__date{
		color: $color24;
		font-size: 1.3rem;
		margin-top: 1.7rem;
	}
}


// =expert aside
.expert{
	margin: 3.8rem 0 4.5rem;
	&__photo{
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}

	p{
		margin: .6rem 0;
	}

	&__name{
		font-size: 2rem;
		font-weight: 500;
		margin-top: 2rem !important;
	}

	&__post{
		color: $color32;
		font-size: 1.5rem;
	}

	&__contacts{
		font-size: 1.6rem;
	}
}
// =/expert aside



// =sortbox
.sortbox{
	color: $color1;
	font-size: 1.5rem;
	&__label{
		font-weight: 500;
		padding-right: 14px;
	}
	&__option{
		color: $color38;
		margin-right: 22px;
		padding-right: 16px;
		text-decoration: none;
		position: relative;
		&-up, &-down{
			&:after{
				@extend .before;
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHBAMAAAAsQKpuAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEVPU1dPU1dPU1dPU1dPU1dPU1dPU1dPU1f///8yhkl+AAAAB3RSTlMABgz9aqhxNl0TgwAAAAFiS0dECIbelXoAAAAHdElNRQfiAhsUMA3QWNI1AAAAK0lEQVQI12NgZGBgAGJlBwYGZwUGFhMQAjIdnIECDCymIA4DQ3oCmGICYgBU7AN1ywxzCwAAAABJRU5ErkJggg==") no-repeat;
				height: 7px;
				width: 11px;
				right: 0;
				top: 6px;
				z-index: 2;
			}
		}
		&-up{
			&:after{
				@include rotation(180deg);
			}

		}

		&-down:hover:after,
		&-up:hover:after{
			background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHBAMAAAAsQKpuAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEUAh03///8Ah00Ah00Ah00Ah00Ah00Ah00Ah03///8UZh41AAAACHRSTlMAAAYM/WqocdTeq3oAAAABYktHRAH/Ai3eAAAAB3RJTUUH4gIbFDUdsJg2FAAAAC1JREFUCNdjYGJgYABikwAGhhADBlZXEAIyA0KAAgysbiAOA0NFAZAQFBQGkgBuuASWBpbVaAAAAABJRU5ErkJggg==");
		}

		&:hover{
			color: $color8;
		}
	}
}
// =/sortbox


.selectgrade{
	margin: 2.3rem 0 -0.5rem;
	.unit{
		&-rating{
			$h: 44px;
			background: url(../images/bigstar.png) no-repeat left top;
			cursor: pointer;
			display: flex;
			height: $h;
			list-style: none;
			position: relative;
			width: 246px;
			li{
				text-indent: -9999em;
				a{
					display: block;
					height: $h;
					position: absolute;
					text-decoration: none;
					text-indent: -9999em;
					width: 48px;
					z-index: 17;
					&:hover,
					&.current{
						background: url(../images/bigstar.png) no-repeat left bottom;
						left: 0;
						top: 0;
					}					
					&:hover{
						z-index: 2;
					}
				}
			}

			&:hover{
				li a.current{
					background: none;
					width: 48px;
					z-index: -1;
					&:hover{
						background: url(../images/bigstar.png) no-repeat left bottom;
					}
				}


				a{
					&.current{
						z-index: 1;
						width: 48px;
						&:hover{
							left: 0;
							z-index: 2;
						}
					}
				}

				.unit-r1{
					&:hover{
						width: 48px;
					}
					&.current{
						left: 0;
						&:hover{
							width: 48px;
						}
					}
				}

				.unit-r2{
					&:hover{
						width: 98px;
					}
					&.current{
						left: 48px;
						&:hover{
							width: 98px;
						}
					}
				}
				.unit-r3{
					&:hover{
						width: 148px;
					}
					&.current{
						left: 98px;
						&:hover{
							width: 148px;
						}
					}
				}
				.unit-r4{
					&:hover{
						width: 198px;
					}
					&.current{
						left: 148px;
						&:hover{
							width: 198px;
						}
					}
				}
				.unit-r5{
					&:hover{
						width: 246px;
					}
					&.current{
						left: 198px;
						&:hover{
							width: 246px;
						}
					}
				}
			}



					.unit-r1{
						&.current{
							width: 48px;
						}
					}
					.unit-r2{
						left: 48px;
						&.current{
							width: 98px;
						}
					}
					.unit-r3{
						left: 98px;
						&.current{
							width: 148px;
						}
					}
					.unit-r4{
						left: 148px;
						&.current{
							width: 198px;
						}
					}
					.unit-r5{
						left: 198px;
						&.current{
							width: 246px;
						}
					}
		}

	}

}