.listgk-page{
	position: relative;
	.neck{
		position: relative;
		z-index: 32;
	}
	.main{
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		.wrapper{
			box-shadow: 10px 0 20px rgba(0,0,0,.2);
			width: 75%;	
			position: relative;
			z-index: 2;
			$pl: 155px;
			$pr: 92px;
			.panel{
				@extend .flex-cv;
				background: $color2;
				font-size: 1.5rem;
				// height: 85px;
				padding-top: 3rem;
				padding-bottom: 2rem;
				padding-left: $pl;
				padding-right: $pr;
				&__left{
					@extend .flex-cv;
					flex-grow: 1;
					b, strong{
						font-weight: 700;
					}
				}
			}
			.area-select__wrap{
				margin-left: 1.5rem;
				width: 215px;
				.not-full{
					input{
						color: $color1;
						@include placeholder($color1);
					}
				}
			}
			.listgk{
				overflow: hidden;
				padding-left: $pl;
				padding-right: $pr;
			}
		}	

		.complex{
			$pl: 32px;
			&__pic{
				position: relative;
				img{
					display: block;
				}
				.object__labels{
					left: 25px;
					position: absolute;
					top: 23px;
					width: 100%;
					img{
						display: inline-block;
					}
				}
			}

			&__link{
				display: block;
				overflow: hidden;
				img{
					transition: .3s transform;
				}
			}
			&__item{
				margin-top: 4.8rem;
				position: relative;
				transition: .3s box-shadow;

				&-inner{
					display: flex;
					@extend .perspective-gray;
				}
				&:after{
					@extend .before;
					border-bottom: 5px solid $color7;
					bottom: -17px;
					left: 12px;
					width: 100%;
				}

				&:hover{
					box-shadow: 2px 5px 30px rgba(83,99,121,.5);
					.complex__link{
						img{
							transform: scale(1.15)
						}
					}
				}

				.str{
					border-top: 1px solid $color28;
					font-size: 1.5rem;
					padding: 1.4rem 0;
					.color{
						color: $color8;
					}
				}
			}

			&__text{
				color: $color53;
				font-size: 1.6rem;
				line-height: 1.5;
				padding-bottom: 1.8rem;
			}

			&__description{
				background: $color2;
				display: flex;
				flex-direction: column;
				.object{
					&__info{
						margin-left: 0;
					}
					&__meta{
						padding-left: 0;
						padding-top: 33px;
						z-index: 1;
					}
				}
			}

			&__body{
				flex-grow: 1;
				padding-left: $pl;
			}

			&__bottom{
				@extend .flex-cv;
				background: #d7dde2;
				padding: 1.9rem 0 1.9rem $pl;
				.left{
					.flats{
						// color: $color1;
						font-size: 1.6rem;
						.num{
							color: $color8;
							font-weight: 700;
						}
					}
					.price{
						font-size: 2rem;
						font-weight: 700;
						padding-top: .5rem;
					}
				}
				.right{
					margin-left: 4.6rem;
					.btn{
						$h: 50px;
						@extend .flex-cv;
						background: $color8;
						border-radius: $h;
						color: $color2;
						font-size: 1.7rem;
						font-weight: 700;
						height: $h;
						padding-left: 63px;
						padding-right: 25px;
						text-decoration: none;
						transition: .3s background-color;
						&:before{
							left: 20px;
							top: 12px;
						}
						&:hover{
							background-color: $color7;
						}
					}
				}
			}
		}
	}

	.map{
		overflow: hidden;
		position: relative;
		width: 480px;
		flex-shrink: 0;
		#map{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			margin-top: -1000px;
		}
	}
}