.listgk-page{
	position: relative;
	.main{
		padding-top: 0;
		padding-bottom: 0;
		.wrapper{
			position: relative;
			z-index: 2;
		}	

		.panel{
			@extend .flex-cv;
			background: $color2;
			font-size: 1.5rem;
			// height: 85px;
			margin-top: 1.3rem;
			padding: 1.7rem 0 2rem;
			.flexbox{
				align-items: center;
			}
			&__left{
				@extend .flex-cv;
				flex-grow: 1;
				b, strong{
					font-weight: 700;
				}
			}
		}
		.area-select__wrap{
			margin-left: 2.5rem;
			width: 215px;
			.not-full{
				input{
					color: $color1;
					@include placeholder($color1);
				}
			}
		}
		.listgk{
			&-inner{
				flex-wrap: wrap;
				align-items: flex-start;
				padding-right: 6rem;
			}
			.side{
				margin-top: -17rem;
			}

			.object{
				&__pic{
					height: 238px;
					overflow: hidden;
					position: relative;
					img{
						transition: .3s transform;
						position: absolute;
						bottom: 0;
						vertical-align: bottom;
					}
				}
				&__labels{
					margin-top: 0;
				}
				&__top{
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
					padding-left: 25px;
					padding-top: 20px;
				}
				&__bottom{
					height: 86px;
					padding-left: 2rem;
					padding-right: 1.4rem;
				}
				&__plate{
					width: 33.3%;					
				}
				&__item{
					margin-top: 3.5rem;
					width: calc(100% - 7px);
					&-outer{
						&:after{
							width: calc(100% - 7px);
						}
					}
					&:after{
						background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 calc(100% - 86px),#00a664 calc(100% - 86px),#00a664 100%);
					}

					&:hover{
						.object__pic{
							img{
								transform: scale(1.15)
							}
						}
					}

				}
				&__description{
					position: static;
				}

				&__info{
					font-size: 1.4rem;
				}
				&__title{
					font-size: 2.6rem;
					display: inline-block;
				}

				&__meta .object__info p:not(.object__title){
					font-size: 1.4rem;
				}

				&__subinfo{
					@extend .flex-cv;
				}

				&__composition{
					margin-left: .7rem;
				}

			}

			.btn-more{
				text-decoration: none;
			}
		}


		.complex{
			$pl: 32px;


			&__link{
				display: block;
				overflow: hidden;
				img{
					transition: .3s transform;
				}
			}
			&__item{
				margin-top: 4.8rem;
				margin-right: 105px;
				position: relative;
				transition: .3s box-shadow;

				&-inner{
					display: flex;
					@extend .perspective-gray;
				}
				&:after{
					@extend .before;
					border-bottom: 5px solid $color7;
					bottom: -17px;
					left: 12px;
					width: 100%;
				}

				&:hover{
					box-shadow: 2px 5px 30px rgba(83,99,121,.5);
					.complex__link{
						img{
							transform: scale(1.15)
						}
					}
				}

				.str{
					border-top: 1px solid $color28;
					font-size: 1.5rem;
					padding: 1.4rem 0;
					.color{
						color: $color8;
					}
				}
			}

			&__text{
				color: $color53;
				font-size: 1.6rem;
				line-height: 1.5;
				padding-bottom: 1.8rem;
			}

			&__description{
				.str{
					font-size: 1.3rem;
					color: #3d3d3d;
					padding: 1.2rem 0;
					border-bottom: 1px solid #ebeef1;
					&:last-child{
						border-bottom: none;
					}
				}
				padding-left: 2rem;
				padding-right: 1.8rem;
				padding-bottom: 1rem;
				background: $color2;
				display: flex;
				flex-direction: column;
				.object{
					&__info{
						margin-left: 0;

					}
					&__meta{
						padding-left: 0;
						padding: 1.5rem 0 0.5rem;
						z-index: 1;
						.btn{
							font-size: 1.3rem;
							height: 3rem;
							padding-left: 35px;
							padding-right: 14px;
							display: inline-flex;
							&:before{
								@include sprite($icon-house-dark-sm);
							}
						}
					}
				}
			}

			&__body{
				flex-grow: 1;
				// padding-left: $pl;
			}

			&__bottom{
				@extend .flex-cv;
				padding: 1.9rem 0 1.9rem 0;
				.left{
					.flats{
						// color: $color1;
						font-size: 1.6rem;
						.num{
							color: $color8;
							font-weight: 700;
						}
					}
					.price{
						font-size: 2rem;
						font-weight: 700;
						padding-top: .5rem;
					}
				}
				.right{
					margin-left: 4.6rem;
					.btn{
						$h: 50px;
						@extend .flex-cv;
						background: $color8;
						border-radius: $h;
						color: $color2;
						font-size: 1.7rem;
						font-weight: 700;
						height: $h;
						padding-left: 63px;
						padding-right: 25px;
						text-decoration: none;
						transition: .3s background-color;
						&:before{
							left: 20px;
							top: 12px;
						}
						&:hover{
							background-color: $color7;
						}
					}
				}
			}
		}
	}

	.map{
		overflow: hidden;
		position: relative;
		width: 480px;
		flex-shrink: 0;
		#map{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			margin-top: -1000px;
		}
	}
}