$color_1: #fff; 
$color_2: #0563bf;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


.panelbase{
	position: fixed;
	min-height: 656px;
	overflow: hidden;
	height: 100%;
	top: 0;
}

.apanel{
	$r: -320px;
	&__inner{
		right: $r;		
		transition: .3s;
	}
	.page-asubnav{
		transform: translateX(320px);
		transition: .4s transform;
		&.open{
			transform: translateX(0);			
		}
	}

	&.open{
		$r: 0;
		right: $r;
		z-index: 500;
		.apanel__inner{
			right: $r;		
		}
	}
}

.apanel{
	@extend .panelbase;
	color: $color2;
	max-width: 100%;
	position: fixed;
	transition: .3s;
	width: 320px;
	// z-index: 500;
	z-index: -1;
	a{
		color: $color2;
		text-decoration: none;
	}

	&__inner{
		position: fixed;
		background: $color55;
		top: 0;
		bottom: 0;
		overflow: auto;
		width: 320px;
		height: 100%;
	}


	.page{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		&-asubnav{
			background: $color55;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
	
	&__top,
	&__body
	{
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	&__top{
		background-color: $color8new;
		align-items: center;
		height: 8rem;
		justify-content: space-between;

		.btn-callback{
			border-color: $color2;
			color: $color2;
			font-size: 1.4rem;
			width: 148px;
			padding: 0;
		}
		.wishlist{
			&__link{
				&:before{
					@include sprite($icon-star-white);
				}
				&:after{
					@include sprite($icon-starfill-white);
				}
			}
		}

		.close-menu{
			position: relative;
			top: -6px;
		}
	}
	
	&__body{
		overflow: hidden;
	}

	ul{
		font-size: 1.7rem;
		li{
			border-bottom: 1px solid #33946d;
			a,
			span{
				cursor: pointer;
				display: block;
				line-height: 1;
				padding: 1.6rem 0;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}


	.folder{
		background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAQAAAC4X5UdAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQSMQtBrgMVAAAASUlEQVQI122PwQ0AIAjELu7Aii7nAO5houvUh1EJCr8GyiEyBUO7RQXaRcLoHglhtIvWoENbdtCxYwygJ8X6rwRpOPsEe6KH5yb3d4hOiCAq7wAAAABJRU5ErkJggg==") no-repeat right center;					
	}

	.back{
		border-bottom: 1px solid #33946d;
		font-size: 1.7rem;
		&:hover{
			text-decoration: underline;
		}
		&_btn{
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAQAAAC4X5UdAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQTFiuhx/uPAAAAUElEQVQI122Puw2AMBQDL4iSNmOwLqtQIJaIFNY5CgREL7Grs+T3SfIps3HMDZ6sLPg4W9RqbrGYJaAEFKzq9aJMRPWVbuhg7eCwP9pTfO4Gp7dxWP77/SYAAAAASUVORK5CYII=") no-repeat left center;
			display: block;
			padding: 1.6rem 0 1.6rem 27px;
		}
	}

	nav{
		font-size: 1.7rem;
		font-weight: 500;
		// margin-top: 5.2rem;

		& > ul{
			// position: relative;
			// z-index: 999;
			& > li{
				// position: relative;

				// .transition;
				&:hover,
				&.current,
				&.active{
					&:before{
						// background-color: $color1;
						// left: 70px;
					}
					a, span{
						// background-color: $color2;
						// color: $color1;
						// padding-left: 9.5rem;
					}
				}
			}
		}
	}

	.contacts_social{
		padding-bottom: 6.2rem;
		.contacts{
			&__cell{
				margin-top: 2.4rem;
			}
		}
		.social{
			padding-top: 2.2rem;
			a{
				margin-left: .4rem;
				margin-right: .5rem;
			}
		}
	}
}


// subnav
.asubnav{
	will-change: right;
	.title{
		padding-top: 3.5rem;
		padding-left: 4rem;
		padding-bottom: 1.1rem;
	}

	ul{
		li{
			a, span{
				color: $color2;
				cursor: pointer;
				display: block;
				text-decoration: none;				
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&_content{
		display: none;
		&.subnav_content-active{
			display: block;
			z-index: 10;
		}
	}
}