@media (max-width: 1650px){
	.big-icon{
		padding-left: 65px;
	}

	.feature,
	.topnews{
		.news{
			&__meta{
				bottom: 40px;
			}
			&__title{
				font-size: 1.6rem;
			}
		}
	}

	// homepage
	.feature{
		$h: 666px;
		height: $h;
		&__left{
			width: 810px;
		}
		&__right{
			flex-basis: 440px;
			width: 540px;
			height: $h;
		}


		.owl-carousel .owl-item img{
			height: 562px;
		}

		.promo{
			height: auto;
			.type-1 .statistic__cell .num{
				font-size: 3.2rem;
			}
		}
		
		.service{
			&__cell{
				height: 98px;
				img{
					margin-top: -20px;
				}
				&:first-child(){
					img{
						margin-top: -25px;
					}
				}
			}
			&__link{
				p{
					padding-right: 1.5rem;
				}
				&-gnk{
					img{
						width: 45px;
					}
				}
				&-calc{
					img{
						width: 45px;
					}
				}
			}
			&__title{
				font-size: 2rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 50%;
			}
			$pl: 2.2rem;
			&__meta{
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}
		}

		.about{
			&__cell{
				z-index: 2;
				.title{
					font-size: 2rem;
				}
			}
			.tocat{
				font-size: 1.7rem;
			}
		}

		.news{
			&__desc{
				top: 100%;
			}
		}
	}
}



@media (max-width: 1399px){
	.feature{
		$h: 666px;
		height: $h;
		&__left{
			width: 750px;
		}
		&__right{
			flex-basis: 440px;
			width: 500px;
			height: $h;
		}

		.service{
			&__cell{
				height: 98px;
				img{
					margin-top: -20px;
				}
				&:first-child(){
					img{
						margin-top: -25px;
					}
				}
			}
			&__link{
				padding-left: 90px;
				p{
					padding-right: 1.5rem;
				}
				&-gnk{
					img{
						width: 45px;
					}
				}
				&-calc{
					img{
						width: 45px;
					}
				}
			}
			&__title{
				font-size: 1.6rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 50%;
			}
			$pl: 2.2rem;
			&__meta{
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}
		}

		.about{
			&__cell{
				z-index: 2;
				.title{
					font-size: 1.8rem;
				}
				p{
					font-size: 1.4rem;
				}
			}
			.tocat{
				font-size: 1.6rem;
				padding-left: 67px;
			}
		}
	}	
}

@media (max-width: 1280px){
	// homepage
	.feature{
		$h: auto;
		height: $h;
		&__left{
			// width: 700px;
			width: 670px;
		}
		&__right{
			height: $h;
			flex-basis: 450px;
			width: 450px;
		}

		.owl-carousel .owl-item img{
			height: 392px;
		}

		.promo{
			height: 392px;
			img{
				// height: 412px;
			}
			.description{
				padding-right: 5%;
			}
		}

		.news,
		.about{
			&__cell{
				height: 248px;
				width: 225px;
				img{
					max-width: 100%;
					height: 100%;
				}
			}
			$pl: 1.8rem;
			&__meta{
				bottom: 20px;
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}

			&__link{
				height: 100%;
			}
		}

		.news{
			&__top{
				padding-top: 1.5rem;
			}
			&__title{
				font-size: 1.5rem;
			}
			&__desc{
				font-size: 1.4rem;
				top: 100%;
			}
		}

		.about{
			&__cell{
				.title{
					padding-right: 2rem;
					padding-bottom: 0;
				}
			}
			&__meta{
				top: 1.5rem;
			}
			.more{
				font-size: 1.4rem;
				height: 35px;
				padding: 0 1.5rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 237px;
				img{
					max-width: auto;
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 1149px){
	.feature,
	.topnews{
		.news .date .my{
			font-size: 1.2rem;
		}
	}

	.feature {
		.promo{
			$h: 412px;
			height: $h;
			.owl-carousel .owl-item img{
				height: $h;
			}
		}

		.news__cell{
			&:last-child{
		 	display: none;
			}
		}

		&__right{
			flex-basis: 237px;
			width: 237px;
		}
		.about{
			display: block;
			&__meta{
				margin-right: 0;
				width: 90%;
			}
			&__cell{
			height: 133px;
			&:last-child{
				height: 134px;
			}
			.title{
				font-size: 1.7rem;
				padding-right: 0;
			}
			}
		.short{
			display: inline;
		}
		.long{
			display: none;
		}
		}
		.about__text{
			display: none;
		}
	}
}


@media (max-width: 991px){
	.feature{
		.promo{
			$h: auto;
			height: $h;
			.owl-carousel .owl-item img{
				height: $h;
			}
		}

		.row{
			display: block;
		}

		&__left{
			width: 100%;
		}

		.service__cell{
			height: 105px;
		}
		
		.about,
		.news{
			&__text{
				display: block;
			}
		}
		&__right{
			width: auto;
			flex-basis: 100%;
			flex-direction: row;
			.news{
				flex-basis: 33.3%;
				&__cell{
					width: 100%;
					height: 275px;
				}
			}
			.about{
				display: flex;
				flex-basis: 66.6%;
				&__cell{
					height: auto !important;
					width: 50%;
				}
			}
		}
	}
}


@media (max-width: 768px){
	.feature{
		.container{
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			.row{
				margin-left: 0;
				margin-right: 0;
			}
		}
		.about{
			.tocat{
				font-size: 1.3rem;
				padding-left: 40px;
				br{
					display: none;
				}
			}
			&__cell{
				.title{
					margin-bottom: 2rem;
				}
			}
		}
	}
}



@media (max-width: 750px){

}


@media (max-width: 670px){
	.feature{
		.service__subtitle{
			display: none;
		}
		.promo{
			// height: 280px;
			height: auto;
			img{
				height: 280px;
			}
			.description{
				padding-left: 20px;
				padding-right: 20px;
			}
			.manage{
				// display: none;
			}
			.type-1,
			.type-2,
			.type-3{
				.title{
					text-align: center;
					max-width: 100%;
				}
			}

			.type-2,
			.type-3{
				.more{
					$h: 40px;
					border-radius: $h;
					font-size: 1.5rem;
					height: $h;
					margin: 2rem auto 0;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
			}
				
			.type-1{
				.title{
					font-size: 2.4rem;
					line-height: 1.4;
					margin-top: -3rem;
				}
				.statistic{
					justify-content: space-between;
					margin-top: 0;
					&__cell{
						p:not(.num){
							font-size: 1.3rem;
						}
						.num{
							font-size: 3rem;
							white-space: nowrap;
						}
					}
				}

				br{
					display: none;
				}
			}

			.type-2{
				.title{
					font-size: 3rem;
					br{
						display: none;
					}
				}
			}


			.type-3{
				.title{
					font-size: 3rem;
					br{
						display: none;
					}
				}
			}
		}

		.service__link p{
			line-height: 1.4;
		}

	}

	.feature .promo,
	.about-page .carousel
	{
		.owl{
			&-dots{
				display: flex;
			}
			&-dot{
				$s: 13px;
				border: 3px solid rgba(0,0,0,0);
				margin: 0 .7rem;
				height: $s; 
				width: $s;
				&:before{
					$s: 7px;
					background-color: rgba(0,0,0,.5);
					width: $s;
					height: $s;
				}
			}
			&-nav{
				height: auto;
				left: 0;
				margin: 0 auto;
				right: 0;
				width: 190px;
			}

			&-prev,
			&-next{
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAQAAABO1swWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQNASgr9aDZAAAA8ElEQVQoz42RvU5CQRCFzwJCcn0GCktbAjc2llL5FDyKbwCSoKGgws4XMTa2xL+EQIyFiZVawEezG+Du3MXZaiffzDkz45ARudZ6jLLEL+eND86L+Rhs8wLAA8dptM07AJ9cprvmPAOwpBsbs6S/uDAmkCXdtcAtGqQXZWBAg/ScszIQ1SR1dK+mJDTUt1qqWFcRosMr/4nfilo68VUHwpHpWj0PP+lHdbPI6U+IjFsvclU+VNhAnbGH+xyl0V14SDWNiowbDw9opNHdzgPLxv43aaNYu7UxKtqIPYXOU9whVDSYcBeP5sx7nmqlWTG5AcJX4O+zflxMAAAAAElFTkSuQmCC") no-repeat center top !important;  
				height: 28px;
				opacity: 1;
				padding-top: 25px;
				top: 0;
				width: 30px;
			}
			&-prev{
				background-position: center top ;
				top: -5px;
				&:hover{
					background-position: center top
				}
			}
			&-next{
				background-position: center bottom;
				bottom: 0;
				right: 0;
				top: -10px;
				&:hover{
					background-position: center bottom;
				}
			}
		}

		.manage{
			bottom: 10px;
			flex-direction: row;
			height: 24px;
			justify-content: center;
			left: 0;
			position: absolute;
			top: auto;
			width: 100%;
			z-index: 2;

			&.dark{
				.owl{
					&-dot{
						&.active{
							border-color: #00874d;
						}
					}
					&-prev,
					&-next{
						// background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAQAAABO1swWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQNASgr9aDZAAAA8ElEQVQoz42RvU5CQRCFzwJCcn0GCktbAjc2llL5FDyKbwCSoKGgws4XMTa2xL+EQIyFiZVawEezG+Du3MXZaiffzDkz45ARudZ6jLLEL+eND86L+Rhs8wLAA8dptM07AJ9cprvmPAOwpBsbs6S/uDAmkCXdtcAtGqQXZWBAg/ScszIQ1SR1dK+mJDTUt1qqWFcRosMr/4nfilo68VUHwpHpWj0PP+lHdbPI6U+IjFsvclU+VNhAnbGH+xyl0V14SDWNiowbDw9opNHdzgPLxv43aaNYu7UxKtqIPYXOU9whVDSYcBeP5sx7nmqlWTG5AcJX4O+zflxMAAAAAElFTkSuQmCC") no-repeat; 
					}
				}
			}
		}
	}
}



@media (max-width: 630px){
	.feature{
		&__right{
			.about,
			.news{
				height: 260px;
				flex-basis: 50%;
				&__link{
					// height: 50%;
				}
			}
			.about{
				// display: block;
				flex-direction: column;
				&__cell{
					width: 100%;
					&-right{
						// display: block;
					}
				}
				&__text{
					display: none;
				}
			}
		}
	}
}


@media (max-width: 480px){
	.feature{
		.promo .type-1{
			.title{
				font-size: 1.8rem;
				font-weight: 500;
			}
			.statistic{
				display: block;
			}
			.statistic__cell{
				// justify-content: center;
				display: block;
				background: none;
				// display: flex;
				font-size: 1.4rem;
				padding-bottom: 0;
				text-align: center;
				position: relative;
				margin-bottom: .7rem;
				&:after{
					border-bottom: 2px solid $color7;
					content: "";
					display: block;
					position: relative;
					width: 42px;
					left: 50%;
					margin-left: -21px;
				}
				p{
					font-size: 1.4rem !important;
					display: inline-block !important;
					vertical-align: top;
					height: auto !important;
					padding-bottom: 0 !important;
				}
				.num{
					font-size: inherit;
					font-weight: 500;
					margin-left: 2px;
					margin-top: .3rem;
				}
			}
		}
		.service{
			&__link{
				padding-left: 81px;
			}
			&__cell img{
				left: 20px;
			}
		}
	}
}


@media (max-width: 420px){
	.feature{
		.promo{
			.type-1{
				.title{
					font-size: 1.8rem;
					font-weight: 500;
				}
				.statistic{
					display: block;
				}
				.statistic__cell{
					// justify-content: center;
					display: block;
					background: none;
					// display: flex;
					font-size: 1.4rem;
					padding-bottom: 0;
					text-align: center;
					position: relative;
					margin-bottom: .7rem;
					&:after{
						border-bottom: 2px solid $color7;
						content: "";
						display: block;
						position: relative;
						width: 42px;
						left: 50%;
						margin-left: -21px;
					}
					p{
						font-size: 1.4rem !important;
						display: inline-block !important;
						vertical-align: top;
						height: auto !important;
						padding-bottom: 0 !important;
					}
					.num{
						font-size: inherit;
						font-weight: 500;
						margin-left: 2px;
						margin-top: .3rem;
					}
				}
			}
			.description{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.promo .owl-carousel .owl-item .carousel-image{
			height: 235px;
		}

		.service{
			&__link{
				display: flex;
				align-items: center;
				padding-left: 0;
				text-align: center;
				p{
					padding: 0 1.5rem;
				}
			}
			&__cell{
				height: 136px;
				&:first-child{
					img{
						// margin-top: 0;
					}
				}
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
					position: static;
					margin-top: 0 !important;
					// left: 20px;
				}
			}

			&__title{
				padding-right: 0;
			}
		}

		&__right{
			display: block;
			.news,
			.about{
				height: auto;
			}
			.news{
				flex-basis: 100%;
				display: block;
				&__cell{
					height: 225px;
				}
			}
			.about{
				flex-direction: row;
				&__cell{
					width: 50%;
					.title{
						font-size: 1.5rem;
					}
				}

				&__meta{
					margin-left: 0;
					padding: 0 .5rem;
					text-align: center;
					width: 100%;
				}
			}
		}

		.about .tocat{
			font-size: 1.4rem;
			margin-bottom: 0;
			margin-top: 2.2rem;
			padding-left: 0;
			padding-top: 2.5rem;
			&:before{
				left: 50%;
				margin-left: -14px;
			}
		}
	}
}