@media (max-width: 1650px){
	.header{
		.contacts__cell,
		.btn-callback{
			display: none;
		}
		&__top{
			display: block;
			.contacts__cell,
			.btn-callback{
				display: block;
			}
		}
	}

	.mainnav{
		justify-content: center;
		width: auto;
		.nav{
			flex-basis: 90%;
		}
	}
}


@media (max-width: 1650px){
	.header{
		.logo{
			padding-top: 0;
		}
		&__top{
			.contacts__cell{
				margin-left: 0;
			}
		}
	}

	.fixed-header{
		.row{
			flex-wrap: nowrap;
		}
		.contacts__cell p{
			display: block;
		}
	}

	.modal-menu .menu{
		padding-right: 80px;
	}
}


@media (max-width: 1280px){
	.mainnav{
		margin-left: 0;
		.nav{
			width: 95%;			
			flex-basis: 95%;
		}
	}

	.fixed-header{
		.qfilter{
			padding-left: 2rem;
		}
		.contacts__cell{
			margin-left: 2rem;
			a{
				font-size: 1.7rem;
			}
		}
	}


	.modal-menu{
		.menu{
			padding-right: 0;
			width: 100%;
		}
		.contacts{
			display: none;
		}
	}
}

@media (max-width: 1149px){
	.header{
		.wishlist{
			margin-left: 0;
		}
		&__top .row .contacts__cell:first-child{
			margin-right: 4.5rem;
		}
	}
	.fixed-header{
		.btn-callback{
			font-size: 1.4rem;
			height: 3rem;
			padding-left: .5rem;
			padding-right: .5rem;
		}
		.contacts__cell-2{
			display: none;
		}
	}
	.mainnav{
		&>ul>li>a{
			font-size: 1.4rem;
			padding-left: .8rem;
			padding-right: .8rem;
		}
	}
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
	.header{
		&__top{
			display: none;
		}
		.mainnav{
			display: none;
		}
		.contacts__cell{
			display: block;
			p{
				font-size: 1.4rem;
			}
			a{
				font-size: 1.7rem;
			}
		}
	}

	.fixed-header{
		.btn-callback{
			display: none;
		}
		.qfilter{
			a{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
	}


	.modal-menu{
		.menu__top .cell{
			padding-right: 1rem;
			.flexbox {
				display: block;
			}
		}
		.menu__bottom{
			flex-wrap: wrap;
			justify-content: flex-start;
			.cell{
				margin-bottom: 2rem;
				width: 33.3%;
			}
		}
	}
}

@media (max-width: 768px){
	.header{
		.contacts__cell-2{
			display: none;
		}
	}

	.fixed-header{
		.logo{
			width: 180px;
			img{
				max-width: 100%;
			}
		}
		.wishlist{
			margin-left: .5rem;
		}
	}

	.modal-menu{
		.menu__bottom,
		.menu__top{
			.flexbox{
				flex-wrap: wrap;
			}
			.cell{
				margin-bottom: 2rem;
				width: 50%;
				&-flat{
					order: 0
				}
				&-others{
					order: 1;
				}

				&-commerce{
					order: 3;
				}
			}
		}

		.close-modal{
			right: 15px;
		}
	}
}


@media (max-width: 710px){
	.fixed-header{
		.logo{
			overflow: hidden;
			width: 50px;
			img{
				max-width: none;
				height: 40px;
				width: auto;
			}
		}
	}
}


@media (max-width: 590px){
	.header{
		.logo{
			overflow: hidden;
			width: 75px;
		}
	}

	.fixed-header{
		.contacts__cell{
			margin-left: 1rem;
			display: none;
		}
	}

	.modal-menu{
		height: 100%;
		.container{
			padding-top: 3rem;
		}
		.menu__bottom,
		.menu__top{
			text-align: center;
			.flexbox{
				flex-wrap: wrap;
				display: block;
			}
			.cell{
				margin-bottom: 2rem;
				width: 100%;
				&-flat{
					order: 0
				}
				&-commerce{
					order: 3;
				}
				&-others{
					order: 1;
				}
			}
		}
		.menu .title:after, 
		.menu dt:after{
			left: 50%;
			margin-left: -22px;
		}
	}
}

@media (max-width: 420px){
	.header{
		.logo{
			width: 50px;
			img{
				height: 40px;
			}
		}
		.contacts__cell{
			margin-left: 1rem;
			a{
				margin-left: 0;
			}
		}
		.wishlist{
			display: none;
		}
	}

	.fixed-header{
		.wishlist{
			display: none;
		}		
	}
}


@media (max-width: 350px){
	.fixed-header{
		.qfilter{
			padding-left: 1rem;
			font-size: 1.3rem;
		}
	}
}
