.show-vsm{
	display: none;
}

@media (max-width: 1650px){
	.header{
		.logo{
			padding-top: 0;
		}
		&__top{
			.contacts__cell{
				margin-left: 0;
			}
		}
		.contacts__cell,
		.btn-callback{
			display: none;
		}
		&__top{
			display: block;
			.contacts__cell,
			.btn-callback{
				display: block;
			}
		}
	}


	.fixed-header{
		.row{
			flex-wrap: nowrap;
		}
		.contacts__cell p{
			display: block;
		}
	}


	.mainnav{
		justify-content: center;
		width: auto;
		.nav{
			flex-basis: 90%;
		}
	}

	.modal-menu .menu{
		padding-right: 80px;
	}

	// footer
	.footer{
		min-height: auto;
		.col-7{
			flex-grow: 1;
		}

		&__content{
			padding-right: 0;
		}

		.subscribe{
			border-top: 3px solid #253628;
			flex-basis: 100%;
			padding: 2.5rem 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			p{
				padding: 0 !important;
				color: #adb4be;
				&:not(.title){
					font-size: 1.4rem;					
				}
				&.title{
					color: $color2;
				}
			}
			.input-field{
				align-self: flex-start;
				margin-right: 4.5rem;
			}
			.submit{
				margin-top: 0;
				font-size: 1.5rem;
				padding: 1.2rem 1.3rem;
			}

			&__body{
				display: flex;
			}

			&__text{
				display: flex;
				align-items: center;
				.title{
					margin-right: 3.4rem;
				}
			}
		}
	}


	// filter
	.filter{
		.slider__wrapper{
			width: 200px;
		}
		.param_control{
			width: 83px;
		}
		.room{
			&__checkbox{
				$s: 35px;
				width: $s;
				.checkbox+label{
					font-size: 1.5rem;
					line-height: $s;
					height: $s;
					width: $s;
				}
			}
		}
	}
}

@media (max-width: 1399px){
	.neck p{
		font-size: 1.7rem;
	}
}

@media (max-width: 1280px){
	.mainnav{
		margin-left: 0;
		.nav{
			width: 95%;			
			flex-basis: 95%;
		}
	}

	.fixed-header{
		.qfilter{
			padding-left: 2rem;
		}
		.contacts__cell{
			margin-left: 2rem;
			a{
				font-size: 1.7rem;
			}
		}
	}


	.modal-menu{
		.menu{
			padding-right: 0;
			width: 100%;
		}
		.contacts{
			display: none;
		}
	}

	.footer .subscribe p:not(.title){
		width: 300px;
	}


	// filter
	.filter{
		.tab-pane{
			.flexbox{
				flex-wrap: wrap;
			}
		}
		.cell-buttons{
			display: flex;
			flex-basis: 100%;
			margin-left: -224px;
			margin-top: 1.8rem;
			flex-grow: 1;
			.showmap{
				height: 60px;
				background: #d2d2d2;
				color: $color1;
				font-weight: 700;
				order: 0;
				margin-top: 0;
				&:before{
					@include sprite($icon-labelred);
					top: 20px;
				}
				span{
					border-bottom: 2px solid $color7;
				}
			}
			.showflat{
				br{
					display: none;
				}
				height: 60px;
				flex-shrink: 0;
				align-items: center;
				flex-direction: row;
				font-size: 1.4rem;
				justify-content: flex-start;
				order: 1;
				width: 260px;
				span{
					margin-left: .5rem;
				}
			}
		}

		#panel2{
			.cell{
				&-select{
					display: flex;
					// flex-basis: 100%;
				}
			}
		}
	}

	.favorite-page{
		.neck{
			.col-7{
				flex-basis: 100%;
			}
		}
	}
}

@media (max-width: 1149px){
	.header{
		.wishlist{
			margin-left: 0;
		}
		&__top .row .contacts__cell:first-child{
			margin-right: 4.5rem;
		}
	}
	.fixed-header{
		.btn-callback{
			font-size: 1.4rem;
			height: 3rem;
			padding-left: .5rem;
			padding-right: .5rem;
		}
		.contacts__cell-2{
			display: none;
		}
	}
	.mainnav{
		&>ul>li>a{
			font-size: 1.4rem;
			padding-left: .8rem;
			padding-right: .8rem;
		}
	}
	
	.main .content{
		width: 100%;
	}

	// footer
	.footer{
		&__logo{
			margin-top: 0;
		}
		.col-1{
			border-top: 3px solid #253628;
			order: 3;
			flex-basis: 100%;
			padding-top: 3rem;
			display: flex;
			align-items: center;
			// justify-content: space-between;
		}
		&__content{
			padding-left: 0;
		}
		&__logo{
			img{
				width: 115px;
			}
			padding-right: 4.5rem;
		}
		.copyright{
			flex-basis: 315px;
			p{
				margin-top: 1rem;
				margin-bottom: 0;
			}
			.ao{
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.idealpromo{
			display: flex;
			justify-content: flex-end;
			text-align: center;
			flex-grow: 1;
			&__body{
				width: 150px;
			}
		}
	}

	// filter
	.filter{
		.cell-buttons{
			margin-left: -152px;
		}
		 .nav{
		 	width: 112px;
		 	.btn{
			 	font-size: 1.3rem;
			 	padding-left: .7rem;
			 }
		 }

		.tab-content{
		 	padding-left: 4rem;
		}
		.room{
			&__group{
				flex-wrap: wrap;
				width: 125px;
			}
			&__checkbox{
				margin-bottom: 4px;
			}
		}

		.selectize-dropdown, .selectize-input, .selectize-input input{
			font-size: 15px;
		}

		.cell__title{
			font-size: 1.5rem;
		}
	}

	.installment, .panel{
		.checkbox+label	{
			font-size: 1.3rem;
		}
	}

	// neck
	.neck{
		.head{
			padding: 2.5rem 0 2rem;
		}
	}
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
	.neck{
		.title{
			font-size: 3.2rem;
		}
		p{
			font-size: 1.5rem;
		}
	}

	.favorite-page .head .title{
		font-size: 3.2rem;
	}

	.header{
		&__top{
			display: none;
		}
		.mainnav{
			display: none;
		}
		.contacts__cell{
			display: block;
			p{
				font-size: 1.4rem;
			}
			a{
				font-size: 1.7rem;
			}
		}
	}

	.fixed-header{
		.btn-callback{
			display: none;
		}
		.qfilter{
			a{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
	}


	.modal-menu{
		.menu__top .cell{
			padding-right: 1rem;
			.flexbox {
				display: block;
			}
		}
		.menu__bottom{
			flex-wrap: wrap;
			justify-content: flex-start;
			.cell{
				margin-bottom: 2rem;
				width: 33.3%;
			}
		}
	}

	.footer{
		.contacts__cell{
			margin-right: 2rem;
		}
		.subscribe__text{
			display: block;
		}
	}


	// filter
	.filter{
		display: block;
		.tab-content{
			padding-left: 0;
		}
		.nav{
			width: auto;
			display: flex;
			.btn{
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				width: 11rem;
				margin-top: 0 !important;
				margin-right: -2px;
				&.active{
					border: 2px solid $color8;
					&:after{
						display: none;
					}
				}
			}
		}

		.tab-pane{
		}
		.room__group{
			width: 200px;
		}

		.cell{
			&-select{
				flex-basis: 66.6%;
				display: flex;
				display: contents;
				justify-content: space-between;
				order: 0;
			}
			&-checkbox{
				order: 1;
			}
			.installment{
				order: 2;
			}
			&-slider{
				flex-basis: 50%;
				margin-top: 1.5rem;
				order: 5;
				&-area{
					padding-left: 3rem;
				}
			}
			&__wrapper{
				display: flex;
				width: 100%;
			}

			&-buttons{
				order: 6;
				margin-left: 0;
			}
		}

		.slider{
			width: 145px;
			&_controls{
				padding-top: 0;
				padding-left: 2rem;
				.separate{
					padding: 0 .2rem;
				}
			}
		}

		.param_control{
			font-size: 1.2rem;
			width: 75px;
		}
	}


	.installment__tooltip_content{
		left: auto;
		right: 35px;
		&:before{
			border-top: 7px solid transparent;
			border-left: 7px solid $color2;
			border-bottom: 7px solid transparent;
			border-right: none;
			left: auto;
			right: -7px;
		}
	}

	.installment__tooltip:hover .installment__tooltip_content{
		transform: translateX(0);
	}

	.gbi-page .neck{
		.head{
			display: block;
			.col-7{
				flex-basis: 100%
			}
			&__tel{
				display: block;
				margin-left: 50px;
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
		}
	}
}

@media (max-width: 768px){
	.header{
		.contacts__cell-2{
			display: none;
		}
	}

	.fixed-header{
		.logo{
			width: 180px;
			img{
				max-width: 100%;
			}
		}
		.wishlist{
			margin-left: .5rem;
		}
	}

	.modal-menu{
		.menu__bottom,
		.menu__top{
			.flexbox{
				flex-wrap: wrap;
			}
			.cell{
				margin-bottom: 2rem;
				width: 50%;
				&-flat{
					order: 0
				}
				&-others{
					order: 1;
				}

				&-commerce{
					order: 3;
				}
			}
		}

		.close-modal{
			right: 15px;
		}
	}

	.footer{
		background: #032919 ;
		.contacts__cell a{
			font-size: 1.8rem;
		}
		&__menu{
			display: none;
		}
		&__contacts{
			border-bottom: none;
		}
	}

	// filter
	.container-filter{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.filter{
		.cell-buttons{
			margin-left: -2rem;
			margin-right: -1rem;
		}
		.cell-slider-area{
			padding-left: 1.2rem;
		}
		&-inner{
			.cell-buttons{
				margin-right: -.5rem;
			}
		}
	}


	// neck
	.neck:before{
		display: none;
	}


	main{
		h1{font-size: 3.8rem;}
		h2{font-size: 3.4rem;}
		h3{font-size: 3rem;}
		h4{font-size: 2.6rem;}
		h5{font-size: 2.4rem;}
		h6{font-size: 2.2rem;}
	}
}


@media (max-width: 760px){
	// filter
	.filter{
		.cell-slider{
			margin-top: 0;
			flex-basis: 100%;
			&-area{
				padding-left: 0;
			}
		}

		.cell__title{
			position: relative;
			top: 20px;
		}

		.slider{
			flex-shrink: 0;
			margin-top: 3.6rem;
			width: 50%;
			&_controls{
				flex-grow: 1;
				width: 100%;
				.param_control{
					width: calc(50% - 12px);
				}
			}
		}
	}
}


@media (max-width: 750px){
	// footer
	.footer{
		&__contacts{
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.social{
			flex-grow: 0;
		}
		.contacts__cell
		{
			margin-right: 0;
			flex-basis: 50%;
			margin-bottom: 1.5rem;
			text-align: center;
		}

		.subscribe{
			flex-wrap: wrap;
			p.title{
			margin-right: 1.8rem;
			}
			&__text{
				display: flex;
				margin-bottom: 1.5rem;
			}
		}

		.col-1{
			flex-wrap: wrap;
		}
		.idealpromo{
			justify-content: center;
			margin-top: 3rem;
			text-align: center;
			flex-basis: 100%;
			&__body{
				width: auto;
			}
		}

		.subscribe{
			justify-content: center;
			.form-control{
				width: 30rem;
			}
		}
	}

	// pagination
	.pagination{
		font-size: 1.5rem;
		$s: 36px;
		a:not([class]),
		span:not(.separator){
			height: $s;
			width: $s;
		}
		a,
		span{
			margin-left: 3px;
			margin-right: 3px;
		}
	}

}

@media (max-width: 710px){
	.fixed-header{
		.logo{
			overflow: hidden;
			width: 50px;
			img{
				max-width: none;
				height: 40px;
				width: auto;
			}
		}
	}
}


@media (max-width: 670px){
	.filter{
		.cell-select{
			flex-basis: 100%;
		}
		.objects-select__wrap{
			margin-bottom: 1.5rem;
			width: 100%;
		}
	}

	// neck
	.breadcrumbs{
		margin-right: 0;
	}
	.neck .title{
		font-size: 2.9rem !important;
	}

	.pagination{
		display: block;
		text-align: center;
		a, span{
			display: inline-flex;
		}
		.prev,
		.next{
			display: none;
			// flex-grow: 1;
		}
	}
}



@media (max-width: 590px){
	.header{
		.logo{
			overflow: hidden;
			width: 75px;
		}
	}

	.fixed-header{
		.contacts__cell{
			margin-left: 1rem;
			display: none;
		}
	}

	.modal-menu{
		height: 100%;
		.container{
			padding-top: 3rem;
		}
		.menu__bottom,
		.menu__top{
			text-align: center;
			.flexbox{
				flex-wrap: wrap;
				display: block;
			}
			.cell{
				margin-bottom: 2rem;
				width: 100%;
				&-flat{
					order: 0
				}
				&-commerce{
					order: 3;
				}
				&-others{
					order: 1;
				}
			}
		}
		.menu .title:after, 
		.menu dt:after{
			left: 50%;
			margin-left: -22px;
		}
	}

	.footer{
		.copyright{
			flex-basis: 260px;
			font-size: 1.3rem;
		}
		&__logo{
			padding-right: 3rem;
		}	

		.subscribe{
			justify-content: center;
			.form-control{
				margin-right: 0;
				width: 24rem;
			}
		}
	}

	.sidemodal{
		width: 90%;
		.inner{
			width: 100%;
			padding-right: 3rem;
		}
		.close-modal{
			right: 20px;
		}
	}
}

@media (max-width: 500px){
	.header{
		.flexbox{
			height: 8rem;			
		}
	}

	.footer .subscribe p:not(.title){
		width: auto;
	}

	.neck .title{
		text-align: center;
	}
}

@media (max-width: 480px){
	.modal-open-my .fixed-header, 
	.modal-open-my .outerwrapper,
	.modal-open-my footer,
	body.modal-open .fixed-header,
	body.modal-open .outerwrapper,
	body.modal-open footer{
		filter: blur(0)
	}


	.modal-menu{
		display: none !important;
	}
	.filter .cell-buttons{
		.showmap,
		.showflat{
			width: 50%;
		}
	}
}


@media (max-width: 460px){
	.footer{
		background-image: none;
		.subscribe{
			form{
				width: 100%;
				.flexbox{
					justify-content: space-between
				}
				.input-field{
					margin-right: 0;
					width: calc(100% - 160px);
				}
			}
			p:not(.title){
				display: none;
			}
			.form-control{
				width: 100%;
			}
			&__body{
				justify-content: space-between;
			}
		}
		.col-1{
		}
		.copyright{
			flex-grow: 1;
			flex-basis: 200px;
		}

		&__logo{
			img{
				width: 70px;
			}
		}
	}

	// filter
	.filter{
		.cell .installment{
			flex-basis: 100%;
			br{
				display: none;
			}
			&__tooltip{
				margin-top: 2px;
			}
		}
		.cell-buttons .showflat{
			display: block;
			padding-top: 18px;
		}

		.nav .btn{
			width: 50%;
		}
	}

	// catalog
	.neck{
		text-align: center;
		.title{
			font-size: 2.5rem !important;
		}
		.head__tel a{
			font-size: 2.2rem;
		}
	}
}

@media (max-width: 420px){
	.sidemodal{
		.inner{
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: 8rem;
		}
		.text{
			padding-right: 0;
			font-size: 1.4rem;
		}
	}

	.header{
		.logo{
			width: 50px;
			img{
				height: 40px;
			}
		}
		.contacts__cell{
			margin-left: 1rem;
			a{
				margin-left: 0;
				white-space: nowrap;
			}
		}
		.wishlist{
			display: none;
		}
	}

	.fixed-header{
		.wishlist{
			display: none;
		}		
	}

	.footer{
		.contacts__cell{
			a{
				font-size: 1.6rem;
			}
		}		
	}
}


@media (max-width: 350px){
	.show-vsm{
		display: block;
	}

	.fixed-header{
		.qfilter{
			padding-left: 1rem;
			font-size: 1.3rem;
		}
	}

	.footer{
		padding: 2.5rem 0;
		.copyright{
			flex-basis: 100px;
			p:not(.ao){
				font: 1.4rem;
				display: none;
			}
		}
		.contacts__cell a{
			font-size: 1.5rem;
		}
		.btn-callback{
			height: 3.6rem;
			font-size: 1.3rem;
			padding-left: .5rem;
			padding-right: .5rem;
		}
		.subscribe form .input-field{
			width: calc(100% - 125px);
		}
		.copyright.show-vsm{
			margin-top: 1.5rem;
			text-align: justify;
		}
	}


	.container-filter{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.filter{
		padding-top: 2.5rem;
		.slider_controls .separate{
			font-size: .8rem;
		}

	
		.slider_controls .param_control{
			width: calc(50% - 9px);
		}

		.cell-buttons{
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			.showflat{
				br{
					display: block;
				}
				span{
					margin-left: 0;
				}
			}
		}
		.cell-slider-area{
			// padding-left: 1.2rem;
		}
		.showmap{
			padding-left: 40px;
			&:before{
				left: 15px;
			}
		}
	}


	.neck .title{

		font-size: 2.2rem !important;
	}
	
}


@media (min-width: 481px){
	.apanel{
		display: none !important;
	}
}