@media (max-width: 1650px){
	.big-icon{
		padding-left: 65px;
	}

	.feature,
	.topnews{
		.news{
			&__meta{
				bottom: 40px;
			}
			&__title{
				font-size: 1.6rem;
			}
		}
	}

	// =HOMEPAGE
	.feature{
		$h: 666px;
		height: $h;
		&__left{
			width: 810px;
		}
		&__right{
			flex-basis: 440px;
			width: 540px;
			height: $h;
		}


		.owl-carousel .owl-item img{
			height: 562px;
		}

		.promo{
			height: auto;
			.type-1 .statistic__cell .num{
				font-size: 3.2rem;
			}
		}
		
		.service{
			&__cell{
				height: 98px;
				img{
					margin-top: -20px;
				}
				&:first-child(){
					img{
						margin-top: -25px;
					}
				}
			}
			&__link{
				p{
					padding-right: 1.5rem;
				}
				&-gnk{
					img{
						width: 45px;
					}
				}
				&-calc{
					img{
						width: 45px;
					}
				}
			}
			&__title{
				font-size: 2rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 50%;
			}
			$pl: 2.2rem;
			&__meta{
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}
		}

		.about{
			&__cell{
				z-index: 2;
				.title{
					font-size: 2rem;
				}
			}
			.tocat{
				font-size: 1.7rem;
			}
		}

		.news{
			&__desc{
				top: 100%;
			}
		}
	}

	.objects-callback{
		.callback{
			padding: 3rem 2.5rem 0;
			height: calc(100% - 28px);
			&__text{
				margin-top: 1.5rem;
			}
			&__title{
				font-size: 2.3rem;
			}
			.call{
				margin-top: 2rem;
			}
			&__form{
				margin-top: 0;
			}
		}
	}

	.objects{
		width: 1010px;
		&__carousel{
			width: 1020px;
		}
		.owl-carousel .owl-nav{
			width: calc(100% + 3px);
		}
	}

	.object{
		&__item{
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 279px,#00a664 279px,#00a664 100%);
			}
			&-outer{
				width: 305px;
			}
		}
		$pl: 20px;
		&__top{
			padding: 3rem $pl 0;
		}
		&__bottom{
			padding-left: $pl;
			padding-right: $pl;
			p:not(.price){
				font-size: 1.4rem;
			}
			.price{
				font-size: 1.7rem;
			}
			.btn-more{
				padding-left: 1.2rem;
				padding-right: 1.2rem;
				font-size: 1.4rem !important;
			}
		}
	}

	.about-partners{
		.about{
			flex-direction: column;
			&__right{
				padding-left: 0;
				order: 0;
			}
			&__left{
				order: 1;
				margin-top: 3.5rem;
				display: flex;
				p{
					margin-top: 0;
				}
			}

			&__num{
				padding-right: 3rem;
				width: 50%;
				img{
					max-width: 100%;
					height: auto;
					display: block;
				}
			}

			.more__link{
				margin-top: 2rem;
			}
		}
		.partners{
			&__inner{
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}

		.link_groups a{
			margin-right: 3rem;
			font-size: 2.2rem;
		}
	}

	.intro__right{
		padding-right: 0;
	}
	// =/HOMEPAGE


	// =GBI
	.gbi-page{
		.main .content{
			flex-shrink: 1;
		}
		.menu{
			.icon{
				&-catalog,
				&-sett{
					&:before{
						left: 35px;
					}
					&:hover:before{
						left: 25px;
					}
				}
				&-pricelist{
					&:before{
						left: 105px;
					}
					&:hover:before{
						left: 95px;
					}
				}
			}
		}
	}
	// =/GBI


	// =GBI CATALOG
	.catalog{
		&__item{
			width: calc(25% - 30px);
			img{
				display: block;
				max-width: 90%;
			}
		}
		&__title{
			font-size: 2.1rem;
		}
	}
	// =/GBI CATALOG





	// =CONTACTS
	.contact{
		&__plate{
			font-size: 1.5rem;
			flex-basis: 31%;
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}
	// =/CONTACTS


	.vacancies-page,
	.faq-page,
	.actions-page,
	.news-page,
	.action-page{
		.offset-col-1{
			margin-left: 0;
		}
	}

	.list_vacancy .vacancy,
	.actions-page .action,
	.list_faq .faq{
		&__item{
			width: 90%;
			
		}
	}

	.action__info{
		padding-right: 0;
	}


	// =REVIEWS
	.review{
		&__item{
			width: calc(33.3% - 23px);
		}
		&__wrapper{
			width: 100%;
		}
	}
	// =/REVIEWS


	// CONSTRUCTING
	.list_construction{
		.place{
			&__item{
				width: calc(25% - 20px);
			}
			&__pic{
				margin-left: auto;
				margin-right: auto;
				width: 92%;
				img{
					width: 100%;
					height: auto;
				}


				&:before,
				&:after{
					height: 215px;
					left: 50%;
				}
				&:before{
					margin-left: -140px;
					top: 10px;
					width: 280px;
				}
				&:after{
					margin-left: -130px;
					top: 15px;
					width: 260px;
				}
			}

			&__top,
			&__body
			{
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
	// =/CONSTRUCTING

	// =NEWS
	.content-bottom .subscribe__text{
		font-size: 2rem;
	}

	.news-page,
	.action-page
	{
		main{
			padding-right: 5rem;
		}
	}

	.material{
		&__item{
			width: 22%;
		}
		&__title{
			font-size: 1.6rem;
		}
	}
	// =/NEWS
}



@media (max-width: 1500px){
	// =HOMEPAGE
	.intro__right{
		padding-left: 80px;
	}

	.about-partners .about__num{
		width: 220px;
		flex-shrink: 0;
	}
	// =/HOMEPAGE
}


@media (max-width: 1399px){
	.feature{
		$h: 666px;
		height: $h;
		&__left{
			width: 750px;
		}
		&__right{
			flex-basis: 440px;
			width: 500px;
			height: $h;
		}

		.service{
			&__cell{
				height: 98px;
				img{
					margin-top: -20px;
				}
				&:first-child(){
					img{
						margin-top: -25px;
					}
				}
			}
			&__link{
				padding-left: 90px;
				p{
					padding-right: 1.5rem;
				}
				&-gnk{
					img{
						width: 45px;
					}
				}
				&-calc{
					img{
						width: 45px;
					}
				}
			}
			&__title{
				font-size: 1.6rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 50%;
			}
			$pl: 2.2rem;
			&__meta{
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}
		}

		.about{
			&__cell{
				z-index: 2;
				.title{
					font-size: 1.8rem;
				}
				p{
					font-size: 1.4rem;
				}
			}
			.tocat{
				font-size: 1.6rem;
				padding-left: 67px;
			}
		}
	}

	.objects-callback{
		.callback{
			padding: 2.5rem 2rem 0;
			width: 28rem;
			&__text{
				font-size: 1.4rem;
				margin-top: 1.4rem;
			}
			&__title{
				font-size: 2.1rem;
			}
			.call{
				margin-top: 1.8rem;
				a{
					height: 31px;
					line-height: 31px;
					font-size: 1.6rem;
				}
				&:before{
					@include sprite($icon-tel-small);
				}
			}
			.submit{
				margin-top: 2rem;
				font-size: 1.5rem;
				height: 5rem;
			}
		}
	}

	.objects{
		width: 950px;
		&__carousel{
			width: calc(100% - 20px);
		}
		.owl-item{
			&:after{
				width: calc(100% - 40px);
			}
		}
		.more{
			margin-right: 90px;
		}
		.owl-carousel{
			.owl-nav{
				width: calc(100% - 12px);
			}
		}
	}

	.object{
		&__item{
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 225px,#00a664 225px,#00a664 100%);
			}
			&-outer{
				width: 260px;
			}
		}
		$pl: 20px;
		&__top{
			padding: 1.8rem $pl 0;
			.name{
				font-size: 2.6rem;
			}
		}
		&__labels{
			img{
				width: 65px;
			}
		}


		&__bottom{
			padding-left: $pl;
			padding-right: $pl;
			p:not(.price){
				font-size: 1.4rem;
			}
			.price{
				font-size: 1.7rem;
			}
			.btn-more{
				padding-left: 1.2rem;
				padding-right: 1.2rem;
				font-size: 1.4rem !important;
			}
		}
	}


	.intro__left
	{
		align-self: flex-start;
		flex-basis: 500px;
	}

	.intro__carousel{
		width: 490px;
		&:before{
			width: 490px;
			height: 350px;
		}
		&:after{
			width: 490px;
			height: 330px;
		}
	}

	.about-partners .partners{
		margin-left: -1rem;	
	}


	// =CONTACTS
	.contact{
		&__title{
			font-size: 2.2rem;
		}
		&__plate{
			font-size: 1.4rem;
			padding-top: 2rem;
		}
	}
	// =/CONTACTS


	.gbi-page .main .content{
		padding-left: 50px;
	}


	.faq-page,
	.vacancies-page,
	.actions-page{
		.head p{
			font-size: 1.5rem;
		}
	}



	// CONSTRUCTING
	.list_construction{
		.place{
			&__pic{
				$w: 95%;
				$d: -130px;
				$t: -5px;
				&:before,
				&:after{
					height: calc(100% + 5px);
					left: 50%;
					width: $w;
				}
				&:before{
					margin-left: $d;
					top: 0px;
				}
				&:after{
					margin-left: $d + 10px;
					top: $t + 12px;
					width: calc(95% - 20px);
				}
			}
		}
	}
	// =/CONSTRUCTING

}

@media (max-width: 1350px){
	.table-flats td{
		font-size: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (max-width: 1280px){
	.modal-map{
		top: 6rem;
		.head{
			line-height: 80px;
			height: 80px;
		}
		#map{
			height: 55vh;
		}

		.close-modal{
			top: 25px;
		}
	}
	// homepage
	.feature{
		$h: auto;
		height: $h;
		&__left{
			// width: 700px;
			width: 670px;
		}
		&__right{
			height: $h;
			flex-basis: 450px;
			width: 450px;
		}

		.owl-carousel .owl-item img{
			height: 392px;
		}

		.service{
			.long{
				display: none;
			}
			&__subtitle{
				.short{
					display: block;
				}
			}
		}

		.promo{
			height: 392px;
			img{
				// height: 412px;
			}
			.description{
				padding-right: 5%;
			}
		}

		.news,
		.about{
			&__cell{
				height: 248px;
				width: 225px;
				img{
					max-width: 100%;
					height: 100%;
				}
			}
			$pl: 1.8rem;
			&__meta{
				bottom: 20px;
				margin-left: $pl;
				margin-right: $pl;
			}
			&__top{
				padding-left: $pl;
				padding-right: $pl;
			}

			&__link{
				height: 100%;
			}
		}

		.news{
			&__top{
				padding-top: 1.5rem;
			}
			&__title{
				font-size: 1.5rem;
			}
			&__desc{
				font-size: 1.4rem;
				top: 100%;
			}
		}

		.about{
			&__cell{
				.title{
					padding-right: 2rem;
					padding-bottom: 0;
				}
			}
			&__meta{
				top: 1.5rem;
			}
			.more{
				font-size: 1.4rem;
				height: 35px;
				padding: 0 1.5rem;
			}
		}

		.news,
		.about{
			&__cell{
				width: 237px;
				img{
					max-width: auto;
					width: 100%;
				}
			}
		}
	}

	.objects-callback{
		.callback{
			padding: 2.5rem 2rem 0;
			// height: calc(100% - 12px);
			width: 24rem;
			&__text{
				font-size: 1.4rem;
				margin-top: 1.4rem;
			}
			&__title{
				font-size: 2.1rem;
			}
			.call{
				margin-top: 1.8rem;
				a{
					height: 31px;
					line-height: 31px;
					font-size: 1.6rem;
				}
				&:before{
					@include sprite($icon-tel-small);
				}
			}
			.submit{
				margin-top: 2rem;
				font-size: 1.5rem;
				height: 5rem;
			}
		}
	}

	.objects{
		width: 855px;
		&-intro{
			padding-top: 3.5rem;
		}
		h1{
			font-size: 3.4rem;
		}
		&__info{
			font-size: 1.4rem;
		}
		&__carousel{
			width: calc(100%);
			.owl-carousel{
				.owl{
					&-prev,
					&-next
					{
						height: 18px;
						&:before{
							width: 19px;
							height: 18px;
							background-size: cover;
							margin-top: 18px;
							margin-left: 0;
						}
						&:after{
							height: 68px;
							width: 30px;
						}
					}
					&-next{
						&:before{
							margin-left: 4px;
						}
					}
				}				
			}
		}
		.owl-item{
			&:after{
				width: calc(100% - 17px);
			}
		}
		.more{
			margin-right: 50px;
		}
		.owl-carousel{
			.owl-nav{
				width: 100%;
			}
		}

		&-intro{
			padding-bottom: 3rem;
			.intro{
				padding-top: 5.5rem;
			}
		}
	}

	.object{
		&__item{
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 221px,#00a664 221px,#00a664 100%);
			}
			&-outer{
				width: 258px;
			}
		}
		$pl: 15px;
		&__top{
			padding: 1.8rem $pl 0;
			.name{
				font-size: 2.2rem;
				&:after{
					width: 100%;
				}
			}
		}


		&__bottom{
			padding-left: $pl;
			padding-right: $pl;
			.btn-more{
				height: 34px;
			}
		}
	}

	.intro__carousel{
		width: 470px;
		&:before{
			width: 470px;
			height: 333px;
		}
		&:after{
			width: 470px;
			height: 313px;
		}
	}
	.intro{
		&__left{
			flex-basis: 480px;
		}

		&__right{
			font-size: 1.5rem;
			h1{
				font-size: 3.4rem;
			}
		}

		.link_groups{
			font-size: 2rem;
			a{
				padding-left: 76px;
			}
			.icon-catalog{
				&:before{
					@include sprite($icon-catalog-sm);
					top: 10px;
				}
			}
			.link_calc{
				&:before{
					@include sprite($icon-sett-sm);
					top: 10px;
				}				
			}
		}

		&__carousel{
			.owl{
				&-nav{
					right: 0;
					bottom: 0;
					width: 90px;
					height: 45px;
				}
				&-next,
				&-prev{
					bottom: 0;
					top: 0;
					padding-top: 10px;
					&:before{
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAMAAACKJ8VmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAtFBMVEWntcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcantcb///9p6vxXAAAAOnRSTlMAUTBC6MAe4/RBPuLxXALzW+5YVGISFRcYFFDl9s7Q0tW4pOsZrfKPhIt5Ean5BA+rngmfqqKjR6d4+DzxJwAAAAFiS0dEOzkO9GwAAAAHdElNRQfiAxUSAwH0t9kfAAAAhklEQVQY02WQyRKCQAwFn4riiLuC4oY7Iiru4Pv/D9Mq5zCBPnalK6kAmlIZkopVrUlhs65M0XDYbLUNoRx2uuaEstnr5xJrgFwydL3Rn7GPyZSczReBZrnCmpINtjtyHx4iTXgE4hPP0UXcm1zJ212o+Bc+pHKf5CsphG+vEKbyP3720fu+PcgTpfaTHUYAAAAASUVORK5CYII=") no-repeat center !important;
					}
				}
				&-prev{
					&:before{
						right: 7px;
					}
					&:hover{
						&:before{
							right: 12px;
						}
					}
				}

				&-next{
					&:before{
						left: 7px;
					}
					&:hover{
						&:before{
							left: 12px;
						}					
					}
				}
			}
		}
	}
	
	.visual{
		margin: 4rem 0;
	}


	// intro
	.about-partners{
		.about{
			&__right{
				.title{
					font-size: 3.4rem;
				}
				.text{
					font-size: 1.5rem;
				}
			}
			&__left p{
				font-size: 2.6rem;
			}
			.more__link{
				font-size: 1.5rem;
				height: 4.6rem;
			}
		}
		.partners{
			margin-left: 0;
			font-size: 1.5rem;
			.title{
				font-size: 3.4rem;
			}
		}
		.link_groups{
			font-weight: 300;
			a{
				font-size: 1.7rem;
				line-height: 1.6;
				margin-right: 2rem;
				padding-left: 75px;
				&:last-child{
					margin-right: 0;
				}
			}
			.icon-house{
				padding-left: 68px;
			}
		}
	}


	// =GBI CATALOG
	.catalog{
		&__item{
			width: calc(33% - 17px);
			&:nth-child(4n){
				margin-right: 30px;
			}
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	// =/GBI CATALOG


	.gbi-page .menu{
		font-size: 1.7rem;
		.icon{
			height: 110px;
		}
	}

	.gbi-page{
		.menu .icon{
			&-catalog .line{
				margin-left: 30px;
			}
			&-sett .line{
				margin-left: 40px;
			}
		}
	}

	.condo-page{
		.perspective-gray{
			width: 100%;
			&:before,
			&:after{
				display: none;
			}
		}
	}

	.action{
		&__wrapper{
			align-items: flex-start;
		}
		&__item_pic{
			flex-basis: 250px;
			align-items: flex-start;
		}
		&__info{
			padding-left: 3rem;
		}
		&__title{
			font-size: 2.2rem;
		}
		&__text{
			font-size: 1.5rem;
		}
		&__date{
			font-size: 1.4rem;
		}
	}


	// CONSTRUCTING
	.list_construction{
		.place{
			&__item{
				margin-right: 52px;
				width: calc(33% - 35px);
				&:nth-child(4n){
					margin-right: auto;
				}
				&:nth-child(3n){
					margin-right: 0;
				}
			}

			&__pic{
				$w: 95%;
				$d: -148px;
				$t: -5px;
				&:before,
				&:after{
					height: calc(100% + 5px);
					left: 50%;
					width: $w;
				}
				&:before{
					margin-left: $d;
					top: 0px;
				}
				&:after{
					margin-left: $d + 10px;
					top: $t + 12px;
					width: calc(95% - 20px);
				}
			}

		}
	}
	// =/CONSTRUCTING


	.content-bottom{
		.subscribe{
			&__text{
				font-size: 1.8rem;
			}
			&__form{
				flex-basis: 50%;
			}
		}
	}

	.material__title{
		font-size: 1.5rem;
	}


}


@media (max-width: 1170px){
	.about-partners .partners{
		margin-left: -6rem;
	}
}


@media (max-width: 1149px){
	.feature,
	.topnews{
		.news .date .my{
			font-size: 1.2rem;
		}
	}

	.feature{
		&__left{
			width: 703px;
		}
		.promo{
			$h: 412px;
			height: $h;
			.owl-carousel .owl-item .carousel-image{
				height: $h;
			}
		}

		.news__cell{
			&:last-child{
		 	display: none;
			}
		}

		&__right{
			flex-basis: 237px;
			width: 237px;
		}
		.about{
			display: block;
			&__meta{
				margin-right: 0;
				width: 90%;
			}
			&__cell{
				height: 133px;
				&:last-child{
					height: 134px;
				}
				.title{
					font-size: 1.7rem;
					padding-right: 0;
				}
			}
		.short{
			display: inline;
		}
		.long{
			display: none;
		}
		}
		.about__text{
			display: none;
		}
	}


	// OBJECTS
	.objects-callback{
		display: block;
		.callback{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem;
			width: 100%;
			.call{
				margin-left: 3rem;
				margin-top: 0;
				flex-grow: 1;
			}
			&__top{
				flex-basis: 250px;
				flex-shrink: 0;
			}
			&__form{
				// margin-left: 8rem;
				&-inner{
					display: flex;
					align-items: center;
					.submit{
						margin-left: 2.8rem;
						margin-top: 1.5rem;
					}					
				}
				.input-field{
					margin-top: 0;
					width: 180px;
				}
			}
			.submit{
				height: 4.5rem;
				width: 155px;
			}
		}
	}
	.side{
		display: block;
		padding-top: 2.5rem;
		&-inner{
			.callback{
				// display: block;
			}
		}
	}
	.objects{
		width: 100%;
		&__carousel{
			padding-right: 0;
			width: 942px;
			.owl-carosel{
				.owl-next{
					right: -27px;
				}
			}
		}
		.owl-item{
			&:after{
				width: calc(100% - 22px);
			}
		}
	}

	.object{
		&__item{
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 259px,#00a664 259px,#00a664 100%);
			}
			&-outer{
				width: 290px;
			}
		}
	}
	// =/OBJECTS

	// =intro
	.intro__carousel{
		width: 415px;
		&:before{
			height: 293px;
			width: 412px;
		}
		&:after{
			width: 409px;
			height: 275px;
		}
	}
	.intro{
		&__left{
			flex-basis: 425px;
			.intro__carousel{
			}
		}

		&__right{
			padding-left: 55px;
			font-size: 1.4rem;
			h1{
				font-size: 3.2rem;
			}
		}

		.link_groups{
			font-size: 1.8rem;
			a{
				padding-left: 76px;
			}
			.icon-catalog{
				&:before{
					@include sprite($icon-catalog-sm);
					top: 5px;
				}
			}
			.link_calc{
				&:before{
					@include sprite($icon-sett-sm);
					top: 5px;
				}				
			}
		}
	}
	// =/intro


	.about-partners{
		flex-direction: column;
		padding-bottom: 6rem;
		.partners{
			font-size: 1.4rem;
			margin-top: 4.8rem;
			margin-left: 0;
			.partners__inner{
				display: flex;
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			.link_groups{
				flex-direction: column;
				flex-shrink: 0;
				margin-left: 65px;
				margin-top: 1.5rem;
				padding-bottom: 1rem;
				width: 240px;
				a{
					margin-bottom: 1rem;
					padding-left: 75px !important;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.title{
				font-size: 3.2rem;
			}
			&:after{
				bottom: 0;
			}
		}
		.about{
			flex-direction: row;
			padding-right: 0;	
			padding-top: 0;
			&__desc{
				margin-top: 1.2rem;
			}
			&__num{
				padding-right: 0;
			}
			&__left{
				display: block;
				margin-top: 0;
				margin-right: 4.5rem;
				order: 0;
				width: 260px;
			}			
			&__right{
				order: 1;
				padding-top: 2.8rem;
				.title{
					font-size: 3.2rem;
					&:after{
						bottom: -15px;
					}
				}
				.text{
					font-size: 1.4rem;
					margin-top: 3.5rem;
				}
			}
			.more__link{
				padding-right: 1.2rem;
				padding-left: 40px;
			}
		}
	}


	// =GBI CATALOG
	.gbi-catalog .head h1{
		font-size: 3rem;
	}
	.catalog{
		&__title{
			font-size: 1.8rem;
		}
	}
	// =/GBI CATALOG



	// =CONTACTS
	.contact{
		&__title{
			line-height: 1.3 !important;
			font-size: 2.2rem;
		}
		&__plate{
			padding: 2rem;
		}
	}
	.contacts-page #map{
		height: 400px;
	}
	.worker__item{
		padding-right: 4rem;
	}
	// =/CONTACTS


	// =GBI
	.gbi-page{
		.menu{
			.icon{
				&-catalog{
					.line{
						margin-left: 80px;
					}
				}
				&-sett{
					&:before{
						left: 25px;
					}
					&:hover:before{
						left: 15px;
					}
					.line{
						margin-left: 85px;
					}
				}
				&-pricelist{
					&:before{
						left: 45px;
					}
					&:hover:before{
						left: 35px;
					}
					.line{
						margin-left: 30px;
					}
				}
			}
		}
	}
	// =/GBI


	// =FAVORITES


	.object__meta{
		flex-wrap: wrap;
		justify-content: space-between;
		.object{
			&__composition{
				margin-left: 7rem;
				margin-right: 5rem;
			}
			&__address{
				.btn{
					padding-left: 37px;
				}
			}
			&__flats{
				flex-grow: 1;
				text-align: right;
			}
		}
	}
	// =/FAVORITES

	// =REVIEWS
	.review{
		&__item{
			width: calc(50% - 18px);
			&:nth-child(3n){
				margin-right: auto;
			}
			&:nth-child(even){
				margin-right: 0;
			}
		}
		&__wrapper{
			// width: 100%;
		}
	}
	.reviews-page,
	.construction-page,
	.text-page{
		.col-7{
			flex-basis: 100%;
		}
	}
	// =/REVIEWS


	.filter-sort{
		.filter{
			flex-basis: 220px;
		}
		.sortbox{
			font-size: 1.4rem;
			margin-left: 3rem;
		}
		.btn{
			font-size: 1.5rem;
			height: 4.5rem;
			&:before{
				top: 7px;
			}
		}
	}


	// pagination
	.pagination{
		font-size: 1.5rem;
		padding-left: 3.5rem;
		padding-right: 3.5rem;
		width: calc(100% - 12px);
		.prev{
			margin-right: 1rem;
			margin-left: 0;
		}
		.next{
			margin-right: 0;
			margin-left: 1rem;
		}
		a:not([class]), span:not(.separator){
			width: 32px;
			height: 32px;
		}
	}

	// CONSTRUCTING
	.list_construction{
		justify-content: space-between;
		.place{
			&__item{
				width: calc(50% - 35px);
				max-width: 370px;
				margin-right: 35px !important;
				&:nth-child(even){
					margin-right: 0 !important;
				}
			}


			&__pic{
				$w: 88%;
				$d: -148px;
				$t: -5px;
				&:before,
				&:after{
					height: calc(100% + 5px);
					left: 50%;
					width: $w;
				}
				&:before{
					margin-left: $d;
					top: 0px;
				}
				&:after{
					margin-left: $d + 10px;
					top: $t + 12px;
					width: calc(88% - 20px);
				}
			}

		}
	}

	.construction-page .neck .head p{
		margin-top: 1rem;
	}
	// =/CONSTRUCTING


	.content-bottom .subscribe{
		padding: 2.5rem 3rem;
		&__text{
			padding-right: 50px;
			font-size: 1.6rem;
		}
	}
}


@media (max-width: 1050px){
	.vacancies-page,
	.actions-page,
	.faq-page,
	.news-page,
	.action-page
	{
		.side{
			margin-left: -24px;			
		}
	}

	.list_vacancy{
		.vacancy{
			&__question{
				padding-left: 70px;
			}
			&__item{
				.name{
					font-size: 1.8rem;
					margin-top: 1.3rem;
				}
				.text{
					line-height: 1.4;
				}

				.toggle{
					left: 12px;
				}
			}
		}
	}

	main img.justifyleft{
		float: none;
		margin-right: 0px;
	}
}


@media (max-width: 991px){
	.feature{
		.promo{
			$h: auto;
			height: $h;
			.owl-carousel .owl-item img{
				height: $h;
			}
		}

		.row{
			display: block;
		}

		&__left{
			width: 100%;
		}

		.service__cell{
			height: 105px;
		}
		
		.about,
		.news{
			&__text{
				display: block;
			}
		}
		&__right{
			width: auto;
			flex-basis: 100%;
			flex-direction: row;
			.news{
				flex-basis: 33.3%;
				&__cell{
					width: 100%;
					height: 275px;
				}
			}
			.about{
				display: flex;
				flex-basis: 66.6%;
				&__cell{
					height: auto !important;
					width: 50%;
				}
			}
		}
	}


	.objects{
		h1{
			font-size: 3rem;
		}
		&-callback{
			width: 100%;
		}
		.more{
			margin-right: 0;
		}
		&__carousel{
			width: calc(100% + 50px);
		}
		.owl-carousel .owl-nav{
			width: calc(100% - 29px);
		}
	}


	.object{
		&__item{
			&-outer{
				width: 340px;
			}
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 321px,#00a664 321px,#00a664 100%);
			}
		}
		&__labels{
			img{
				width: 80px;
			}
		}
	}


	.objects-callback .side{
		padding-top: 1rem;
		.callback{
			flex-wrap: wrap;
			&__top{
				display: flex;
				flex-grow: 1;
			}
			&__text{
				flex: 0 0 250px;
				margin-left: 5rem;
				margin-top: 0;
			}

			.call{
				flex-grow: 0
			}

			&__form{
				flex-grow: 1;
				margin-top: 1.5rem;
				&-inner{
					justify-content: space-between;
				}
				.inputs{
					justify-content: space-between;
					display: flex;
					display: contents;
					margin-right: 2rem;
				}
				.input-field{
					width: 225px;
				}
				.submit{
					margin-left: 0;
				}
			}
		}
	}

	// =intro
	.intro__carousel{
		width: 315px;
		&:before{
			width: 310px;
			height: 225px;
		}
		&:after{
			width: 305px;
			height: 208px;
		}

		.carousel-image{
			height: 240px;
		}
	}
	.intro{
		align-items: flex-start;
		&__left{
			flex: 0 0 325px;
		}

		&__right{
			padding-right: 15px;
			padding-left: 40px;
			h1{
				font-size: 3rem;
			}
		}

		.link_groups{
			justify-content: space-between;
			margin-top: 1rem;
			a{
				margin-right: 0;
			}
		}
	}
	// =/intro

	.visual{
		margin: 3.5rem 0;
	}


	.about-partners .partners:after{
		bottom: -20px;
	}


	// catalog
	.gbi-catalog .main{
		justify-content: space-between;
	}
	.catalog{
		&__item{
			width: calc(50% - 30px);
			margin-right: 0 !important;
		}
		&__title{
			font-size: 1.8rem;
		}
	}


	// contacts
	.contacts-page .main.flexbox{
		display: block;
	}
	.contact__plate{
		margin-bottom: 3.5rem;
	}
	.workers{
		header{
			text-align: center;
		}
		.flexbox{
			justify-content: center;
		}
	}
	.worker__item:nth-child(even){
		padding-right: 0;
	}


	// =GBI
	.gbi-page{
		.menu{
			font-size: 1.5rem;
			.icon{
				&-catalog{
					.line{
						margin-left: 50px;
					}
					&:before{
						left: 8px;
					}
					&:hover:before{
						left: 1px;
					}
				}
				&-sett{
						padding-right: 1rem;
					&:before{
						left: 8px;
					}
					&:hover:before{
						left: 1px;
					}
					.line{
						margin-left: 75px;
					}
				}
				&-pricelist{
					&:before{
						left: 45px;
					}
					&:hover:before{
						left: 35px;
					}
					.line{
						margin-left: 30px;
					}
				}
			}
		}
	}
	// =/GBI


	.object__meta{
		.object__section{
			margin-bottom: 1em;
		}
		.object{
			&__composition{
				margin-right: 0;
				// margin-left: 7rem;
				// margin-right: 5rem;
			}
			&__address{
				.btn{
					// padding-left: 37px;
				}
			}
			&__flats{
				text-align: center;
			}
		}
	}


	// vacancies-page
	.vacancies-page{
		.neck{
			.col-7{
				flex-basis: 60%;
			}
		}
	}


	.review__text{
		font-size: 1.4rem;
	}

	.filter-sort{
		.flexbox{
			flex-wrap: wrap;
		}
		.sortbox{
			justify-content: center;
			margin-left: 0;
		}
		.btn{
			margin: 2rem auto 0;
			justify-content: center;
			width: 230px;
		}
	}

	.vacancies-page,
	.faq-page,
	.actions-page,
	.news-page,
	.action-page
	{
		.main{
			display: block;
		}
		.side{
			display: flex;
			margin-left: 0;
		}
		.secondary{
			margin-left: 4rem;
		}
	}

	.list_vacancy{
		.vacancy__item{
			width: 100%;
		}
	}
	.list_faq{
		.faq__item{
			width: 100%;
		}
	}


	.actions-page{
		.action__item{
			width: 100%;
		}
	}

	.vacancies-page,
	.faq-page,
	.actions-page,
	.news-page,
	.action-page
	{
		.neck .col-7{
			flex-basis: 100%;
		}
	}

	.side-inner{
		margin-top: 0;
		top: 0;
		.resume{
			margin-top: 0;
		}
	}

	.picking{
		margin-top: 0;
	}



	// CONSTRUCTING
	.list_construction{
		.place{
			&__pic{
				$w: 96%;
				$d: -148px;
				$t: -5px;
				&:before,
				&:after{
					height: calc(100% + 5px);
					left: 50%;
					width: $w;
				}
				&:before{
					margin-left: $d;
					top: 0px;
				}
				&:after{
					margin-left: $d + 10px;
					top: $t + 12px;
					width: calc(96% - 20px);
				}
			}

		}
	}
	// =/CONSTRUCTING
	main{
		font-size: 1.5rem;
	}


	.news-page,
	.action-page{
		main{
			padding-right: 0;
		}
	}

	.materials{
		.flexbox{
			flex-wrap: wrap;
		}
		.material__item{
			margin-bottom: 1.5rem;
			width: 50%;
		}
	}

	.subscribe{
		.flexbox{
			display: block;
		}
		&__form{
			.flexbox{
				display: flex;
			}
		}
	}


	.topnews{
		.news__cell{
			width: 50%;
			&:nth-child(3){
				display: none;
			}
		}
	}
}



@media (max-width: 920px){

	.side-inner{
		margin-top: 0;
		.resume{
			margin-top: 2rem;
		}
	}



	.faq-page{
		.side{
			margin-top: 3rem;
		}
	}
	.secondary{
		.picking{
			margin-top: 0;
		}
	}

}


@media (max-width: 850px){
	.objects-intro{
		overflow: hidden;
	}
}

@media (max-width: 800px){
	.about-partners{
		width: calc(100% - 14px);
		.about{
			&__left p{
				font-size: 2.2rem;
			}
			.more__link{
				font-size: 1.4rem;
			}
		}
	}

	.gbi-page .menu{
		width: calc(100% - 15px);
	}
}


@media (max-width: 768px){
	.feature{
		.container{
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			.row{
				margin-left: 0;
				margin-right: 0;
			}
		}
		.about{
			.tocat{
				font-size: 1.3rem;
				padding-left: 40px;
				br{
					display: none;
				}
			}
			&__cell{
				.title{
					margin-bottom: 2rem;
				}
			}
		}
	}


	.objects{
		&-intro{
			padding-left: 20px;
			padding-right: 20px;
		}
		.more{
			margin-right: 30px;
		}
		h1{
			white-space: nowrap;
		}
		&__carousel{
			.owl-carousel{
				.owl{
					&-prev{
						&:before{
							margin-left: 6px;
						}
					}
					&-next{
						&:before{
							margin-left: 11px;
						}
					}
					&-prev,
					&-next
					{
						&:after{
							height: 68px;
							width: 20px;
						}
					}

					&-nav{
						width: calc(100% - 65px);
					}
				}				
			}
		}
	}

	.object{
		&__item{
			&-outer{
				width: 300px;
			}
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 272px,#00a664 272px,#00a664 100%);
			}
		}
	}

	.about-partners .about__right{
		.subtitle{
			font-size: 1.4rem;
		}
		.title{
			font-size: 3rem;
		}
	}

	// catalog
	.catalog{
		&__link{
			height: 350px;
		}
		&__pic{
			height: 270px;
		}
	}


	// GBI
	.gbi-page{
		.main{
			display: block;
			.intro__carousel{
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 2rem;
			}
			.content{
				padding-left: 0;
				text-align: justify;
				main{
					font-size: 1.4rem;
					line-height: 1.2;					
				}
			}
		}
	}
	// =/GBI

	.gbi-page .menu ul{
		// display: block;
		flex-direction: column;
		li{
			display: flex;
			justify-content: center;
			margin-bottom: 3rem;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		.icon{
			height: 60px;
			&-sett{
				&:before{
					left: 30px;
				}
			}
			&-pricelist{
				&:before{
					left: 0;
				}
			}
		}
	}


}


@media (max-width: 767px){
	.objects{
		&-intro{
			padding-left: 0;
			padding-right: 0;
		}
		.more{
			margin-right: 0;
		}
		&__carousel{
			width: 100%;
			.owl-carousel .owl-nav{
				width: 100%;
				.owl-next{
					&:after{
						right: 0;
					}
					&:before{
						margin-left: 20px;
					}
				}
				.owl-prev{
					&:after{
						right: -5px;
					}
					&:before{
						margin-left: 10px;
					}
				}
			}
		}

		&-callback .side{
			width: calc(100% - 12px);
		}
	}

	.object__item-outer{
		margin-left: auto;
		margin-right: auto;
	}


	// =intro
	.intro{
		display: block;
		&__left{
			justify-content: center;
			.intro__carousel{
				margin: 0 auto;
			}
		}
		&__right{
			margin-top: 2.8rem;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			h1{
				font-size: 2.8rem;
			}
		}
		.link_groups{
			justify-content: center;
			padding-top: 2rem;
			padding-bottom: 1rem;
			text-align: left;
			a{
				margin: 0 1.5rem;
			}
		}
	}


	// CONSTRUCTING
	.list_construction{
		.place{
			&__item{
				width: 320px;
				margin-right: 25px !important;
				&:nth-child(even){
					margin-right: 0 !important;
				}
			}
		}
	}
	// =/CONSTRUCTING
}

@media (max-width: 750px){
	.objects-callback{
		.more{
			flex-grow: 0;
			display: none;
		}

		.more-hide{
			margin-top: 1rem;
			margin-bottom: 2rem;
			display: block;
			text-align: center;
		}

		.objects .flexbox{
			justify-content: space-between;
		}
		.side .callback__form .input-field{
			width: 33%;
		}
	}

	.object{
		&__item{
			&-outer{
				width: 270px;
			}
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 235px,#00a664 235px,#00a664 100%);
			}
		}
		&__labels{
			img{
				width: 65px;				
			}
		}
	}

	.list_reviews{
		display: block;
	}
	.review{
		&__item{
			margin-left: auto !important;
			margin-right: auto !important;
			width: 90%;
			max-width: 500px
		}
	}


	.filter-sort{
		.filter{
			flex-basis: 100%
		}
		.sortbox{
			margin-top: 2rem;
			flex-basis: 100%
		}
	}

	.materials{
		margin-bottom: 0;
		.material__item{
			width: 45%;
		}
	}
}


@media (max-width: 720px){
	.objects-callback .side{
		.callback{
			display: block;
			&__top{
				text-align: center;
				display: block;
			}
			&__text{
				margin-left: 0;
				margin-top: .5rem;
			}

			.call{
				display: flex;
				justify-content: center;
				margin-left: 0;
				margin-top: 8px;
				&:before{
					margin-left: -70px;
				}
			}

			&__form{
				margin-top: .5rem;
				&-inner{
					flex-direction: column;
				}
				.inputs{
					display: flex;
				}
				.input-field{
					width: 46%;
				}
			}
		}
	}


	.side-inner{
		align-items: center;
		flex-direction: column;
		.callback{
			height: auto;
			margin-bottom: 3.5rem;
			.submit{
				width: 90%;
				margin-left: auto;
				margin-right: auto;					
			}
		}
		.secondary{
			margin-left: 0;
		}
	}


	.resume .submit{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	// CONSTRUCTING
	.list_construction{
		display: block;
		.place{
			&__item{
				width: 320px;
				margin-right: auto !important;
				margin-left: auto;
				&:nth-child(even){
					margin-right: auto !important;
				}
			}

			&__pic{
				$w: 94%;
				$d: -140px;
				$t: -5px;
				&:before,
				&:after{
					height: calc(100% + 5px);
					left: 50%;
					width: $w;
				}
				&:before{
					margin-left: $d;
					top: 0px;
				}
				&:after{
					margin-left: $d + 10px;
					top: $t + 12px;
					width: calc(94% - 20px);
				}
			}

		}
	}
	// =/CONSTRUCTING
}


@media (max-width: 670px){
	.feature{
		.promo{
			height: auto;
			img{
				height: 280px;
			}
			.description{
				padding-left: 20px;
				padding-right: 20px;
			}
			.manage{
				// display: none;
			}
			.type-1,
			.type-2,
			.type-3{
				.title{
					text-align: center;
					max-width: 100%;
				}
			}

			.type-2,
			.type-3{
				.more{
					$h: 40px;
					border-radius: $h;
					font-size: 1.5rem;
					height: $h;
					margin: 2rem auto 0;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
			}
				
			.type-1{
				.title{
					font-size: 2.4rem;
					line-height: 1.4;
					margin-top: -3rem;
				}
				.statistic{
					justify-content: space-between;
					margin-top: 0;
					&__cell{
						p:not(.num){
							font-size: 1.3rem;
						}
						.num{
							font-size: 3rem;
							white-space: nowrap;
						}
					}
				}

				br{
					display: none;
				}
			}

			.type-2{
				.title{
					font-size: 3rem;
					br{
						display: none;
					}
				}
			}


			.type-3{
				.title{
					font-size: 3rem;
					br{
						display: none;
					}
				}
			}
		}

		.service__link p{
			line-height: 1.4;
		}

	}

	.feature .promo,
	.about-page .carousel
	{
		.owl{
			&-dots{
				display: flex;
			}
			&-dot{
				$s: 13px;
				border: 3px solid rgba(0,0,0,0);
				margin: 0 .7rem;
				height: $s; 
				width: $s;
				&:before{
					$s: 7px;
					background-color: rgba(0,0,0,.5);
					width: $s;
					height: $s;
				}
			}
			&-nav{
				height: auto;
				left: 0;
				margin: 0 auto;
				right: 0;
				width: 190px;
			}

			&-prev,
			&-next{
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAQAAABO1swWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQNASgr9aDZAAAA8ElEQVQoz42RvU5CQRCFzwJCcn0GCktbAjc2llL5FDyKbwCSoKGgws4XMTa2xL+EQIyFiZVawEezG+Du3MXZaiffzDkz45ARudZ6jLLEL+eND86L+Rhs8wLAA8dptM07AJ9cprvmPAOwpBsbs6S/uDAmkCXdtcAtGqQXZWBAg/ScszIQ1SR1dK+mJDTUt1qqWFcRosMr/4nfilo68VUHwpHpWj0PP+lHdbPI6U+IjFsvclU+VNhAnbGH+xyl0V14SDWNiowbDw9opNHdzgPLxv43aaNYu7UxKtqIPYXOU9whVDSYcBeP5sx7nmqlWTG5AcJX4O+zflxMAAAAAElFTkSuQmCC") no-repeat center top !important;  
				height: 28px;
				opacity: 1;
				padding-top: 25px;
				top: 0;
				width: 30px;
			}
			&-prev{
				background-position: center top ;
				top: -5px;
				&:hover{
					background-position: center top
				}
			}
			&-next{
				background-position: center bottom;
				bottom: 0;
				right: 0;
				top: -10px;
				&:hover{
					background-position: center bottom;
				}
			}
		}

		.manage{
			bottom: 10px;
			flex-direction: row;
			height: 24px;
			justify-content: center;
			left: 0;
			position: absolute;
			top: auto;
			width: 100%;
			z-index: 2;

			&.dark{
				.owl{
					&-dot{
						&.active{
							border-color: #00874d;
						}
					}
					&-prev,
					&-next{
						// background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAQAAABO1swWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxQNASgr9aDZAAAA8ElEQVQoz42RvU5CQRCFzwJCcn0GCktbAjc2llL5FDyKbwCSoKGgws4XMTa2xL+EQIyFiZVawEezG+Du3MXZaiffzDkz45ARudZ6jLLEL+eND86L+Rhs8wLAA8dptM07AJ9cprvmPAOwpBsbs6S/uDAmkCXdtcAtGqQXZWBAg/ScszIQ1SR1dK+mJDTUt1qqWFcRosMr/4nfilo68VUHwpHpWj0PP+lHdbPI6U+IjFsvclU+VNhAnbGH+xyl0V14SDWNiowbDw9opNHdzgPLxv43aaNYu7UxKtqIPYXOU9whVDSYcBeP5sx7nmqlWTG5AcJX4O+zflxMAAAAAElFTkSuQmCC") no-repeat; 
					}
				}
			}
		}
	}


	.object{
		&__item{
			&-outer{
				width: 230px;
			}
			&:after{
				background-image: linear-gradient(to bottom,#bdbec1 0,#bdbec1 186px,#00a664 186px,#00a664 100%);
			}
		}
		&__labels{
			img{
				width: 55px;				
			}
		}

		&__bottom{
			p:not(.price){
				font-size: 1.3rem;
			}
			.price{
				font-size: 1.5rem;
			}

			.btn-more{
				background: $color2 url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAFCAQAAAAAyG+GAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAxUPDg1cUdtaAAAARklEQVQI133MIQ7AIBAEwEmfUEvC/y2KpKqO11RVoa4C7HXd7CZL0UxNCSHk5rK6e0+peYVTmHtKfRh4MKz8uOpCV/dL6g9DpUhjzoWZCAAAAABJRU5ErkJggg==") no-repeat center;
				text-indent: -9999em;
				width: 35px;
				height: 35px;
			}
		}
	}


	.about-partners{
		.about{
			flex-direction: column;
			&__left{
				order: 1;
				margin-right: 0;
				display: flex;
				width: 100%;
				justify-content: center;
			}
			&__right{
				order: 0;
				padding-top: 0;
				padding-bottom: 2rem;
				text-align: center;
				.title{
					&:after{
						left: 50%;
						margin-left: -65px;
					}
				}
			}
			&__desc{
				margin-left: 2.5rem;
				width: 230px;
			}
			.more__link{
				height: 4rem;
			}
		}
		.partners{
			.partners__inner{
				display: block;
			}
			.link_groups{
				margin-left: 0;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				br{
					display: none;
				}
				a{
					min-height: 36px;
					padding-top: 14px;
				}
			}
		}
	}

	.gbi-catalog .head .flexbox{
		display: block;
		flex-basis: 100%;
	}

	.faq-page .head p, 
	.vacancies-page .head p{
		font-size: 1.4rem;
	}
}



@media (max-width: 630px){
	.feature{
		&__right{
			.about,
			.news{
				height: 260px;
				flex-basis: 50%;
				&__link{
					// height: 50%;
				}
			}
			.about{
				// display: block;
				flex-direction: column;
				&__cell{
					width: 100%;
					&-right{
						// display: block;
					}
				}
				&__text{
					display: none;
				}
			}
		}
	}

	// catalog
	.gbi-catalog .main{
		display: block;
	}
	.catalog{
		&__item{
			margin-left: auto;
			margin-right: auto !important;
			width: 300px;
		}
		&__title{
			text-align: center;
		}
		&__pic{
			height: auto;
			padding-top: 6rem;
			padding-bottom: 4rem;
		}
		&__link{
			height: auto;
			padding-bottom: 3rem;
		}
	}

	// contacts
	.workers .flexbox{
		justify-content: space-between;
	}
	.worker__item{
		flex-basis: 250px;
		padding-right: 0;
	}

	.object__meta{
		flex-wrap: nowrap;
		flex-direction: column;
		.object{
			&__section{
				flex-grow: 1;
				flex-basis: 100%;
				display: flex;
				justify-content: center;
			}
			&__composition{
				margin-left: 0;
				margin-bottom: 1.5rem;
				.btn{
					display: inline-flex;
				}
			}
			&__flats{
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
		}
	}

	.news-page,
	.actions-page,
	.action-page
	{
		.neck{
			.head{
				.flexbox{
					display: block;
					width: 100%;
					.title{
						padding-right: 0;
					}
				}
				&__right{
					margin-top: 1.5rem;
				}
			}
		}
	}

	.topnews .news{
		&__top{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		&__meta{
			margin-left: 2rem;
			margin-right: 2rem;
		}
		&__title,
		&__desc{
			font-size: 1.4rem;
		}
	}

	.neck .tabs{
		margin-left: 0;
	}
}


@media (max-width: 600px){
	.workers{
		width: 100%;
		.flexbox{
			display: block;
		}
	}
	.worker{
		&__item{
			margin-left: auto;
			margin-right: auto;
			width: 270px;
			text-align: center;
		}
	}

	.condo-page{
		.subtitle{
			font-size: 2.2rem;
		}
		.main{
			padding-top: 2rem;
		}
	}

	.action{
		&__item_pic{
			flex-basis: 180px;
		}
		&__title{
			font-size: 2rem;
		}
		&__text{
			font-size: 1.4rem;
			line-height: 1.5;
		}
		&__date{
			margin-top: 1.5rem;
		}
	}

	.topnews{
		display: none !important;
	}
}


@media (max-width: 550px){

	.objects{
		header{
			padding-left: 20px;
			padding-right: 20px;
			h1{
				font-size: 2.6rem;
			}
		}
	}
	.objects-intro{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.objects__carousel{
		margin-left: 0;
		padding-left: 0;
		.owl-carousel{
			.owl{
				&-next,
				&-prev{
					width: 16px;
					height: 68px;
					&:after{
						width: 16px;
						right: 0 !important;
					}
				}

				&-next{
					right: 0;
					&:before{
						margin-top: -6px;
						margin-left: -12px !important;
					}
					&:hover{
						right: 0;
					}
				}
				&-prev{
					left: 0;
					&:before{
						margin-top: -6px;
						margin-left: -9px !important;
					}
					&:hover{
						left: 0;
					}
				}
			}
		}
	}

	.objects-callback .side{
		padding-left: 20px;
		padding-right: 20px;
	}


	// intro
	.intro{
		&__right{
			padding-left: 20px;
			padding-right: 20px;
		}
	}


	.about-partners .about__num{
		width: 150px;
	}


	.neck{
		.tabs{
			// margin-left: 3rem;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.5rem;
			justify-content: center;
			.tab a{
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.title{
			line-height: 1.3;
		}
	}


	.content-bottom{
		.subscribe{
			&__text{
				padding-right: 0;
			}
			&__form{
				.flexbox{
					display: block;
					.submit{
						margin: 1rem auto 0;
						width: 100%;
					}
				}
			}

			.input-field .form-control{
				width: 100%;
			}
		}
	}
	// news
	.materials{
		.heading{
			text-align: center;
		}
		.flexbox{
			display: block;
		}
		.material__item{
			margin-left: auto;
			margin-right: auto;
			width: 350px;
		}
	}
}




@media (max-width: 500px){
	.objects__carousel{
		.owl-carousel{
			.owl{
				&-prev,
				&-next
				{
					height: 14px;
					&:before{
						width: 15px;
						height: 14px;
						margin-top: 20px;
					}
				}

				&-next:before{
					margin-left: -9px !important;					
				}
			}
		}

		position: relative;
		.owl-stage-outer{
			&:after,
			&:before{
				display: block;
				content: "";
				position: absolute;
				background: url(../images/white-shadow.png) repeat-y right top;
				width: 82px;
				height: 100%;
				z-index: 2;
				top: 0;	
				pointer-events: none;
			}

			&:after{
				right: 0;
			}
			&:before{
				left: 0;
				transform: rotate(180deg);
			}
		}
		.owl-carousel .owl-nav{
			z-index: 3;
		}
	}

	.condo-page{
		.subtitle{
			display: block;
			font-size: 1.8rem;
		}
	}

	.list_vacancy,
	.list_faq
	{
		.toggle{
			height: 40px !important;
			left: 5px !important;
			width: 40px !important;
		}
		.text{
			font-size: 1.4rem !important;
			padding-right: 2rem !important;
		}
		.answer{
			padding-left: 50px;
		}
		.answer__text{
			font-size: 1.4rem;
		}
	}


	.list_vacancy{
		.vacancy__question{
			padding-left: 55px;
		}
		.vacancy__item{
			.name{
				font-size: 1.5rem;
			}
			.price{
				padding-left: 70px;
			}

			&-expand .vacancy__question{
				padding-left: 50px;
			}
		}

	}

	.list_faq{
		.faq__question{
			padding-left: 55px;
		}
		.faq__item-expand{
			.faq__question{
				padding-left: 55px;
			}
			.toggle{
				left: 5px !important;
			}
		}
		.answer:before{
			left: 20px;
		}
		.faq__item .name{
			span{
				display: block;
				margin-left: -20px;
				margin-top: .8rem;
			}
		}
	}
	
	.faq-page{
		.neck{
			.col-7{
				flex-basis: 100%;
			}
			.head__left{
				text-align: center;
				width: 100%;
				.flexbox{
					display: block;					
				}
				.btn{
					margin-top: 1.5rem;
					margin-left: auto;
					margin-right: auto;
					width: 210px;
				}
			}
		}
	}	

	.action{
		&__wrapper{
			display: block;
		}
		&__item_pic{
			margin-bottom: 1.2rem;
			img{
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__title{
			font-size: 1.7rem;
			text-align: center;
			line-height: 1.5;
		}
		&__info{
			display: flex;
			flex-direction: column;
			padding-left: 0;
		}
		&__date{
			order: 0;
			text-align: center;
			font-size: 1.3rem;
		}
		&__text{
			order: 1;
			margin-top: 1rem;
			text-align: justify;
		}
	}

	main{
		font-size: 1.5rem;
	}

	.content-bottom .subscribe{
		padding-left: 2rem;
		padding-right: 2rem;
		&__text{
			font-size: 1.5rem;
			text-align: center;
		}
	}


}


@media (max-width: 480px){
	.feature{
		.promo .type-1{
			.title{
				font-size: 1.8rem;
				font-weight: 500;
			}
			.statistic{
				display: block;
			}
			.statistic__cell{
				display: block;
				background: none;
				font-size: 1.4rem;
				padding-bottom: 0;
				text-align: center;
				position: relative;
				margin-bottom: .7rem;
				&:after{
					border-bottom: 2px solid $color7;
					content: "";
					display: block;
					position: relative;
					width: 42px;
					left: 50%;
					margin-left: -21px;
				}
				p{
					font-size: 1.4rem !important;
					display: inline-block !important;
					vertical-align: top;
					height: auto !important;
					padding-bottom: 0 !important;
				}
				.num{
					font-size: inherit;
					font-weight: 500;
					margin-left: 2px;
					margin-top: .3rem;
				}
			}
		}
		.service{
			&__link{
				padding-left: 81px;
				p{
					padding-left: 1rem;
					padding-right: 1rem;					
				}
			}
			&__cell img{
				left: 20px;
			}
			&__subtitle{
				.short{
					display: none;
				}
			}
			&__title{
				font-size: 1.4rem;

				.short{
					display: inline;
				}
			}
		}
	}

	.objects-callback{
		.objects{
			.flexbox{
				display: block;
			}
			.owl-carousel{
				margin-top: 2rem;
			}
			&__info{
				margin-left: 0;
				padding-left: 0;
				br{
					display: none;
				}
				&:before{
					display: none;
				}
			}
		}
	}

	.visual{
		margin: 3rem 0;
	}


	.about-partners{
		.about__right .title{
			font-size: 2.6rem;
		}
		.partners{
			margin-top: 3rem;
			&__inner{
				text-align: center;
			}
			.title{
				font-size: 2.6rem;
			}
		}
	}

	.contact__title{
		font-size: 2rem;
		padding-bottom: .5rem;
	}


	.object__meta{
		padding-left: 1rem;
		padding-right: 1rem;
		.object__title{
			font-size: 2.5rem;
		}
		.btn{
			font-size: 1.4rem;
		}
	}


	.sortbox{
		flex-wrap: wrap;
		&__label{
			flex-basis: 100%;
			text-align: center;
			margin-bottom: 1rem;
		}
	}
}


@media (max-width: 460px){
	.filter-inner .cell-buttons .showflat{
		display: flex;
		padding-top: 0;
	}


	.neck{
		.tabs{
			margin-top: 2rem;
			margin-left: 0;
			justify-content: center;
		}
		.date{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
		}
		.back{
			margin-left: auto;
			margin-right: auto;
		}
	}
}



@media (max-width: 450px){
	.about-partners{
		padding-bottom: 3rem;
		width: 100%;
		.about{
			&__left{
				display: block;
				text-align: center;
			}
			&__num{
				width: 200px;
				margin-left: auto;
				margin-right: auto;
			}
			&__desc{
				margin-left: 0;
				margin-top: 2rem;
				width: auto;
			}
		}
		.partners{
			margin-top: 6rem;
			&:after{
				display: none;
			}
			.link_groups{
				text-align: left;
				a{
					margin-right: 0;
				}
			}
		}
	}
}


@media (max-width: 420px){
	.modal-map{
		top: 6rem;
		.head{
			font-size: 2.4rem;
			padding-left: 1rem;
		}
	}

	.feature{
		.promo{
			.type-1{
				.title{
					font-size: 1.8rem;
					font-weight: 500;
				}
				.statistic{
					display: block;
				}
				.statistic__cell{
					display: block;
					background: none;
					font-size: 1.4rem;
					padding-bottom: 0;
					text-align: center;
					position: relative;
					margin-bottom: .7rem;
					&:after{
						border-bottom: 2px solid $color7;
						content: "";
						display: block;
						position: relative;
						width: 42px;
						left: 50%;
						margin-left: -21px;
					}
					p{
						font-size: 1.4rem !important;
						display: inline-block !important;
						vertical-align: top;
						height: auto !important;
						padding-bottom: 0 !important;
					}
					.num{
						font-size: inherit;
						font-weight: 500;
						margin-left: 2px;
						margin-top: .3rem;
					}
				}
			}
			.description{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.promo .owl-carousel .owl-item .carousel-image{
			height: 235px;
		}

		.service{
			&__link{
				display: flex;
				align-items: center;
				padding-left: 0;
				text-align: center;
				p{
					// padding: 0 1.5rem;
				}
			}
			&__cell{
				height: 136px;
				&:first-child{
					img{
						// margin-top: 0;
					}
				}
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
					position: static;
					margin-top: 0 !important;
					// left: 20px;
				}
			}

			&__title{
				padding-right: 0;
			}
		}

		&__right{
			display: block;
			.news,
			.about{
				height: auto;
			}
			.news{
				flex-basis: 100%;
				display: block;
				&__cell{
					height: 225px;
				}
			}
			.about{
				flex-direction: row;
				&__cell{
					width: 50%;
					.title{
						font-size: 1.5rem;
					}
				}

				&__meta{
					margin-left: 0;
					padding: 0 .5rem;
					text-align: center;
					width: 100%;
				}
			}
		}

		.about .tocat{
			font-size: 1.4rem;
			margin-bottom: 0;
			margin-top: 2.2rem;
			padding-left: 0;
			padding-top: 2.5rem;
			&:before{
				left: 50%;
				margin-left: -14px;
			}
		}
	}


	.object{
		&__item{
			&-outer{
				width: 215px;
			}
		}
	}

	.side{
		.callback__form-inner{
			.inputs{
				display: block !important;
				margin-right: 0 !important;
			}
			.input-field{
				width: 100% !important;
			}
		}
	}

	// intro
	.intro{
		&__right{
			padding-left: 15px;
			padding-right: 15px;
			h1{
				font-size: 2.4rem;
			}
			.link_groups{
				align-items: center;
				flex-direction: column;
				padding-top: 0;
				a{
					margin-top: 1.5rem;
				}
			}
		}
	}


	// FEATURE
	.object__meta{
		.object{
			&__section{
				flex-direction: column;
			}
			&__info{
				margin-left: 0;
				margin-top: 1rem;
				text-align: center;
			}
			&__address{
				.btn{
					// padding-top: 30px;
					padding: 1rem 1.2rem;
					height: auto;
					// padding-bottom: 10px;
				}
				.icon-label{
					&:before{
						display: none;
					}
				}
			}
		}
	}

	.condo-page{
		.subtitle{
			font-size: 1.5rem;
		}
	}


	.list_vacancy{
		.answer{
			padding-right: .5rem;
		}
		.btn{
			padding-left: .7rem;
			padding-right: .7rem;
			font-size: 1.4rem;
		}
	}

	.review__body,
	.review__bottom{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}


	// CONSTRUCTING
	.list_construction{
		&__pic{
			&:before,
			&:after{
				display: none;
			}
		}
		&__body{
			margin-top: 1rem;
		}
		.place{
			&__item{
				width: 300px;
			}
			&__wrapper{
				padding-bottom: 1rem;
				.object{
					&__title{
						font-size: 1.5rem;
					}
					&__info{
						padding-left: 1rem;
					}
				}
			}

			&__top,
			&__body{
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			&__date{
				font-size: 1.4rem;
			}

			&__translation{
				margin-top: 1.2rem;
				font-size: 1.4rem;
			}
		}
	}
	// =/CONSTRUCTING


	.text-page,
	.news-page,
	.action-page{
		main{
			text-align: justify;
			font-size: 1.4rem;
		}
	}

	.materials{
		.material__item{
			text-align: justify;
			width: 280px;
		}
	}

	.materials .heading{
		font-size: 2.8rem !important;
	}
}


@media (max-width: 350px){
	.intro{
		&__left{
			padding-left: 15px;
			padding-right: 15px;
		}
		&__carousel{
			width: 280px !important;
			&:before,
			&:after
			{
				display: none;
			}
			.carousel-image{
				height: auto !important;
			}
		}
	}
	.visual{
		margin: 2.2rem 0;
	}

	// catalog
	.catalog{
		&__item{
			width: 95%;
		}
	}

	.side-inner{
		.secondary{
			width: 100%;
		}
		.resume{
			width: 95%;
			&__title{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&__text{
				font-size: 1.5rem;
			}
		}
	}

	.resume .submit{
		width: 100%;
	}

	.picking{
		width: calc(100% - 12px)
	}

	.list_faq{
		.faq__item .text{
			padding-right: 1rem !important;
		}
	}

	.side-inner .callback{
		padding-left: 2rem;
		padding-right: 2rem;
		width: calc(100% - 14px);
		.call{
			a{
				font-size: 1.8rem;
			}
		}
	}

	// CONSTRUCTING
	.list_construction{
		.place{
			&__item{
				width: 280px;
			}
		}
	}

	.news-page{
		.pagination{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.news-page{
		.neck .tabs{
			font-size: 1.4rem;
			.tab{
				padding-left: .5rem;
				padding-right: .5rem;
			}
		}
	}
}