// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-attach-dark-name: 'icon-attach-dark';
$icon-attach-dark-x: 18px;
$icon-attach-dark-y: 153px;
$icon-attach-dark-offset-x: -18px;
$icon-attach-dark-offset-y: -153px;
$icon-attach-dark-width: 16px;
$icon-attach-dark-height: 19px;
$icon-attach-dark-total-width: 235px;
$icon-attach-dark-total-height: 173px;
$icon-attach-dark-image: '../images/sprite.png';
$icon-attach-dark: (18px, 153px, -18px, -153px, 16px, 19px, 235px, 173px, '../images/sprite.png', 'icon-attach-dark', );
$icon-back-name: 'icon-back';
$icon-back-x: 38px;
$icon-back-y: 134px;
$icon-back-offset-x: -38px;
$icon-back-offset-y: -134px;
$icon-back-width: 17px;
$icon-back-height: 18px;
$icon-back-total-width: 235px;
$icon-back-total-height: 173px;
$icon-back-image: '../images/sprite.png';
$icon-back: (38px, 134px, -38px, -134px, 17px, 18px, 235px, 173px, '../images/sprite.png', 'icon-back', );
$icon-bulldozer-name: 'icon-bulldozer';
$icon-bulldozer-x: 151px;
$icon-bulldozer-y: 0px;
$icon-bulldozer-offset-x: -151px;
$icon-bulldozer-offset-y: 0px;
$icon-bulldozer-width: 84px;
$icon-bulldozer-height: 48px;
$icon-bulldozer-total-width: 235px;
$icon-bulldozer-total-height: 173px;
$icon-bulldozer-image: '../images/sprite.png';
$icon-bulldozer: (151px, 0px, -151px, 0px, 84px, 48px, 235px, 173px, '../images/sprite.png', 'icon-bulldozer', );
$icon-catalog-name: 'icon-catalog';
$icon-catalog-x: 0px;
$icon-catalog-y: 0px;
$icon-catalog-offset-x: 0px;
$icon-catalog-offset-y: 0px;
$icon-catalog-width: 77px;
$icon-catalog-height: 65px;
$icon-catalog-total-width: 235px;
$icon-catalog-total-height: 173px;
$icon-catalog-image: '../images/sprite.png';
$icon-catalog: (0px, 0px, 0px, 0px, 77px, 65px, 235px, 173px, '../images/sprite.png', 'icon-catalog', );
$icon-clock-dark-name: 'icon-clock-dark';
$icon-clock-dark-x: 19px;
$icon-clock-dark-y: 134px;
$icon-clock-dark-offset-x: -19px;
$icon-clock-dark-offset-y: -134px;
$icon-clock-dark-width: 19px;
$icon-clock-dark-height: 19px;
$icon-clock-dark-total-width: 235px;
$icon-clock-dark-total-height: 173px;
$icon-clock-dark-image: '../images/sprite.png';
$icon-clock-dark: (19px, 134px, -19px, -134px, 19px, 19px, 235px, 173px, '../images/sprite.png', 'icon-clock-dark', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 0px;
$icon-clock-y: 134px;
$icon-clock-offset-x: 0px;
$icon-clock-offset-y: -134px;
$icon-clock-width: 19px;
$icon-clock-height: 19px;
$icon-clock-total-width: 235px;
$icon-clock-total-height: 173px;
$icon-clock-image: '../images/sprite.png';
$icon-clock: (0px, 134px, 0px, -134px, 19px, 19px, 235px, 173px, '../images/sprite.png', 'icon-clock', );
$icon-comment-dark-name: 'icon-comment-dark';
$icon-comment-dark-x: 126px;
$icon-comment-dark-y: 134px;
$icon-comment-dark-offset-x: -126px;
$icon-comment-dark-offset-y: -134px;
$icon-comment-dark-width: 17px;
$icon-comment-dark-height: 17px;
$icon-comment-dark-total-width: 235px;
$icon-comment-dark-total-height: 173px;
$icon-comment-dark-image: '../images/sprite.png';
$icon-comment-dark: (126px, 134px, -126px, -134px, 17px, 17px, 235px, 173px, '../images/sprite.png', 'icon-comment-dark', );
$icon-comment-name: 'icon-comment';
$icon-comment-x: 109px;
$icon-comment-y: 134px;
$icon-comment-offset-x: -109px;
$icon-comment-offset-y: -134px;
$icon-comment-width: 17px;
$icon-comment-height: 17px;
$icon-comment-total-width: 235px;
$icon-comment-total-height: 173px;
$icon-comment-image: '../images/sprite.png';
$icon-comment: (109px, 134px, -109px, -134px, 17px, 17px, 235px, 173px, '../images/sprite.png', 'icon-comment', );
$icon-filter-white-name: 'icon-filter-white';
$icon-filter-white-x: 151px;
$icon-filter-white-y: 94px;
$icon-filter-white-offset-x: -151px;
$icon-filter-white-offset-y: -94px;
$icon-filter-white-width: 39px;
$icon-filter-white-height: 30px;
$icon-filter-white-total-width: 235px;
$icon-filter-white-total-height: 173px;
$icon-filter-white-image: '../images/sprite.png';
$icon-filter-white: (151px, 94px, -151px, -94px, 39px, 30px, 235px, 173px, '../images/sprite.png', 'icon-filter-white', );
$icon-filter-name: 'icon-filter';
$icon-filter-x: 190px;
$icon-filter-y: 94px;
$icon-filter-offset-x: -190px;
$icon-filter-offset-y: -94px;
$icon-filter-width: 39px;
$icon-filter-height: 30px;
$icon-filter-total-width: 235px;
$icon-filter-total-height: 173px;
$icon-filter-image: '../images/sprite.png';
$icon-filter: (190px, 94px, -190px, -94px, 39px, 30px, 235px, 173px, '../images/sprite.png', 'icon-filter', );
$icon-house-name: 'icon-house';
$icon-house-x: 0px;
$icon-house-y: 65px;
$icon-house-offset-x: 0px;
$icon-house-offset-y: -65px;
$icon-house-width: 67px;
$icon-house-height: 69px;
$icon-house-total-width: 235px;
$icon-house-total-height: 173px;
$icon-house-image: '../images/sprite.png';
$icon-house: (0px, 65px, 0px, -65px, 67px, 69px, 235px, 173px, '../images/sprite.png', 'icon-house', );
$icon-house2-name: 'icon-house2';
$icon-house2-x: 196px;
$icon-house2-y: 48px;
$icon-house2-offset-x: -196px;
$icon-house2-offset-y: -48px;
$icon-house2-width: 35px;
$icon-house2-height: 40px;
$icon-house2-total-width: 235px;
$icon-house2-total-height: 173px;
$icon-house2-image: '../images/sprite.png';
$icon-house2: (196px, 48px, -196px, -48px, 35px, 40px, 235px, 173px, '../images/sprite.png', 'icon-house2', );
$icon-label-name: 'icon-label';
$icon-label-x: 34px;
$icon-label-y: 153px;
$icon-label-offset-x: -34px;
$icon-label-offset-y: -153px;
$icon-label-width: 15px;
$icon-label-height: 18px;
$icon-label-total-width: 235px;
$icon-label-total-height: 173px;
$icon-label-image: '../images/sprite.png';
$icon-label: (34px, 153px, -34px, -153px, 15px, 18px, 235px, 173px, '../images/sprite.png', 'icon-label', );
$icon-letter-name: 'icon-letter';
$icon-letter-x: 175px;
$icon-letter-y: 134px;
$icon-letter-offset-x: -175px;
$icon-letter-offset-y: -134px;
$icon-letter-width: 18px;
$icon-letter-height: 14px;
$icon-letter-total-width: 235px;
$icon-letter-total-height: 173px;
$icon-letter-image: '../images/sprite.png';
$icon-letter: (175px, 134px, -175px, -134px, 18px, 14px, 235px, 173px, '../images/sprite.png', 'icon-letter', );
$icon-list-name: 'icon-list';
$icon-list-x: 0px;
$icon-list-y: 153px;
$icon-list-offset-x: 0px;
$icon-list-offset-y: -153px;
$icon-list-width: 18px;
$icon-list-height: 20px;
$icon-list-total-width: 235px;
$icon-list-total-height: 173px;
$icon-list-image: '../images/sprite.png';
$icon-list: (0px, 153px, 0px, -153px, 18px, 20px, 235px, 173px, '../images/sprite.png', 'icon-list', );
$icon-people-dark-name: 'icon-people-dark';
$icon-people-dark-x: 55px;
$icon-people-dark-y: 134px;
$icon-people-dark-offset-x: -55px;
$icon-people-dark-offset-y: -134px;
$icon-people-dark-width: 18px;
$icon-people-dark-height: 17px;
$icon-people-dark-total-width: 235px;
$icon-people-dark-total-height: 173px;
$icon-people-dark-image: '../images/sprite.png';
$icon-people-dark: (55px, 134px, -55px, -134px, 18px, 17px, 235px, 173px, '../images/sprite.png', 'icon-people-dark', );
$icon-people-gray-name: 'icon-people-gray';
$icon-people-gray-x: 73px;
$icon-people-gray-y: 134px;
$icon-people-gray-offset-x: -73px;
$icon-people-gray-offset-y: -134px;
$icon-people-gray-width: 18px;
$icon-people-gray-height: 17px;
$icon-people-gray-total-width: 235px;
$icon-people-gray-total-height: 173px;
$icon-people-gray-image: '../images/sprite.png';
$icon-people-gray: (73px, 134px, -73px, -134px, 18px, 17px, 235px, 173px, '../images/sprite.png', 'icon-people-gray', );
$icon-people-name: 'icon-people';
$icon-people-x: 91px;
$icon-people-y: 134px;
$icon-people-offset-x: -91px;
$icon-people-offset-y: -134px;
$icon-people-width: 18px;
$icon-people-height: 17px;
$icon-people-total-width: 235px;
$icon-people-total-height: 173px;
$icon-people-image: '../images/sprite.png';
$icon-people: (91px, 134px, -91px, -134px, 18px, 17px, 235px, 173px, '../images/sprite.png', 'icon-people', );
$icon-question-name: 'icon-question';
$icon-question-x: 108px;
$icon-question-y: 102px;
$icon-question-offset-x: -108px;
$icon-question-offset-y: -102px;
$icon-question-width: 30px;
$icon-question-height: 30px;
$icon-question-total-width: 235px;
$icon-question-total-height: 173px;
$icon-question-image: '../images/sprite.png';
$icon-question: (108px, 102px, -108px, -102px, 30px, 30px, 235px, 173px, '../images/sprite.png', 'icon-question', );
$icon-resume-name: 'icon-resume';
$icon-resume-x: 151px;
$icon-resume-y: 48px;
$icon-resume-offset-x: -151px;
$icon-resume-offset-y: -48px;
$icon-resume-width: 45px;
$icon-resume-height: 46px;
$icon-resume-total-width: 235px;
$icon-resume-total-height: 173px;
$icon-resume-image: '../images/sprite.png';
$icon-resume: (151px, 48px, -151px, -48px, 45px, 46px, 235px, 173px, '../images/sprite.png', 'icon-resume', );
$icon-sett-name: 'icon-sett';
$icon-sett-x: 77px;
$icon-sett-y: 0px;
$icon-sett-offset-x: -77px;
$icon-sett-offset-y: 0px;
$icon-sett-width: 74px;
$icon-sett-height: 61px;
$icon-sett-total-width: 235px;
$icon-sett-total-height: 173px;
$icon-sett-image: '../images/sprite.png';
$icon-sett: (77px, 0px, -77px, 0px, 74px, 61px, 235px, 173px, '../images/sprite.png', 'icon-sett', );
$icon-star-name: 'icon-star';
$icon-star-x: 77px;
$icon-star-y: 102px;
$icon-star-offset-x: -77px;
$icon-star-offset-y: -102px;
$icon-star-width: 31px;
$icon-star-height: 30px;
$icon-star-total-width: 235px;
$icon-star-total-height: 173px;
$icon-star-image: '../images/sprite.png';
$icon-star: (77px, 102px, -77px, -102px, 31px, 30px, 235px, 173px, '../images/sprite.png', 'icon-star', );
$icon-starfill-name: 'icon-starfill';
$icon-starfill-x: 118px;
$icon-starfill-y: 61px;
$icon-starfill-offset-x: -118px;
$icon-starfill-offset-y: -61px;
$icon-starfill-width: 31px;
$icon-starfill-height: 30px;
$icon-starfill-total-width: 235px;
$icon-starfill-total-height: 173px;
$icon-starfill-image: '../images/sprite.png';
$icon-starfill: (118px, 61px, -118px, -61px, 31px, 30px, 235px, 173px, '../images/sprite.png', 'icon-starfill', );
$icon-tel-dark-name: 'icon-tel-dark';
$icon-tel-dark-x: 143px;
$icon-tel-dark-y: 134px;
$icon-tel-dark-offset-x: -143px;
$icon-tel-dark-offset-y: -134px;
$icon-tel-dark-width: 16px;
$icon-tel-dark-height: 16px;
$icon-tel-dark-total-width: 235px;
$icon-tel-dark-total-height: 173px;
$icon-tel-dark-image: '../images/sprite.png';
$icon-tel-dark: (143px, 134px, -143px, -134px, 16px, 16px, 235px, 173px, '../images/sprite.png', 'icon-tel-dark', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 77px;
$icon-tel-y: 61px;
$icon-tel-offset-x: -77px;
$icon-tel-offset-y: -61px;
$icon-tel-width: 41px;
$icon-tel-height: 41px;
$icon-tel-total-width: 235px;
$icon-tel-total-height: 173px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (77px, 61px, -77px, -61px, 41px, 41px, 235px, 173px, '../images/sprite.png', 'icon-tel', );
$icon-telsmall-name: 'icon-telsmall';
$icon-telsmall-x: 159px;
$icon-telsmall-y: 134px;
$icon-telsmall-offset-x: -159px;
$icon-telsmall-offset-y: -134px;
$icon-telsmall-width: 16px;
$icon-telsmall-height: 16px;
$icon-telsmall-total-width: 235px;
$icon-telsmall-total-height: 173px;
$icon-telsmall-image: '../images/sprite.png';
$icon-telsmall: (159px, 134px, -159px, -134px, 16px, 16px, 235px, 173px, '../images/sprite.png', 'icon-telsmall', );
$spritesheet-width: 235px;
$spritesheet-height: 173px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-attach-dark, $icon-back, $icon-bulldozer, $icon-catalog, $icon-clock-dark, $icon-clock, $icon-comment-dark, $icon-comment, $icon-filter-white, $icon-filter, $icon-house, $icon-house2, $icon-label, $icon-letter, $icon-list, $icon-people-dark, $icon-people-gray, $icon-people, $icon-question, $icon-resume, $icon-sett, $icon-star, $icon-starfill, $icon-tel-dark, $icon-tel, $icon-telsmall, );
$spritesheet: (235px, 173px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
