// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-attach-dark-name: 'icon-attach-dark';
$icon-attach-dark-x: 18px;
$icon-attach-dark-y: 194px;
$icon-attach-dark-offset-x: -18px;
$icon-attach-dark-offset-y: -194px;
$icon-attach-dark-width: 16px;
$icon-attach-dark-height: 19px;
$icon-attach-dark-total-width: 235px;
$icon-attach-dark-total-height: 214px;
$icon-attach-dark-image: '../images/sprite.png';
$icon-attach-dark: (18px, 194px, -18px, -194px, 16px, 19px, 235px, 214px, '../images/sprite.png', 'icon-attach-dark', );
$icon-attach-white-name: 'icon-attach-white';
$icon-attach-white-x: 34px;
$icon-attach-white-y: 194px;
$icon-attach-white-offset-x: -34px;
$icon-attach-white-offset-y: -194px;
$icon-attach-white-width: 16px;
$icon-attach-white-height: 19px;
$icon-attach-white-total-width: 235px;
$icon-attach-white-total-height: 214px;
$icon-attach-white-image: '../images/sprite.png';
$icon-attach-white: (34px, 194px, -34px, -194px, 16px, 19px, 235px, 214px, '../images/sprite.png', 'icon-attach-white', );
$icon-back-name: 'icon-back';
$icon-back-x: 38px;
$icon-back-y: 175px;
$icon-back-offset-x: -38px;
$icon-back-offset-y: -175px;
$icon-back-width: 17px;
$icon-back-height: 18px;
$icon-back-total-width: 235px;
$icon-back-total-height: 214px;
$icon-back-image: '../images/sprite.png';
$icon-back: (38px, 175px, -38px, -175px, 17px, 18px, 235px, 214px, '../images/sprite.png', 'icon-back', );
$icon-bulldozer-name: 'icon-bulldozer';
$icon-bulldozer-x: 151px;
$icon-bulldozer-y: 0px;
$icon-bulldozer-offset-x: -151px;
$icon-bulldozer-offset-y: 0px;
$icon-bulldozer-width: 84px;
$icon-bulldozer-height: 48px;
$icon-bulldozer-total-width: 235px;
$icon-bulldozer-total-height: 214px;
$icon-bulldozer-image: '../images/sprite.png';
$icon-bulldozer: (151px, 0px, -151px, 0px, 84px, 48px, 235px, 214px, '../images/sprite.png', 'icon-bulldozer', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 103px;
$icon-camera-y: 107px;
$icon-camera-offset-x: -103px;
$icon-camera-offset-y: -107px;
$icon-camera-width: 23px;
$icon-camera-height: 25px;
$icon-camera-total-width: 235px;
$icon-camera-total-height: 214px;
$icon-camera-image: '../images/sprite.png';
$icon-camera: (103px, 107px, -103px, -107px, 23px, 25px, 235px, 214px, '../images/sprite.png', 'icon-camera', );
$icon-catalog-name: 'icon-catalog';
$icon-catalog-x: 0px;
$icon-catalog-y: 0px;
$icon-catalog-offset-x: 0px;
$icon-catalog-offset-y: 0px;
$icon-catalog-width: 77px;
$icon-catalog-height: 65px;
$icon-catalog-total-width: 235px;
$icon-catalog-total-height: 214px;
$icon-catalog-image: '../images/sprite.png';
$icon-catalog: (0px, 0px, 0px, 0px, 77px, 65px, 235px, 214px, '../images/sprite.png', 'icon-catalog', );
$icon-check-name: 'icon-check';
$icon-check-x: 177px;
$icon-check-y: 112px;
$icon-check-offset-x: -177px;
$icon-check-offset-y: -112px;
$icon-check-width: 25px;
$icon-check-height: 21px;
$icon-check-total-width: 235px;
$icon-check-total-height: 214px;
$icon-check-image: '../images/sprite.png';
$icon-check: (177px, 112px, -177px, -112px, 25px, 21px, 235px, 214px, '../images/sprite.png', 'icon-check', );
$icon-clock-dark-name: 'icon-clock-dark';
$icon-clock-dark-x: 19px;
$icon-clock-dark-y: 175px;
$icon-clock-dark-offset-x: -19px;
$icon-clock-dark-offset-y: -175px;
$icon-clock-dark-width: 19px;
$icon-clock-dark-height: 19px;
$icon-clock-dark-total-width: 235px;
$icon-clock-dark-total-height: 214px;
$icon-clock-dark-image: '../images/sprite.png';
$icon-clock-dark: (19px, 175px, -19px, -175px, 19px, 19px, 235px, 214px, '../images/sprite.png', 'icon-clock-dark', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 0px;
$icon-clock-y: 175px;
$icon-clock-offset-x: 0px;
$icon-clock-offset-y: -175px;
$icon-clock-width: 19px;
$icon-clock-height: 19px;
$icon-clock-total-width: 235px;
$icon-clock-total-height: 214px;
$icon-clock-image: '../images/sprite.png';
$icon-clock: (0px, 175px, 0px, -175px, 19px, 19px, 235px, 214px, '../images/sprite.png', 'icon-clock', );
$icon-comment-dark-name: 'icon-comment-dark';
$icon-comment-dark-x: 126px;
$icon-comment-dark-y: 175px;
$icon-comment-dark-offset-x: -126px;
$icon-comment-dark-offset-y: -175px;
$icon-comment-dark-width: 17px;
$icon-comment-dark-height: 17px;
$icon-comment-dark-total-width: 235px;
$icon-comment-dark-total-height: 214px;
$icon-comment-dark-image: '../images/sprite.png';
$icon-comment-dark: (126px, 175px, -126px, -175px, 17px, 17px, 235px, 214px, '../images/sprite.png', 'icon-comment-dark', );
$icon-comment-name: 'icon-comment';
$icon-comment-x: 109px;
$icon-comment-y: 175px;
$icon-comment-offset-x: -109px;
$icon-comment-offset-y: -175px;
$icon-comment-width: 17px;
$icon-comment-height: 17px;
$icon-comment-total-width: 235px;
$icon-comment-total-height: 214px;
$icon-comment-image: '../images/sprite.png';
$icon-comment: (109px, 175px, -109px, -175px, 17px, 17px, 235px, 214px, '../images/sprite.png', 'icon-comment', );
$icon-filter-white-name: 'icon-filter-white';
$icon-filter-white-x: 41px;
$icon-filter-white-y: 134px;
$icon-filter-white-offset-x: -41px;
$icon-filter-white-offset-y: -134px;
$icon-filter-white-width: 39px;
$icon-filter-white-height: 30px;
$icon-filter-white-total-width: 235px;
$icon-filter-white-total-height: 214px;
$icon-filter-white-image: '../images/sprite.png';
$icon-filter-white: (41px, 134px, -41px, -134px, 39px, 30px, 235px, 214px, '../images/sprite.png', 'icon-filter-white', );
$icon-filter-name: 'icon-filter';
$icon-filter-x: 80px;
$icon-filter-y: 134px;
$icon-filter-offset-x: -80px;
$icon-filter-offset-y: -134px;
$icon-filter-width: 39px;
$icon-filter-height: 30px;
$icon-filter-total-width: 235px;
$icon-filter-total-height: 214px;
$icon-filter-image: '../images/sprite.png';
$icon-filter: (80px, 134px, -80px, -134px, 39px, 30px, 235px, 214px, '../images/sprite.png', 'icon-filter', );
$icon-house-dark-name: 'icon-house-dark';
$icon-house-dark-x: 151px;
$icon-house-dark-y: 112px;
$icon-house-dark-offset-x: -151px;
$icon-house-dark-offset-y: -112px;
$icon-house-dark-width: 26px;
$icon-house-dark-height: 22px;
$icon-house-dark-total-width: 235px;
$icon-house-dark-total-height: 214px;
$icon-house-dark-image: '../images/sprite.png';
$icon-house-dark: (151px, 112px, -151px, -112px, 26px, 22px, 235px, 214px, '../images/sprite.png', 'icon-house-dark', );
$icon-house-name: 'icon-house';
$icon-house-x: 0px;
$icon-house-y: 65px;
$icon-house-offset-x: 0px;
$icon-house-offset-y: -65px;
$icon-house-width: 67px;
$icon-house-height: 69px;
$icon-house-total-width: 235px;
$icon-house-total-height: 214px;
$icon-house-image: '../images/sprite.png';
$icon-house: (0px, 65px, 0px, -65px, 67px, 69px, 235px, 214px, '../images/sprite.png', 'icon-house', );
$icon-house2-name: 'icon-house2';
$icon-house2-x: 200px;
$icon-house2-y: 48px;
$icon-house2-offset-x: -200px;
$icon-house2-offset-y: -48px;
$icon-house2-width: 35px;
$icon-house2-height: 40px;
$icon-house2-total-width: 235px;
$icon-house2-total-height: 214px;
$icon-house2-image: '../images/sprite.png';
$icon-house2: (200px, 48px, -200px, -48px, 35px, 40px, 235px, 214px, '../images/sprite.png', 'icon-house2', );
$icon-label-name: 'icon-label';
$icon-label-x: 65px;
$icon-label-y: 194px;
$icon-label-offset-x: -65px;
$icon-label-offset-y: -194px;
$icon-label-width: 15px;
$icon-label-height: 18px;
$icon-label-total-width: 235px;
$icon-label-total-height: 214px;
$icon-label-image: '../images/sprite.png';
$icon-label: (65px, 194px, -65px, -194px, 15px, 18px, 235px, 214px, '../images/sprite.png', 'icon-label', );
$icon-labelred-name: 'icon-labelred';
$icon-labelred-x: 50px;
$icon-labelred-y: 194px;
$icon-labelred-offset-x: -50px;
$icon-labelred-offset-y: -194px;
$icon-labelred-width: 15px;
$icon-labelred-height: 18px;
$icon-labelred-total-width: 235px;
$icon-labelred-total-height: 214px;
$icon-labelred-image: '../images/sprite.png';
$icon-labelred: (50px, 194px, -50px, -194px, 15px, 18px, 235px, 214px, '../images/sprite.png', 'icon-labelred', );
$icon-letter-name: 'icon-letter';
$icon-letter-x: 175px;
$icon-letter-y: 175px;
$icon-letter-offset-x: -175px;
$icon-letter-offset-y: -175px;
$icon-letter-width: 18px;
$icon-letter-height: 14px;
$icon-letter-total-width: 235px;
$icon-letter-total-height: 214px;
$icon-letter-image: '../images/sprite.png';
$icon-letter: (175px, 175px, -175px, -175px, 18px, 14px, 235px, 214px, '../images/sprite.png', 'icon-letter', );
$icon-list-name: 'icon-list';
$icon-list-x: 0px;
$icon-list-y: 194px;
$icon-list-offset-x: 0px;
$icon-list-offset-y: -194px;
$icon-list-width: 18px;
$icon-list-height: 20px;
$icon-list-total-width: 235px;
$icon-list-total-height: 214px;
$icon-list-image: '../images/sprite.png';
$icon-list: (0px, 194px, 0px, -194px, 18px, 20px, 235px, 214px, '../images/sprite.png', 'icon-list', );
$icon-pencil-dark-name: 'icon-pencil-dark';
$icon-pencil-dark-x: 77px;
$icon-pencil-dark-y: 107px;
$icon-pencil-dark-offset-x: -77px;
$icon-pencil-dark-offset-y: -107px;
$icon-pencil-dark-width: 26px;
$icon-pencil-dark-height: 27px;
$icon-pencil-dark-total-width: 235px;
$icon-pencil-dark-total-height: 214px;
$icon-pencil-dark-image: '../images/sprite.png';
$icon-pencil-dark: (77px, 107px, -77px, -107px, 26px, 27px, 235px, 214px, '../images/sprite.png', 'icon-pencil-dark', );
$icon-pencil-small-name: 'icon-pencil-small';
$icon-pencil-small-x: 211px;
$icon-pencil-small-y: 134px;
$icon-pencil-small-offset-x: -211px;
$icon-pencil-small-offset-y: -134px;
$icon-pencil-small-width: 21px;
$icon-pencil-small-height: 21px;
$icon-pencil-small-total-width: 235px;
$icon-pencil-small-total-height: 214px;
$icon-pencil-small-image: '../images/sprite.png';
$icon-pencil-small: (211px, 134px, -211px, -134px, 21px, 21px, 235px, 214px, '../images/sprite.png', 'icon-pencil-small', );
$icon-pencil-name: 'icon-pencil';
$icon-pencil-x: 122px;
$icon-pencil-y: 61px;
$icon-pencil-offset-x: -122px;
$icon-pencil-offset-y: -61px;
$icon-pencil-width: 28px;
$icon-pencil-height: 27px;
$icon-pencil-total-width: 235px;
$icon-pencil-total-height: 214px;
$icon-pencil-image: '../images/sprite.png';
$icon-pencil: (122px, 61px, -122px, -61px, 28px, 27px, 235px, 214px, '../images/sprite.png', 'icon-pencil', );
$icon-people-dark-name: 'icon-people-dark';
$icon-people-dark-x: 55px;
$icon-people-dark-y: 175px;
$icon-people-dark-offset-x: -55px;
$icon-people-dark-offset-y: -175px;
$icon-people-dark-width: 18px;
$icon-people-dark-height: 17px;
$icon-people-dark-total-width: 235px;
$icon-people-dark-total-height: 214px;
$icon-people-dark-image: '../images/sprite.png';
$icon-people-dark: (55px, 175px, -55px, -175px, 18px, 17px, 235px, 214px, '../images/sprite.png', 'icon-people-dark', );
$icon-people-gray-name: 'icon-people-gray';
$icon-people-gray-x: 73px;
$icon-people-gray-y: 175px;
$icon-people-gray-offset-x: -73px;
$icon-people-gray-offset-y: -175px;
$icon-people-gray-width: 18px;
$icon-people-gray-height: 17px;
$icon-people-gray-total-width: 235px;
$icon-people-gray-total-height: 214px;
$icon-people-gray-image: '../images/sprite.png';
$icon-people-gray: (73px, 175px, -73px, -175px, 18px, 17px, 235px, 214px, '../images/sprite.png', 'icon-people-gray', );
$icon-people-name: 'icon-people';
$icon-people-x: 91px;
$icon-people-y: 175px;
$icon-people-offset-x: -91px;
$icon-people-offset-y: -175px;
$icon-people-width: 18px;
$icon-people-height: 17px;
$icon-people-total-width: 235px;
$icon-people-total-height: 214px;
$icon-people-image: '../images/sprite.png';
$icon-people: (91px, 175px, -91px, -175px, 18px, 17px, 235px, 214px, '../images/sprite.png', 'icon-people', );
$icon-photo-name: 'icon-photo';
$icon-photo-x: 122px;
$icon-photo-y: 88px;
$icon-photo-offset-x: -122px;
$icon-photo-offset-y: -88px;
$icon-photo-width: 21px;
$icon-photo-height: 18px;
$icon-photo-total-width: 235px;
$icon-photo-total-height: 214px;
$icon-photo-image: '../images/sprite.png';
$icon-photo: (122px, 88px, -122px, -88px, 21px, 18px, 235px, 214px, '../images/sprite.png', 'icon-photo', );
$icon-pricelist-name: 'icon-pricelist';
$icon-pricelist-x: 151px;
$icon-pricelist-y: 48px;
$icon-pricelist-offset-x: -151px;
$icon-pricelist-offset-y: -48px;
$icon-pricelist-width: 49px;
$icon-pricelist-height: 64px;
$icon-pricelist-total-width: 235px;
$icon-pricelist-total-height: 214px;
$icon-pricelist-image: '../images/sprite.png';
$icon-pricelist: (151px, 48px, -151px, -48px, 49px, 64px, 235px, 214px, '../images/sprite.png', 'icon-pricelist', );
$icon-question-name: 'icon-question';
$icon-question-x: 181px;
$icon-question-y: 134px;
$icon-question-offset-x: -181px;
$icon-question-offset-y: -134px;
$icon-question-width: 30px;
$icon-question-height: 30px;
$icon-question-total-width: 235px;
$icon-question-total-height: 214px;
$icon-question-image: '../images/sprite.png';
$icon-question: (181px, 134px, -181px, -134px, 30px, 30px, 235px, 214px, '../images/sprite.png', 'icon-question', );
$icon-resume-name: 'icon-resume';
$icon-resume-x: 77px;
$icon-resume-y: 61px;
$icon-resume-offset-x: -77px;
$icon-resume-offset-y: -61px;
$icon-resume-width: 45px;
$icon-resume-height: 46px;
$icon-resume-total-width: 235px;
$icon-resume-total-height: 214px;
$icon-resume-image: '../images/sprite.png';
$icon-resume: (77px, 61px, -77px, -61px, 45px, 46px, 235px, 214px, '../images/sprite.png', 'icon-resume', );
$icon-scheme-name: 'icon-scheme';
$icon-scheme-x: 202px;
$icon-scheme-y: 112px;
$icon-scheme-offset-x: -202px;
$icon-scheme-offset-y: -112px;
$icon-scheme-width: 24px;
$icon-scheme-height: 19px;
$icon-scheme-total-width: 235px;
$icon-scheme-total-height: 214px;
$icon-scheme-image: '../images/sprite.png';
$icon-scheme: (202px, 112px, -202px, -112px, 24px, 19px, 235px, 214px, '../images/sprite.png', 'icon-scheme', );
$icon-sett-name: 'icon-sett';
$icon-sett-x: 77px;
$icon-sett-y: 0px;
$icon-sett-offset-x: -77px;
$icon-sett-offset-y: 0px;
$icon-sett-width: 74px;
$icon-sett-height: 61px;
$icon-sett-total-width: 235px;
$icon-sett-total-height: 214px;
$icon-sett-image: '../images/sprite.png';
$icon-sett: (77px, 0px, -77px, 0px, 74px, 61px, 235px, 214px, '../images/sprite.png', 'icon-sett', );
$icon-star-name: 'icon-star';
$icon-star-x: 119px;
$icon-star-y: 134px;
$icon-star-offset-x: -119px;
$icon-star-offset-y: -134px;
$icon-star-width: 31px;
$icon-star-height: 30px;
$icon-star-total-width: 235px;
$icon-star-total-height: 214px;
$icon-star-image: '../images/sprite.png';
$icon-star: (119px, 134px, -119px, -134px, 31px, 30px, 235px, 214px, '../images/sprite.png', 'icon-star', );
$icon-starfill-name: 'icon-starfill';
$icon-starfill-x: 150px;
$icon-starfill-y: 134px;
$icon-starfill-offset-x: -150px;
$icon-starfill-offset-y: -134px;
$icon-starfill-width: 31px;
$icon-starfill-height: 30px;
$icon-starfill-total-width: 235px;
$icon-starfill-total-height: 214px;
$icon-starfill-image: '../images/sprite.png';
$icon-starfill: (150px, 134px, -150px, -134px, 31px, 30px, 235px, 214px, '../images/sprite.png', 'icon-starfill', );
$icon-starsmall-name: 'icon-starsmall';
$icon-starsmall-x: 200px;
$icon-starsmall-y: 88px;
$icon-starsmall-offset-x: -200px;
$icon-starsmall-offset-y: -88px;
$icon-starsmall-width: 25px;
$icon-starsmall-height: 23px;
$icon-starsmall-total-width: 235px;
$icon-starsmall-total-height: 214px;
$icon-starsmall-image: '../images/sprite.png';
$icon-starsmall: (200px, 88px, -200px, -88px, 25px, 23px, 235px, 214px, '../images/sprite.png', 'icon-starsmall', );
$icon-starsmallfill-name: 'icon-starsmallfill';
$icon-starsmallfill-x: 126px;
$icon-starsmallfill-y: 107px;
$icon-starsmallfill-offset-x: -126px;
$icon-starsmallfill-offset-y: -107px;
$icon-starsmallfill-width: 24px;
$icon-starsmallfill-height: 23px;
$icon-starsmallfill-total-width: 235px;
$icon-starsmallfill-total-height: 214px;
$icon-starsmallfill-image: '../images/sprite.png';
$icon-starsmallfill: (126px, 107px, -126px, -107px, 24px, 23px, 235px, 214px, '../images/sprite.png', 'icon-starsmallfill', );
$icon-tel-dark-name: 'icon-tel-dark';
$icon-tel-dark-x: 143px;
$icon-tel-dark-y: 175px;
$icon-tel-dark-offset-x: -143px;
$icon-tel-dark-offset-y: -175px;
$icon-tel-dark-width: 16px;
$icon-tel-dark-height: 16px;
$icon-tel-dark-total-width: 235px;
$icon-tel-dark-total-height: 214px;
$icon-tel-dark-image: '../images/sprite.png';
$icon-tel-dark: (143px, 175px, -143px, -175px, 16px, 16px, 235px, 214px, '../images/sprite.png', 'icon-tel-dark', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 0px;
$icon-tel-y: 134px;
$icon-tel-offset-x: 0px;
$icon-tel-offset-y: -134px;
$icon-tel-width: 41px;
$icon-tel-height: 41px;
$icon-tel-total-width: 235px;
$icon-tel-total-height: 214px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (0px, 134px, 0px, -134px, 41px, 41px, 235px, 214px, '../images/sprite.png', 'icon-tel', );
$icon-telsmall-name: 'icon-telsmall';
$icon-telsmall-x: 159px;
$icon-telsmall-y: 175px;
$icon-telsmall-offset-x: -159px;
$icon-telsmall-offset-y: -175px;
$icon-telsmall-width: 16px;
$icon-telsmall-height: 16px;
$icon-telsmall-total-width: 235px;
$icon-telsmall-total-height: 214px;
$icon-telsmall-image: '../images/sprite.png';
$icon-telsmall: (159px, 175px, -159px, -175px, 16px, 16px, 235px, 214px, '../images/sprite.png', 'icon-telsmall', );
$spritesheet-width: 235px;
$spritesheet-height: 214px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-attach-dark, $icon-attach-white, $icon-back, $icon-bulldozer, $icon-camera, $icon-catalog, $icon-check, $icon-clock-dark, $icon-clock, $icon-comment-dark, $icon-comment, $icon-filter-white, $icon-filter, $icon-house-dark, $icon-house, $icon-house2, $icon-label, $icon-labelred, $icon-letter, $icon-list, $icon-pencil-dark, $icon-pencil-small, $icon-pencil, $icon-people-dark, $icon-people-gray, $icon-people, $icon-photo, $icon-pricelist, $icon-question, $icon-resume, $icon-scheme, $icon-sett, $icon-star, $icon-starfill, $icon-starsmall, $icon-starsmallfill, $icon-tel-dark, $icon-tel, $icon-telsmall, );
$spritesheet: (235px, 214px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
