<!DOCTYPE HTML>
<html lang="ru"><!-- InstanceBegin template="/Templates/homepage.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow">

<link rel="apple-touch-icon" sizes="180x180" href="/the_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/the_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/the_favicon/favicon-16x16.png">
<link rel="manifest" href="/the_favicon/site.webmanifest">
<link rel="mask-icon" href="/the_favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/the_favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/the_favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/the_favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Калькулятор брусчатки</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" href="/css/nprogress.css">
<link rel="stylesheet" href="/css/styles.min.css">
<script src="/js/libs.min.js"></script>
<script src="/js/preloader.js"></script>
<script src="/js/nouislider.min.js"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="240">
<div class="body">
	<div class="outerwrapper">
		<!-- =header -->
		<header class="header fade-1">
			<div class="header__top show-md">
				<div class="container">
					<div class="row">
						<!-- =contacts -->
						<div class="left">
							<div class="contacts__cell">
								Недвижимость
								<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
							</div>
							<div class="contacts__cell">
								ЖБИ брусчатка
								<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
							</div>
						</div>
						<!-- =/contacts -->	
						<button type="button" class="btn-callback" data-toggle="sidemodal" data-target="#modal-callback">Обратный звонок</button>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row flexbox">
					<div class="logo">
						<a href="/"><img src="/images/logo.png" alt="Кульбытстрой"></a>
					</div>				
					<!-- =nav -->
					<nav id="navbar" class="mainnav">
						<ul class="nav nav-tabs flexbox" role="tablist">
							<li class="folder"> 
								<a href="about.html"><span>О компании</span></a>
								<ul>
									<li><a href="#" title="">История компании</a></li>
									<li><a href="reviews.html" title="">Отзывы</a></li>
									<li><a href="#" title="">Тендеры</a></li>
									<li><a href="#" title="">Разрешения на ввод</a></li>
									<li><a href="news.html" title="">Новости и статьи</a></li>
									<li><a href="actions.html" title="">Акции</a></li>
									<li><a href="contacts.html" title="">Контакты</a></li>
								</ul>
							</li>
							<li class="folder">
								<a href="#"><span>Объекты</span></a>
							</li>
							<li><a href="#"><span>Покупателю</span></a></li>
							<li><a href="#"><span>Кооператив</span></a></li>
							<li><a href="gbi.html"><span>ЖБИ</span></a></li>
							<li><a href="#"><span>Партнерам</span></a></li>
						</ul>
						<div class="show-sm">
							<a href="tel:+123456789">+1234 56-78-89</a>
							<a href="mailto:info@transliftrus.ru">info@site.site</a>
						</div>
					</nav>
					<!-- =/nav -->
					<button type="button" class="btn-callback" data-toggle="sidemodal" data-target="#modal-callback">Обратный звонок</button>
					<!-- =contacts -->
					<div class="contacts__cell contacts__cell-1">
						<p>Недвижимость</p>
						<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
					</div>
					<div class="contacts__cell contacts__cell-2">
						<p>ЖБИ брусчатка</p>
						<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
					</div>
					<!-- =/contacts -->
					<div class="wishlist-button">
						<!-- =wishlist -->
						<div class="wishlist">
							<a href="#" class="wishlist__link"><span class="count fill-effect"><i>1</i></span></a>
						</div>
						<!-- =/wishlist -->
						<!-- =extra menu -->
						<button type="button" class="extra-toggle btn-animate" data-popup="modal-menu">
							<span class="icon-bar icon-bar-full"></span>
							<span class="icon-bar icon-bar-left"></span>
							<span class="icon-bar icon-bar-right"></span>
						</button>
						<!-- =/extra menu -->
					</div>
					<!-- =mobilenav -->
					<button type="button" class="navbar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<button type="button" class="close-menu"><img src="/images/close.png" alt="Закрыть меню"></button>
					<button type="button" class="navbar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<button type="button" class="close-menu"><img src="/images/close.png" alt=""></button>
					<!-- =/mobilenav -->
				</div>
			</div>
		</header>
		<!-- =/header -->
		<!-- InstanceBeginEditable name="EditRegion3" -->
		<div class="calculator-page">
			<!-- =neck -->
			<div class="neck">
				<div class="neck__inner">
					<div class="container">
						<div class="row">
							<!-- =breacrumbs -->
							<div class="breadcrumbs">
								<ul>
									<li><a href="#">Главная</a></li>
									<li>—</li>
									<li class="active">ЖБИ</li>
								</ul>
							</div>
							<!-- =/breacrumbs -->

							<!-- =head -->
							<div class="head">
								<div class="flexbox">
									<div class="head__left">
										<h1 class="title">Калькулятор брусчатки</h1>
										<div class="prompt">
											<p>Укажите необходимые размеры и тип брусчатки. <br>
											В результате программа рассчитает площадь дорожки или площадки, необходимое количество плитки или брусчатки, объем основания под плитку, стоимость работ по укладке и площадь одной плитки. На чертеже в расчете генерируется примерная схема укладки брусчатки или прямоугольной тротуарной плитки.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- =/head -->
						</div>
					</div>
				</div>
			</div>
			<!-- =/neck -->	

			<div class="main" id="main">
				<div class="container">
					<div class="row">					
						<aside class="col-2">
							<div class="box scale">
								<p>Масштаб чертежа</p>

								<div class="controls">
									<input type="radio" class="radio" id="a1" name="scale" value="1" v-model="scale" />
									<label for="a1">A1</label>

									<input type="radio" class="radio" id="a2" name="scale" value="2" v-model="scale" />
									<label for="a2">A2</label>

									<input type="radio" class="radio" id="a3" name="scale" value="3" v-model="scale" />
									<label for="a3">A3</label>

									<input type="radio" class="radio" id="a4" name="scale" value="4" v-model="scale" />
									<label for="a4">A4</label>

									<input type="radio" class="radio" id="a5" name="scale" value="5" v-model="scale" />
									<label for="a5">A5</label>
								</div>
							</div>

							<div class="box tiles">
								<p class="title">Выберите тип брусчатки</p>
								<div class="flexbox nav">
									<a href="#tile1" title="" data-toggle="tab" aria-control="tile1" data-areatile="0.16" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-1.png" alt="" />
										</div>
										Омега
									</a>
									<a href="#tile2" title="" data-toggle="tab" aria-control="tile2" class="active" data-areatile="0.17" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-2.png" alt="" />
										</div>
										Домино
									</a>
									<a href="#tile3" title="" data-toggle="tab" aria-control="tile3" data-areatile="0.18" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-3.png" alt="" />
										</div>
										Катушка
									</a>
									<a href="#tile4" title="" data-toggle="tab" aria-control="tile4" data-areatile="0.19" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-4.png" alt="" />
										</div>
										Волна
									</a>
									<a href="#tile5" title="" data-toggle="tab" aria-control="tile5" data-areatile="0.2" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-5.png" alt="" />
										</div>
										Многоугольник
									</a>
									<a href="#tile6" title="" data-toggle="tab" aria-control="tile6" data-areatile="0.21" v-on:click="changeTile">
										<div class="pic">
											<img src="images/tiles/tile-6.png" alt="" />
										</div>
										Крета
									</a>
								</div>
							</div>

							<div class="box params">
								<p class="title">Укажите необходимые <br>размеры в метрах</p>
								<div class="params__row">
									<label for="length">Длина дорожки, м <span class="abbr">(A)</span></label>
									<input type="number" class="form-control" id="length" value="20" v-model.number="lengthA" tabindex="1" />
								</div>
								<div class="params__row">
									<label for="width">Ширина дорожки, м <span class="abbr">(B)</span></label>
									<input type="number" class="form-control" id="width" value="5" v-model.number="widthB" tabindex="2" />
								</div>
								<div class="params__row">
									<label for="count">Кол-во плитки на 1м<sup>2</sup> <span class="abbr">(С)</span></label>
									<input type="number" class="form-control" id="count" value="6.25" v-model.number="countC" tabindex="3"/>
								</div>
								<div class="params__row">
									<label for="depth">Глубина отсыпки, м<sup>3</sup>  <span class="abbr">(H)</span></label>
									<input type="number" class="form-control" id="depth" value="0.2" v-model.number="depth" tabindex="4"  />
								</div>
							</div>

							<div class="box cost">
								Стоимость работ за 1 м<sup>2</sup> — <span id="sum">400 Р</span>
							</div>

							<div class="box colors">
								<input type="radio" class="radio" id="color1" name="color" :value="color" v-model="lcb" />
								<label for="color1">В цвете</label>

								<input type="radio" class="radio" id="color2" name="color" :value="gray" v-model="lcb" />
								<label for="color2">Ч.б. чертеж</label>	
							</div>

							<button type="button" class="btn submit icon-ruller">Рассчитать</button>
						</aside>
						<div class="col-8">
							<div class="content">
								<div class="flexbox">

									<div class="scheme">
										<div id="pdf">
											<p class="heading">Схема укладки</p>

											<div class="scheme__pic">
												<div class="area-outer-top">
													<div class="area-outer-left">
														<div class="area-top-line">
															<div class="area-left-line">
																<div id="tiles" v-bind:class="[lcb, tile, 'scale'+scale]" style="height: 300px; width: 800px"></div>
																<div class="length">{{lengthA}} м</div>
																<div class="width">{{widthB}} м</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="params">
												<div class="column">
													<p><strong>Длина дорожки:</strong> {{lengthA}} м</p>
													<p><strong>Ширина дорожки:</strong> {{widthB}} м</p>
													<p><strong>Площадь дорожки:</strong> {{areaC}} м<sup>2</sup></p>
												</div>
												<div class="column">
													<p><strong>Площадь одной плитки: </strong> {{areatile}} м<sup>2</sup></p>
													<p><strong>Количество плиток:</strong> {{counts}} шт.</p>
													<p><strong>Объем подсыпки:</strong> {{capacity}} м<sup>3</sup></p>
												</div>
											</div>
										</div>

										<div class="download">
											<a href="javascript:savePDF()" class="pdf">
												Скачать PDF <br>
												(версия для печати)
											</a>
										</div>
									</div>
									<div class="example tab-content">
										<p class="heading">Примеры</p>

										<div role="tabpanel" class="tab-pane fade show active" id="tile1">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>

										<div role="tabpanel" class="tab-pane fade" id="tile2">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>

										<div role="tabpanel" class="tab-pane fade" id="tile3">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>

										<div role="tabpanel" class="tab-pane fade" id="tile4">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>

										<div role="tabpanel" class="tab-pane fade" id="tile5">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>

										<div role="tabpanel" class="tab-pane fade" id="tile6">
											<div class="example__outer">
												<div class="example__pic">
													<a href="tmp/2.jpg" data-fancybox>
														<img src="tmp/example-1.jpg" alt="" />
													</a>
												</div>
												<div class="example__pic">
													<a href="tmp/4.jpg" data-fancybox>
														<img src="tmp/example-2.jpg" alt="" />
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- =related -->
								<div class="related">
									<p class="heading">Сопутствующая продукция</p>
									<div class="carousel">
										<div class="owl-carousel" id="related">
											<div class="related__item">
												<a href="tmp/2.jpg" data-fancybox="gallery1" >
													<div class="related__pic">
														<img src="tmp/related-1.jpg" alt="Тактильная плитка" width="240" height="170" />
													</div>
													<p class="related__title">Тактильная плитка</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery1" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
											<div class="related__item">
												<a href="tmp/4.jpg" data-fancybox="gallery2" >
													<div class="related__pic">
														<img src="tmp/related-2.jpg" alt="Поребрик синий" width="240" height="170" />
													</div>
													<p class="related__title">Поребрик синий</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery2" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
											<div class="related__item">
												<a href="tmp/2.jpg" data-fancybox="gallery1" >
													<div class="related__pic">
														<img src="tmp/related-3.jpg" alt="Бордюр" width="240" height="170" />
													</div>
													<p class="related__title">Бордюр</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery1" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
											<div class="related__item">
												<a href="tmp/4.jpg" data-fancybox="gallery2" >
													<div class="related__pic">
														<img src="tmp/related-4.jpg" alt="Поребрик желтый" width="240" height="170" />
													</div>
													<p class="related__title">Поребрик желтый</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery2" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
											<div class="related__item">
												<a href="tmp/4.jpg" data-fancybox="gallery2" >
													<div class="related__pic">
														<img src="tmp/related-2.jpg" alt="Поребрик синий" width="240" height="170" />
													</div>
													<p class="related__title">Поребрик синий</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery2" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery2" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
											<div class="related__item">
												<a href="tmp/2.jpg" data-fancybox="gallery1" >
													<div class="related__pic">
														<img src="tmp/related-3.jpg" alt="Бордюр" width="240" height="170" />
													</div>
													<p class="related__title">Бордюр</p>
													<div class="related__desc">объём: 0,01, вес: 80, длина: криволинейный, высота: , ширина: 80 см</div>
													<div class="price">381 <span class="rur">i</span></div>
												</a>
												<a data-fancybox="gallery1" href="tmp/6.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/7.jpg" class="visually-hidden"></a>
												<a data-fancybox="gallery1" href="tmp/8.jpg" class="visually-hidden"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- =/related -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- InstanceEndEditable -->
	</div>
	<!-- =footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- =left -->
				<div class="col-1">
					<div class="footer__logo">
						<img src="images/logo2.png" alt="">
					</div>
					<div class="copyright">
						<p class="ao">© 2018 АО «ФИРМА «КУЛЬТБЫТСТРОЙ»</p>
						<p>Все права защищены. При любом копировании материалов, ссылка на сайт обязательна</p>
					</div>
					<div class="show-vsm copyright">Все права защищены. При любом копировании материалов, ссылка на сайт обязательна</div>
					<div class="idealpromo">
						<div class="idealpromo__body">
							Разработка сайта — <a href="#" title="" target="_blank">IdealPromo</a>
						</div>
					</div>
				</div>
				<!-- =/left -->
				<!-- =content -->
				<div class="col-7">
					<div class="footer__content">
						<div class="footer__contacts flexbox">
							<div class="contacts__cell">
								<p>Недвижимость</p>
								<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
							</div>
							<div class="contacts__cell">
								<p>ЖБИ брусчатка</p>
								<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
							</div>
							<button type="button" class="btn-callback" data-toggle="sidemodal" data-target="#modal-callback">Обратный звонок</button>
							<div class="social">
								<a href="#" title="" target="_blank"><img src="images/social/vk.png" alt="Вконтакте"></a>
								<a href="#" title="" target="_blank"><img src="images/social/fb.png" alt="Facebook"></a>
								<a href="#" title="" target="_blank"></a>
							</div>
						</div>
						<div class="footer__menu flexbox">
							<div class="cell">
								<dl>
									<dt>О компании</dt>
									<dd><a href="#" title="">История компании</a></dd>
									<dd><a href="#" title="">Отзывы</a></dd>
									<dd><a href="#" title="">Тендеры</a></dd>
									<dd><a href="#" title="">Разрешения на ввод</a></dd>
									<dd><a href="#" title="">Новости и статьи</a></dd>
									<dd><a href="#" title="">Акции</a></dd>
									<dd><a href="#" title="">Контакты</a></dd>
								</dl>
							</div>
							<div class="cell">
								<dl>
									<dt>Объекты</dt>
									<dd><a href="#" title="">Квартиры</a></dd>
									<dd><a href="#" title="">Коммерческое</a></dd>
									<dd><a href="#" title="">Ход строительства</a></dd>
								</dl>
								<dl>
									<dt>Партнерам</dt>
									<dd><a href="#" title="">Подрядчикам</a></dd>
									<dd><a href="#" title="">Риэлторам</a></dd>
								</dl>
							</div>
							<div class="cell">
								<dl>
									<dt>Покупателю</dt>
									<dd><a href="#" title="">Ипотека</a></dd>
									<dd><a href="#" title="">Ипотечный калькулятор</a></dd>
									<dd><a href="#" title="">Покупка</a></dd>
									<dd><a href="#" title="">Использование</a></dd>
									<dd><a href="#" title="">Часто задаваемые вопросы</a></dd>
								</dl>
							</div>
							<div class="cell">
								<dl>
									<dt>Кооператив</dt>
									<dd><a href="#" title="">Энциклопедия пайщика</a></dd>
									<dd><a href="#" title="">Способы оплаты</a></dd>
									<dd><a href="#" title="">Калькулятор платежей</a></dd>
									<dd><a href="#" title="">Квартиры ЖНК</a></dd>
								</dl>
							</div>
							<div class="cell">
								<dl>
									<dt>ЖБИ</dt>
									<dd><a href="#" title="">Продукция</a></dd>
									<dd><a href="#" title="">Цены</a></dd>
									<dd><a href="#" title="">Калькулятор брусчатки</a></dd>
									<dd><a href="#" title="">Контакты</a></dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<!-- =/content -->
				<!-- =right -->
				<div class="col-2 subscribe">
					<div class="subscribe__text">
						<p class="title">ПОДПИСКА</p>
						<p>Подпишь на обновления, чтобы незамедлительно получать наши новости</p>
					</div>
					<form action="#" method="post">
						<fieldset>
							<div class="subscribe__body">
								<div class="input-field icon-people">
									<label for="subscribe_email" class="name-field">Ваш E-mail</label>
									<label for="subscribe_email" class="helper-field helper-field-name">Ваш E-mail</label>
									<input type="email" id="subscribe_email" name="email" class="form-control email required" value="">
								</div>
								<button type="submit" class="submit btn-animate" value=""><span>Подписаться</span></button>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- =/right -->
			</div>
		</div>
	</footer>
	<!-- =/footer -->
</div>
<!-- =fixed-header -->
<div class="fixed-header">
	<div class="container">
		<div class="row flexbox">
			<div class="logo">
				<a href="/" title="">
					<img src="/images/logo.png" alt="">
				</a>
			</div>
			<div class="qfilter">
				<a href="#" class="line-animate" data-toggle="modal" data-target="#filter"><span><i>Поиск недвижимости</i></span></a>
			</div>
			<button type="button" class="btn-callback" data-toggle="sidemodal" data-target="#modal-callback">Обратный звонок</button>
			<!-- =contacts -->
			<div class="contacts__cell contacts__cell-1">
				<p>Недвижимость</p>
				<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
			</div>
			<div class="contacts__cell contacts__cell-2">
				<p>ЖБИ брусчатка</p>
				<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
			</div>
			<!-- =/contacts -->
			<!-- =wishlist -->
			<div class="wishlist">
				<a href="#" class="wishlist__link"><span class="count fill-effect"><i>1</i></span></a>
			</div>
			<!-- =/wishlist -->
			<!-- =extra menu -->
			<button type="button" class="extra-toggle btn-animate" data-popup="modal-menu">
				<span class="icon-bar icon-bar-full"></span>
				<span class="icon-bar icon-bar-left"></span>
				<span class="icon-bar icon-bar-right"></span>
			</button>
			<!-- =/extra menu -->
		</div>
	</div>
</div>
<!-- =/fixed-header -->
<!-- =modal callback -->
<div class="modal-callback sidemodal" id="modal-callback" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="inner" role="document">
		<p class="title">Обратный звонок</p>
		<div class="text">Оставьте свои контактные данные и наш менеджер перезвонит Вам в течение рабочего дня</div>
		<form action="#" method="post" class="callback__form">
			<fieldset>
				<div class="input-field icon-people">
					<label for="mcallback_name" class="name-field">Ваше имя</label>
					<label for="mcallback_name" class="helper-field helper-field-name">Ваше имя</label>
					<input type="email" id="mcallback_name" name="name" class="form-control required" value="">
				</div>
				<div class="input-field icon-tel">
					<label for="mcallback_tel" class="name-field">Телефон</label>
					<label for="mcallback_tel" class="helper-field helper-field-name">Телефон</label>
					<input type="tel" id="mcallback_tel" name="tel" class="form-control tel required" value="">
				</div>
				<button type="submit" class="submit btn-animate"><span>Перезвоните мне</span></button>
			</fieldset>
		</form>
		<button type="button" data-dismiss="modal" class="close-modal" aria-label="Закрыть">
			<svg width="24" height="24">
				<line x1="0" y1="0" x2="24" y2="24"/>
				<line x1="24" y1="0" x2="0" y2="24"/>
			</svg>
		</button>
	</div>
</div>
<!-- =/modal callback -->
<!-- =modal menu -->
<div class="modal-menu" id="modal-menu" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="inner" role="document">
		<div class="container">
			<div class="row">
				<div class="menu">
					<div class="menu__top">
						<p class="title">Объекты в продаже</p>
						<div class="flexbox">
							<div class="cell cell-flat">
								<p class="subtitle">Квартиры</p>
								<div class="columns flexbox">
									<div class="column">
										<p><a href="#" title="">Новониколаевский</a></p>
										<p><a href="#" title="">Мичурино</a></p>
										<p><a href="#" title="">Тихие зори</a></p>
										<p><a href="#" title="">Годенко - Киренского - Белорусская</a></p>
										<p><a href="#" title="">Иннокентьевский</a></p>
										<p><a href="#" title="">Стасовой</a></p>
									</div>
									<div class="column">
										<p><a href="#" title="">Курчатова</a></p>
										<p><a href="#" title="">Калина</a></p>
										<p><a href="#" title="">Домино</a></p>
										<p><a href="#" title="">пер. Уютный</a></p>
										<p><a href="#" title="">Шахтеров</a></p>
									</div>
								</div>
							</div>
							<div class="cell cell-commerce">
								<p class="subtitle">Коммерческое</p>
								<p><a href="#" title="">Новониколаевский</a></p>
								<p><a href="#" title="">Годенко - Киренского - Белорусская</a></p>
								<p><a href="#" title="">Курчатова</a></p>
								<p><a href="#" title="">Домино</a></p>
							</div>
							<div class="cell cell-others">
								<p><a href="#" title="">Все объекты</a></p>
								<p><a href="#" title="">Избранные</a></p>
								<p><a href="#" title="">Ход строительства</a></p>
							</div>
						</div>
					</div>
					<div class="menu__bottom">
						<div class="cell">
							<dl>
								<dt>О компании</dt>
								<dd><a href="#" title="">История компании</a></dd>
								<dd><a href="#" title="">Отзывы</a></dd>
								<dd><a href="#" title="">Тендеры</a></dd>
								<dd><a href="#" title="">Разрешения на ввод</a></dd>				
								<dd><a href="#" title="">Новости и статьи</a></dd>
								<dd><a href="#" title="">Акции</a></dd>
								<dd><a href="#" title="">Контакты</a></dd>
							</dl>
						</div>
						<div class="cell">
							<dl>
								<dt>Покупателю</dt>
								<dd><a href="#" title="">Ипотека</a></dd>
								<dd><a href="#" title="">Ипотечный калькулятор</a></dd>
								<dd><a href="#" title="">Покупка</a></dd>
								<dd><a href="#" title="">Использование</a></dd>
								<dd><a href="#" title="">Часто задаваемые вопросы</a></dd>
							</dl>
						</div>
						<div class="cell">
							<dl>
								<dt>Кооператив</dt>
								<dd><a href="#" title="">Энциклопедия пайщика</a></dd>
								<dd><a href="#" title="">Способы оплаты</a></dd>
								<dd><a href="#" title="">Калькулятор платежей</a></dd>
								<dd><a href="#" title="">Квартиры ЖНК</a></dd>
							</dl>
						</div>
						<div class="cell">
							<dl>
								<dt>ЖБИ</dt>
								<dd><a href="#" title="">Продукция</a></dd>
								<dd><a href="#" title="">Цены</a></dd>
								<dd><a href="#" title="">Калькулятор брусчатки</a></dd>
								<dd><a href="#" title="">Контакты</a></dd>
							</dl>
						</div>
						<div class="cell">
							<dl>
								<dt>Партнерам</dt>
								<dd><a href="#" title="">Подрядчикам</a></dd>
								<dd><a href="#" title="">Риэлторам</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="contacts">
					<div class="contacts__cell">
						<p>Недвижимость</p>
						<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
					</div>
					<div class="contacts__cell">
						<p>ЖБИ брусчатка</p>
						<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
					</div>
					<button type="button" class="btn-callback">Обратный звонок</button>
					<div class="address">
						<p class="title">Головной офис</p>
						<p>г. Красноярск, ул. Мусоргского, 18. </p>
						<p class="title">Офисы продаж</p>
						<p><strong>Офис продаж «Центр»</strong></p>
						<p>ул. Ады Лебедевой, 18.</p>
						<br>
						<p><strong>Офис продаж «Октябрьский»</strong></p>
						<p>ул. Академика Киренского, 71.</p>
					</div>
					<div class="social">
						<a href="#" title="" target="_blank"><img src="images/social/vk.png" alt="Вконтакте"></a>
						<a href="#" title="" target="_blank"><img src="images/social/fb.png" alt="Facebook"></a>
						<a href="#" title="" target="_blank"></a>
					</div>
				</div>
				<button type="button" data-dismiss="modal" class="close-modal" aria-label="Закрыть">
					<svg width="24" height="24">
						<line x1="0" y1="0" x2="24" y2="24"/>
						<line x1="24" y1="0" x2="0" y2="24"/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- =/modal menu -->
<!-- =add-faq `FAQ.HTML` -->
<div class="modal fade" id="add-faq" tabindex="-1" role="dialog" aria-labelledby="add-faqLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-title" id="add-faqLabel">Задать вопрос</div>
			<p class="modal-text">Оставьте свои контактные данные и наш менеджер перезвонит Вам в течение рабочего дня</p>
			<form action="#" method="post" id="add-faq-form">
				<fieldset>
					<div class="flexbox">
						<div class="cell">
							<div class="input-field icon-people">
								<label for="namefaq" class="name-field">Ваше имя</label>
								<label for="namefaq" class="helper-field helper-field-name">Ваше имя</label>					
								<input type="text" id="namefaq" name="name" class="form-control required" value="">
							</div>							
						</div>
						<div class="cell">
							<div class="input-field icon-letter">
								<label for="emailfaq" class="name-field">E-mail</label>
								<label for="emailfaq" class="helper-field helper-field-email">E-mail</label>
								<input type="email" id="emailfaq" name="email" class="form-control required email" value="">
							</div>
						</div>
					</div>
					<div class="input-field textarea-field icon-comment">
						<label for="msgfaq" class="name-field">Текст вопроса</label>
						<label for="msgfaq" class="helper-field helper-field-msg">Текст вопроса</label>
						<textarea id="msgfaq" name="msg" class="form-control required"></textarea>
					</div>
					<div class="bottom">
						<button type="submit" class="submit btn-animate"><span>Задать вопрос</span></button>
					</div>
				</fieldset>
			</form>
			<button type="button" class="close" data-dismiss="modal">
				<svg width="24" height="24">
					<line x1="0" y1="0" x2="24" y2="24"/>
					<line x1="24" y1="0" x2="0" y2="24"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<!-- =/add-faq -->
<!-- =answer-vacancy `VACANCIES.HTML` -->
<div class="modal fade" id="answer-vacancy" tabindex="-1" role="dialog" aria-labelledby="answer-vacancyLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-title" id="answer-vacancyLabel">Ответить на вакансию</div>
			<p class="modal-text">Оставьте свои контактные данные и наш менеджер перезвонит Вам в течение рабочего дня</p>
			<form action="#" method="post" id="answer-vacancy-form">
				<fieldset>
					<div class="flexbox">
						<div class="cell">
							<div class="input-field icon-people">
								<label for="namevacancy" class="name-field">Ваше имя</label>
								<label for="namevacancy" class="helper-field helper-field-name">Ваше имя</label>					
								<input type="text" id="namevacancy" name="name" class="form-control required" value="">
							</div>							
						</div>
						<div class="cell">
							<div class="input-field icon-tel">
								<label for="telvacancy" class="name-field">Телефон</label>
								<label for="telvacancy" class="helper-field helper-field-tel">Телефон</label>
								<input type="tel" id="telvacancy" name="tel" class="form-control required tel" value="">
							</div>
						</div>
					</div>
					<div class="input-field textarea-field icon-comment">
						<label for="msgvacancy" class="name-field">Комментарий</label>
						<label for="msgvacancy" class="helper-field helper-field-msg">Комментарий</label>
						<textarea id="msgvacancy" name="msg" class="form-control required"></textarea>
					</div>
					<div class="file-upload icon-attach-white">
						<label for="attachmodal">
							<input type="file" name="file" id="attachmodal" class="attach" onchange="getFileName(this);">
							<span>Прикрепить файл</span>(до 3мб)
						</label>
						<div class="file-name"></div>
					</div>
					<div class="bottom">
						<input type="hidden" name="vacancy" id="vacancy" value="">
						<button type="submit" class="submit btn-animate"><span>Отправить ответ на вакансию</span></button>
					</div>
				</fieldset>
			</form>
			<button type="button" class="close" data-dismiss="modal">
				<svg width="24" height="24">
					<line x1="0" y1="0" x2="24" y2="24"/>
					<line x1="24" y1="0" x2="0" y2="24"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<!-- =/answer-vacancy -->
<!-- =filter-->
<div class="modal fade" id="filter" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="filter flexbox">
				<div class="nav">
					<a href="#fpanel1" role="button" class="btn active" data-toggle="tab" aria-controls="fpanel1">Квартиры</a>
					<a href="#fpanel2" role="button" class="btn" data-toggle="tab" aria-controls="fpanel2">Коммерческое</a>
				</div>
				<div class="tab-content filter__body">
					<div role="tabpanel" class="tab-pane fade show active" id="fpanel1">
						<div class="flexbox">
							<div class="cell cell-select">
								<div class="objects-select__wrap">
									<select name="obj[]" multiple placeholder="Выберите объект" data-placeholder="Объекты" data-count="объекта" data-count-plural="объектов" data-count-single="объект" class="j-search-select">
											<option value="34">ЖК Стасовой</option>
											<option value="57">ЖК Миручино</option>
											<option value="39">ЖК Годенко</option>
											<option value="76">ЖК Новониколаевский</option>
											<option value="72">Калейдоскоп</option>
											<option value="63">Паруса</option>
											<option value="86">Звездный Дуэт</option>
											<option value="36">Цивилизация</option>
											<option value="41">София</option>
											<option value="55">Цветной город</option>
											<option value="78">Богемия</option>
											<option value="60">Новая Охта</option>
											<option value="88">Цивилизация на Неве</option>
											<option value="61">Шуваловский</option>
									</select>	
								</div>
								<div class="installment">
									<div class="installment__container">
										<input type="checkbox" class="checkbox" id="fspecial" name="special" value="">
										<label class="checkbox-label" for="fspecial">Рассрочка 5%от <br> застройщика (ЖНК)</label>		
										<span class="installment__tooltip">
											<span class="installment__tooltip_content">
												С 1998 года фирма «Культбытстрой» освоила выпуск тротуарной плитки на немецком оборудовании фирмы «НESS». Двухбункерная система
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="cell cell-checkbox flex-cv">
								<div class="room__group">
									<div class="room__checkbox">
										<input type="checkbox" class="checkbox" id="fcheckbox1">
										<label for="fcheckbox1">C</label>
									</div>
									<div class="room__checkbox">
										<input type="checkbox" class="checkbox" id="fcheckbox2">
										<label for="fcheckbox2">1</label>
									</div>
									<div class="room__checkbox">
										<input type="checkbox" class="checkbox" id="fcheckbox3">
										<label for="fcheckbox3">2</label>
									</div>
									<div class="room__checkbox">
										<input type="checkbox" class="checkbox" id="fcheckbox4">
										<label for="fcheckbox4">3</label>
									</div>
									<div class="room__checkbox">
										<input type="checkbox" class="checkbox" id="fcheckbox5">
										<label for="fcheckbox5">4</label>
									</div>
								</div>
							</div>
							<div class="cell cell-slider">
								<p class="cell__title">Стоимость</p>
								<div class="cell__wrapper">
									<div class="slider">
										<div id="fslider-cost"></div>
									</div>
									<div class="slider_controls">
										<input type="text" id="fcost-from" class="param_control" placeholder="от"> 
										<span class="separate"> — </span>
										<input type="text" id="fcost-to" class="param_control" placeholder="до">
									</div>
								</div>
							</div>
							<div class="cell cell-slider cell-slider-area">
								<p class="cell__title">Площадь</p>
								<div class="cell__wrapper">
									<div class="slider">
										<div id="fslider-area"></div>
									</div>
									<div class="slider_controls">
										<input type="text" id="farea-from" class="param_control" placeholder="от">
										<span class="separate"> — </span>
										<input type="text" id="farea-to" class="param_control" placeholder="до">
									</div>
								</div>
							</div>
							<div class="cell cell-buttons">
								<a href="#" class="showflat icon-flats">
									Показать <br> <span id="fcountflat">256 квартир</span>
								</a>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="fpanel2">
						<div class="flexbox">
							<div class="cell cell-select">
								<div class="objects-select__wrap">
									<select name="obj2[]" multiple placeholder="Выберите объект" data-placeholder="Объекты" data-count="объекта" data-count-plural="объектов" data-count-single="объект" class="j-search-select">
											<option value="34">ЖК Стасовой</option>
											<option value="57">ЖК Миручино</option>
											<option value="39">ЖК Годенко</option>
											<option value="76">ЖК Новониколаевский</option>
											<option value="72">Калейдоскоп</option>
											<option value="63">Паруса</option>
											<option value="86">Звездный Дуэт</option>
											<option value="36">Цивилизация</option>
											<option value="41">София</option>
											<option value="55">Цветной город</option>
											<option value="78">Богемия</option>
											<option value="60">Новая Охта</option>
											<option value="88">Цивилизация на Неве</option>
											<option value="61">Шуваловский</option>
									</select>	
								</div>
							</div>
							<div class="cell cell-slider">
								<p class="cell__title">Стоимость</p>
								<div class="cell__wrapper">
									<div class="slider">
										<div id="fslider-cost2"></div>
									</div>
									<div class="slider_controls">
										<input type="text" id="fcost2-from" class="param_control" placeholder="от"> 
										<span class="separate"> — </span>
										<input type="text" id="fcost2-to" class="param_control" placeholder="до">
									</div>
								</div>
							</div>
							<div class="cell cell-slider cell-slider-area">
								<p class="cell__title">Площадь</p>
								<div class="cell__wrapper">
									<div class="slider">
										<div id="fslider-area2"></div>
									</div>
									<div class="slider_controls">
										<input type="text" id="farea2-from" class="param_control" placeholder="от">
										<span class="separate"> — </span>
										<input type="text" id="farea2-to" class="param_control" placeholder="до">
									</div>
								</div>
							</div>
							<div class="cell cell-buttons">
								<a href="#" class="showflat icon-flats">
									Показать <br> <span id="fcountflat2">256 квартир</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				var filterSlider1 = document.getElementById('fslider-cost'),
					fcostfrom = document.getElementById('fcost-from'),
					fcostto = document.getElementById('fcost-to');
				var filterSlider2 = document.getElementById('fslider-area'),
					fareafrom = document.getElementById('farea-from'),
					fareato = document.getElementById('farea-to');
				var filterSlider3 = document.getElementById('fslider-cost2'),
					fcost2from = document.getElementById('fcost2-from'),
					fcost2to = document.getElementById('fcost2-to');
				var filterSlider4 = document.getElementById('fslider-area2'),
					farea2from = document.getElementById('farea2-from'),
					farea2to = document.getElementById('farea2-to');
				// цена - квартиры
				noUiSlider.create(filterSlider1, {
					start: [ 40, 120 ],
					connect: true,
					range: {
						'min': 20,
						'max': 150
					}
				});
				filterSlider1.noUiSlider.on('update', function(values, handle){
					fcostfrom.value = 'от ' + parseInt(values[0]) + ' млн. руб';
					fcostto.value = 'от ' + parseInt(values[1]) + ' млн. руб';
				});
				fcostfrom.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider1.noUiSlider.set([value, null]);
				});
				fcostto.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider1.noUiSlider.set([null, value]);
				});	
				// площадь - квартиры
				noUiSlider.create(filterSlider2, {
					start: [ 40, 120 ],
					connect: true,
					range: {
						'min': 25,
						'max': 250
					}
				});
				filterSlider2.noUiSlider.on('update', function(values, handle){
					fareafrom.value = 'от ' + parseInt(values[0]) + ' м.кв.';
					fareato.value = 'от ' + parseInt(values[1]) + ' м.кв.';
				});
				fareafrom.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider2.noUiSlider.set([value, null]);
				});
				fareato.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider2.noUiSlider.set([null, value]);
				});	
				// цена - коммерческое
				noUiSlider.create(filterSlider3, {
					start: [ 40, 120 ],
					connect: true,
					range: {
						'min': 20,
						'max': 150
					}
				});
				filterSlider3.noUiSlider.on('update', function(values, handle){
					fcost2from.value = 'от ' + parseInt(values[0]) + ' млн. руб';
					fcost2to.value = 'от ' + parseInt(values[1]) + ' млн. руб';
				});
				fcost2from.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider3.noUiSlider.set([value, null]);
				});
				fcost2to.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider3.noUiSlider.set([null, value]);
				});	
				// площадь - коммерческое
				noUiSlider.create(filterSlider4, {
					start: [ 40, 120 ],
					connect: true,
					range: {
						'min': 25,
						'max': 250
					}
				});
				filterSlider4.noUiSlider.on('update', function(values, handle){
					farea2from.value = 'от ' + parseInt(values[0]) + ' м.кв.';
					farea2to.value = 'от ' + parseInt(values[1]) + ' м.кв.';
				});
				farea2from.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider4.noUiSlider.set([value, null]);
				});
				farea2to.addEventListener('change', function ( ) {
					var value = this.value;
					value = value.replace(/\D+/g,"");
					filterSlider4.noUiSlider.set([null, value]);
				});	
			</script>
			<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
				<svg width="24" height="24">
					<line x1="0" y1="0" x2="24" y2="24"/>
					<line x1="24" y1="0" x2="0" y2="24"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<!-- =/filter -->
<!-- =apanel -->
<div class="apanel">
	<div class="apanel__inner">
		<!-- =top -->
		<div class="apanel__top flexbox">
			<button type="button" class="btn-callback" data-toggle="sidemodal" data-target="#modal-callback">Обратный звонок</button>
			<!-- =wishlist -->
			<div class="wishlist">
				<a href="#" class="wishlist__link"><span class="count fill-effect"><i>1</i></span></a>
			</div>
			<!-- =/wishlist -->
			<!-- =close -->
			<button type="button" data-dismiss="modal" class="close-menu" aria-label="Закрыть">
				<svg width="24" height="24">
					<line x1="0" y1="0" x2="24" y2="24"/>
					<line x1="24" y1="0" x2="0" y2="24"/>
				</svg>
			</button>				
			<!-- =/close -->
		</div>
		<!-- =/top -->
		<!-- =body -->
		<div class="apanel__body">
			<div class="page">
				<nav>
					<ul>
						<li class="folder"><span data-name="about">О компании</span></li>
						<li class="folder"><span data-name="objects">Объекты</span></li>
						<li class="folder"><span data-name="buyers">Покупателю</span></li>
						<li class="folder"><span data-name="coop">Кооператив</span></li>
						<li class="folder"><span data-name="gbi">ЖБИ</span></li>
						<li class="folder"><span data-name="partners">Партнерам</span></li>
					</ul>
				</nav>
				<div class="contacts_social">
					<div class="contacts">
						<div class="contacts__cell">
							<p>Недвижимость</p>
							<a href="tel:+73912179217" title="" class="tel"><span class="code">+7 (391)</span> 217-9-217</a>
						</div>
						<div class="contacts__cell">
							<p>ЖБИ брусчатка</p>
							<a href="tel:+73912016092" title="" class="tel"><span class="code">+7 (391)</span> 201-60-92</a>
						</div>
					</div>
					<div class="social">
						<a href="#" title="" target="_blank"><img src="images/social/vk.png" alt="Вконтакте"></a>
						<a href="#" title="" target="_blank"><img src="images/social/fb.png" alt="Facebook"></a>
						<a href="#" title="" target="_blank"></a>
					</div>
				</div>
			</div>
			<div class="page page-asubnav">
				<!-- =subnav -->
				<div class="asubnav">
					<div class="back"><a href="#" class="back_btn">Назад</a></div>
					<div class="asubnav_content subnav_content-about">
						<ul>
							<li><a href="#" title="">История компании</a></li>
							<li><a href="#" title="">Отзывы</a></li>
							<li><a href="#" title="">Тендеры</a></li>
							<li><a href="#" title="">Разрешения на ввод</a></li>
							<li><a href="#" title="">Новости и статьи</a></li>
							<li><a href="#" title="">Акции</a></li>
							<li><a href="#" title="">Контакты</a></li>
						</ul>
					</div>	
					<div class="asubnav_content subnav_content-objects">
						<ul>
							<li><a href="http://google.com">Объект 1</a></li>
							<li><a href="#">Объект 2</a></li>
							<li><a href="#">Объект 3</a></li>
							<li><a href="#">Объект 4</a></li>
						</ul>
					</div>
					<div class="asubnav_content subnav_content-buyers">
						<ul>
							<li><a href="#" title="">Проект 1</a></li>
							<li><a href="#" title="">Проект 2</a></li>
							<li><a href="#" title="">Проект 3</a></li>
							<li><a href="#" title="">Проект 4</a></li>
							<li><a href="#" title="">Проект 5</a></li>
							<li><a href="#" title="">Проект 6</a></li>
							<li><a href="#" title="">Проект 7</a></li>
						</ul>
					</div>
					<div class="asubnav_content subnav_content-coop">
						<ul>
							<li><a href="#" title="">Проект 1</a></li>
							<li><a href="#" title="">Проект 2</a></li>
							<li><a href="#" title="">Проект 3</a></li>
							<li><a href="#" title="">Проект 4</a></li>
						</ul>
					</div>
					<div class="asubnav_content subnav_content-gbi">
						<ul>
							<li><a href="#" title="">ЖБИ 1</a></li>
							<li><a href="#" title="">ЖБИ 2</a></li>
							<li><a href="#" title="">ЖБИ 3</a></li>
							<li><a href="#" title="">ЖБИ 4</a></li>
						</ul>
					</div>
					<div class="asubnav_content subnav_content-partners">
						<ul>
							<li><a href="#" title="">Партнер 1</a></li>
							<li><a href="#" title="">Партнер 2</a></li>
							<li><a href="#" title="">Партнер 3</a></li>
							<li><a href="#" title="">Партнер 4</a></li>
						</ul>
					</div>
				</div>
				<!-- =/subnav -->
			</div>
		</div>
		<!-- =/body -->
	</div>
</div>
<!-- =/apanel -->
<!-- InstanceBeginEditable name="EditRegion5" -->
<!-- InstanceEndEditable -->
<div id="outdated"></div>
<link rel="stylesheet" property="stylesheet" href="/outdatedbrowser/outdatedbrowser.min.css">
<script src="/outdatedbrowser/outdatedbrowser.min.js"></script>
<link rel="stylesheet" href="/css/selectize.css">
<link rel="stylesheet" property="stylesheet" href="css/nouislider.css">
<!-- =owl-->
<script src="js/owl.carousel.min.js"></script>
<link rel="stylesheet" property="stylesheet" href="css/owl.carousel.css">
<script src="js/selectize.min.js"></script>
<!-- =scrollbar-->
<script src="js/perfect-scrollbar.min.js"></script>
<link rel="stylesheet" property="stylesheet" href="/css/perfect-scrollbar.css">
<!-- =phone mask -->
<script src="js/inputmask/jquery.inputmask.bundle.min.js"></script>
<!-- =/phone mask -->
<script src="/js/engine.js"></script>
<!-- InstanceBeginEditable name="EditRegion4" -->
<script src="/js/inputmask/inputmask.binding.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<link rel="stylesheet" property="stylesheet" href="css/jquery.fancybox.min.css">

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/vue2-filters.min.js"></script>

<script src="/js/app.js"></script>

<script src="/js/jspdf.min.js"></script>
<script src="js/dom-to-image.min.js"></script>

<script>
function savePDF() {	
	node = document.getElementById('pdf');
	domtoimage.toPng(node)
    .then(function (dataUrl) {
		var doc = new jsPDF();
		doc.addImage(dataUrl, 'PNG', 10, 10);
		doc.save('sheme.pdf');
    })
    .catch(function (error) {
        console.error('oops, something went wrong!', error);
    });
}
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
